Repository hackforla/website, pull requests merged in 2021-12, with the labels that each got.

#2525 Update slack link for Food Oasis
  _projects/food-oasis.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page

#2526 Update Expunge Assist Slack Link
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page

#2530 deleted demo, test site, site links
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page

#2532 Update README link in 100-Automations.md
  _projects/100-automations.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page

#2534 updated civic opp project github link issue #2434
  _projects/civic-opportunity-project.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page

#2541 Updated the URL Link-Practice-2490
  _data/internal/communities/ui-ux.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Communities of Practice

#2543 Change Bold to Strong in Donate.html
  pages/donate.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, 2 weeks inactive

#2546 Added GitHub link to community of practice: Ops
  _data/internal/communities/ops.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Communities of Practice

#2538 add link giving credits
  _data/internal/credits/giving.yml
Labels: role: front end, Size: Good second issue, P-Feature: Credit

#2535 Add new project to website: EMS Triage Tracker #2383
  _data/internal/program-areas/civic-tech-infrastructure-card.yml
  _projects/ems-triage-tracker.md
  assets/images/misc/no-photo.png
  assets/images/projects/ems-triage-tracker-hero.png
  assets/images/projects/ems-triage-tracker.png
  assets/pdfs/EMS-Triage-Tracker-One-Sheet.pdf
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Good second issue

#2551 Updated Diversity link in Credit page-2094
  _data/internal/credits/diversity.yml
Labels: role: front end, Size: Good second issue, P-Feature: Credit

#2545 Update ballotnav overview link 2235
  _projects/ballot-nav.md
  assets/pdfs/BallotNav-Project-One-Sheet.pdf
Labels: role: front end, Size: Good second issue, Status: Updated, Feature: Refactor HTML

#2564 Update how 'Overview' link opens for Civic Opportunity
  _projects/civic-opportunity-project.md
  assets/pdfs/Civic-Opportunity-Project-One-Sheet.pdf
Labels: role: front end, Size: Good second issue, Feature: Refactor HTML

#2549 updated overview link opens Access The Data-2234
  _projects/access-the-data.md
  assets/pdfs/Access-the-Data-One-Sheet.pdf
Labels: role: front end, Size: Good second issue, Status: Updated, Feature: Refactor HTML

#2556 Updated design systems' project profile with current project team
  _projects/design-systems.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Good second issue

#2390 fix footer for 404 and redirect page
  _sass/components/_404.scss
  _sass/components/_footer.scss
  _sass/components/_wins-page.scss
  _sass/layouts/_main.scss
  pages/credits.html
  pages/projects-page.html
Labels: Bug, role: front end, Size: Medium, Feature: Refactor CSS, Fun: Third Issue, P-Feature: Footer

#2582 changing typo issue 2348
  _data/internal/accomplishments.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us

#2583 Update HelloGov Slack Link
  _projects/hellogov.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page

#2566 Include project links in project page
  _layouts/project.html
Labels: role: back end/devOps, P-Feature: Project Info and Page, Feature: Refactor JS / Liquid, Size: Small, P-Feature: Projects page

#2574 Update Icon Alignment Step Cards
  _sass/components/_getting-started-page.scss
Labels: role: front end, Status: Updated, Feature: Refactor CSS, P-Feature: Getting Started, Size: Small, Fun: Third Issue

#2575 remove-languages-2487
  _projects/311-data.md
  _projects/food-oasis.md
  _projects/home-unite-us.md
  _projects/tdm-calculator.md
  _projects/vrms.md
Labels: role: back end/devOps, To Update !, Size: Small, P-Feature: Projects page

#2577 Updated Getting Started page header text
  _sass/components/_getting-started-page.scss
Labels: role: front end, Status: Updated, P-Feature: Getting Started, Size: Small

#2495 Fix Style linting issues
  .stylelintrc.json
  _sass/components/_about.scss
  _sass/components/_dashboard.scss
  _sass/components/_events.scss
  _sass/components/_home.scss
  _sass/components/_project-page.scss
  _sass/elements/_accordion.scss
Labels: role: back end/devOps, Size: Large, Collaborative Work, Status: Updated, Feature: Refactor CSS, Feature: Board/GitHub Maintenance

#2373 Homepage redesign
  _data/internal/communities/data-science.yml
  _data/internal/communities/engineering.yml
  _data/internal/communities/operations.yml
  _data/internal/communities/product-management.yml
  _data/internal/communities/ui-ux.yml
  _data/internal/credits/data-science.yml
  _data/internal/credits/engineering.yml
  _data/internal/credits/marketing.yml
  _data/internal/credits/operations.yml
  _data/internal/credits/product-management.yml
  _data/internal/credits/revenue.yml
  _data/internal/credits/ui-ux.yml
  _data/internal/program-areas/environment-card.yml
  _data/navigation/main.yml
  _includes/elements/wins-card-overlay.html
  _includes/elements/wins-card.html
  _includes/forms/contact-us.html
  _includes/hero.html
  _includes/home-getting-started.html
  _includes/home-page/hero.html
  _includes/home-page/home-communities.html
  _includes/home-page/home-join-us.html
  _includes/home-page/home-program-areas.html
  _includes/home-page/home-technologies.html
  _includes/home-page/home-wins.html
  _sass/components/_header-nav.scss
  _sass/components/_home.scss
  _sass/elements/_buttons.scss
  assets/images/hero/communities-icons/data-science.png
  assets/images/hero/communities-icons/engineering.png
  assets/images/hero/communities-icons/fundraising.png
  assets/images/hero/communities-icons/marketing.png
  assets/images/hero/communities-icons/operations.png
  assets/images/hero/communities-icons/product-management.png
  assets/images/hero/communities-icons/ui-ux.png
  assets/images/hero/infinite.svg
  assets/images/program-areas/citizen-engagement.png
  assets/images/program-areas/civic-tech-infrastructure.png
  assets/images/program-areas/diversity-equity-inclusion.png
  assets/images/program-areas/envirnoment.png
  assets/images/program-areas/environment.png
  assets/images/program-areas/justice.png
  assets/images/program-areas/social-safety-net.png
  assets/images/program-areas/vote-representation.png
  assets/images/program-areas/workforce-development.png
  assets/js/home.js
  pages/communities-of-practice.html
  pages/index.html
  pages/program-areas.html
Labels: role: front end, Size: Large, P-Feature: Home page, Feature: Feature Branch

#2587 deleted .github/workflows/update-comment-on-update-label.yml
  .github/workflows/update-comment-on-update-label.yml
Labels: role: back end/devOps, Size: Good second issue, Feature: Refactor GHA

#2590 Updated refactor code project links in project page
  _layouts/project.html
Labels: role: back end/devOps, P-Feature: Project Info and Page, Status: Updated, Feature: Refactor JS / Liquid, Size: Small, P-Feature: Projects page

#2217 adding inactive label to in progress issues with no comment or PR by …
  github-actions/add-update-label-weekly/add-label.js
Labels: role: back end/devOps, Size: Medium, Feature: Board/GitHub Maintenance, Fun: Third Issue

#2584 applying .Title4 class into H3
  pages/communities-of-practice.html
Labels: role: front end, Size: Good second issue, Feature: Design system, P-Feature: Communities of Practice

#2588 Updated the image location for partners
  _data/internal/partners.yml
  assets/images/partners/bp.png
  assets/images/partners/city-of-santa-monica.png
  assets/images/partners/da-county-of-la.png
  assets/images/partners/digital-defense-fund.png
  assets/images/partners/empower-la.png
  assets/images/partners/enciv.svg
  assets/images/partners/food-cycle-la.png
  assets/images/partners/food-forward.png
  assets/images/partners/ggu-school-of-law.png
  assets/images/partners/good-food-la.png
  assets/images/partners/hope-of-the-valley.png
  assets/images/partners/la-city-attorney.png
  assets/images/partners/la-city-planning.png
  assets/images/partners/la-department-of-personnel.png
  assets/images/partners/la-dot.png
  assets/images/partners/la-food-bank.png
  assets/images/partners/m.svg
  assets/images/partners/ndica.png
  assets/images/partners/point-source-youth.svg
  assets/images/partners/real-help-lasting-change.svg
  assets/images/partners/safe-place-for-youth.png
  assets/images/partners/ucla-law.png
  assets/images/partners/yale-open-labs.svg
Labels: role: front end, role: back end/devOps, Size: Medium, Feature: Refactor HTML

#2593 Update VRMS Profile
  _projects/vrms.md
  assets/pdfs/VRMS-One-Sheet.pdf
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Status: Updated, Size: Small

#2594 2404: Tooltip with long text cuts off when hovering over wins icons #2408
  _sass/components/_wins-page.scss
Labels: Bug, role: front end, Size: Medium, P-Feature: Wins Page

#2599 Update Sitemap Spelling 2465
  _includes/footer.html
  pages/sitemap.html
Labels: role: front end, Status: Updated, P-Feature: Sitemap, Size: Small, P-Feature: Footer

#2620 solving issue 2544... changing team leadership
  _projects/website.md
Labels: Feature: Administrative, role: front end, time sensitive, Status: Updated, Size: Small

#2621 Updated the makeIcon function in wins.js file #2267
  assets/js/wins.js
Labels: role: front end, Status: Updated, Feature: Refactor JS / Liquid, P-Feature: Wins Page, Size: Small

#2624 Upload .svg files #2483
  assets/images/technologies-icons/Amazon-aws-01.svg
  assets/images/technologies-icons/Django-01.svg
  assets/images/technologies-icons/Javascript-03.svg
  assets/images/technologies-icons/Jekyll-02.svg
  assets/images/technologies-icons/Node-JS-01.svg
  assets/images/technologies-icons/React-icon.svg
  assets/images/technologies-icons/amazon-web-services-2.svg
  assets/images/technologies-icons/docker-1.svg
  assets/images/technologies-icons/docker-3.svg
  assets/images/technologies-icons/express-109.svg
  assets/images/technologies-icons/figma.svg
  assets/images/technologies-icons/github-icon-1.svg
  assets/images/technologies-icons/mongodb-icon-1.svg
  assets/images/technologies-icons/postgresql-2.svg
  assets/images/technologies-icons/postgresql.svg
Labels: role: back end/devOps, Size: Small, Feature: Infrastructure

#2603 Update citizen engage 2474
  _includes/citizen-engagement-cards.html
  _projects/311-data.md
  _projects/access-the-data.md
  _projects/engage.md
  _projects/lucky-parking.md
  _projects/open-community-survey.md
  _sass/components/_citizen_engagement.scss
  pages/citizen-engagement.html
Labels: role: back end/devOps, Size: Medium, P-Feature: Program Area, Status: Updated, Feature: Refactor HTML
