Repository hackforla/website, pull requests merged in 2021-09, with the labels that each got.

#2209 Add code to import Roboto font
  _includes/head.html
Labels: Bug, role: front end, Feature: Standards, Size: Small

#2059 Develop updated getting started page
  _data/internal/credits/board.yml
  _data/internal/credits/candidates.yml
  _data/internal/credits/clipboard.yml
  _data/internal/credits/find.yml
  _data/internal/credits/group.yml
  _data/internal/credits/id.yml
  _data/internal/credits/info.yml
  _data/internal/credits/schedule.yml
  _data/internal/credits/shield.yml
  _data/internal/credits/solidarity.yml
  _sass/components/_getting-started-page.scss
  assets/images/getting-started/ada.png
  assets/images/getting-started/board.png
  assets/images/getting-started/candidates.png
  assets/images/getting-started/clipboard.png
  assets/images/getting-started/find.png
  assets/images/getting-started/group.png
  assets/images/getting-started/id.png
  assets/images/getting-started/info.png
  assets/images/getting-started/information.png
  assets/images/getting-started/schedule.png
  assets/images/getting-started/shield.png
  assets/images/getting-started/solidarity.png
  pages/getting-started.html
Labels: role: front end, Size: Large, Status: Updated, P-Feature: Getting Started

#2214 Update Wins page card badge icons for mentoring
  assets/images/wins-page/wins-badges/mentor-external.svg
  assets/images/wins-page/wins-badges/mentor.svg
  pages/wins/wins.html
Labels: role: front end, P-Feature: Wins Page, Feature: Design system, Size: Small

#2223 Move copy button javascript
  _guide-pages/github-issues.html
  _sass/components/guide-pages/github-issue-guide.scss
  assets/js/elements/.gitkeep
  assets/js/elements/copyButton.js
Labels: role: front end, Size: Medium, Feature: Refactor JS / Liquid

#2230 updated overview link for 'access the data' project
  _projects/access-the-data.md
Labels: Size: Good first issue, role: front end, P-Feature: Project Info and Page, time sensitive

#2224 Updated .title6 and added .title7 styling to SCSS files
  _sass/elements/_typography.scss
  _sass/variables/_typography.scss
Labels: role: front end, Size: Medium, time sensitive, To Update !, Feature: Design system

#2247 Getting started styling
  _sass/components/_getting-started-page.scss
Labels: role: front end, Status: Updated, P-Feature: Getting Started, Size: Small

#2253 Update /donate/ to Redirect to the Donate Page
  pages/donate.html
  redirections/codeforamerica.md
  redirections/donate.md
Labels: role: front end, P-Feature: Donate, Size: Small

#2254 Changed alt text for security icon
  _data/internal/credits/security.yml
Labels: Size: Good first issue, role: front end, Feature: Accessibility

#2261 removed the about text from care.yml credits
  _data/internal/credits/care.yml
Labels: Size: Good first issue, role: front end, To Update !, P-Feature: Credit

#2208 Standardization of the accordion element
  _data/internal/credits/care.yml
  _guide-pages/2FA.html
  _sass/components/_getting-started-page.scss
  _sass/components/guide-pages/2FA.scss
  _sass/elements/_accordion.scss
  _sass/main.scss
  assets/js/elements/accordion.js
  pages/getting-started.html
Labels: role: front end, Size: Large, P-Feature: Toolkit, To Update !, UAT: has visuals

#2260 Remove Hotjar Script From The <head> Section
  _includes/head.html
Labels: role: front end, time sensitive, Feature: Refactor JS / Liquid, Size: Small, Fun: Third Issue

#2281 Fix header bug
  _sass/elements/_containers.scss
Labels: role: front end, Size: Medium, time sensitive, Feature: Refactor CSS, Feature: Refactor HTML

#2262 corrected link for the credit of scale image
  _data/internal/credits/scale.yml
Labels: role: front end, Size: Good second issue, P-Feature: Credit

#2285 Update Docker Reset Instructions Within Contributing.md
  CONTRIBUTING.md
Labels: documentation, role: front end, Feature: Onboarding/Contributing.md, Size: Small

#2284 Update regex in find-linked-issue (hackforla#2244)
  github-actions/utils/find-linked-issue.js
Labels: Size: Good first issue, role: back end/devOps, Feature: Board/GitHub Maintenance

#2302 Fix edge case for 'add missing labels' gha
  github-actions/issue-labels/check-labels.js
Labels: role: back end/devOps, time sensitive, Feature: Board/GitHub Maintenance, Size: Small

#1957 Setting up GitHub Action for CSS and future linting
  .github/workflows/lint-scss.yml
  .stylelintrc.json
Labels: role: back end/devOps, Size: Large, Status: Updated, Feature: Standards

#2300 Update global image info and change file name
  _data/internal/credits/environmental-impact.yml
Labels: role: front end, Size: Good second issue, Status: Updated, P-Feature: Credit

#2263 added credits for all badge icons on the wins page
  _data/internal/credits/avatar.yml
  _data/internal/credits/center.yml
  _data/internal/credits/code.yml
  _data/internal/credits/community.yml
  _data/internal/credits/deliver-on-date.yml
  _data/internal/credits/external-mentor.yml
  _data/internal/credits/folder.yml
  _data/internal/credits/give-love.yml
  _data/internal/credits/global-wins.yml
  _data/internal/credits/hammer.yml
  _data/internal/credits/job.yml
  _data/internal/credits/mentor.yml
  _data/internal/credits/star.yml
  _data/internal/credits/team.yml
  _data/internal/credits/twofa.yml
Labels: role: front end, Size: Medium, Status: Updated, P-Feature: Wins Page, P-Feature: Credit

#2250 Hamburger nav 2117
  _includes/hamburger-nav.html
  assets/js/hamburger-nav.js
Labels: role: front end, To Update !, Feature: Refactor JS / Liquid, Size: Small, Fun: Third Issue

#2310 Refactor 'Add-Missing-Labels' GitHub Action
  .github/workflows/add-missing-labels-to-issues.yml
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-missing-labels-to-issues/add-labels-template.md
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
  github-actions/trigger-issue/add-missing-labels-to-issues/no-labels-template.md
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
Labels: role: back end/devOps, Size: Medium, Feature: Refactor GHA

#2308 Change description text for CoP URL on Getting Started PAge #2268
  pages/getting-started.html
Labels: Bug, good first issue, role: front end, time sensitive, P-Feature: Getting Started
