Repository hackforla/website, pull requests merged in 2021-11, with the labels that each got.

#2413 Update ui/ux communities of practice leadership team
  _data/internal/communities/ui-ux.yml
Labels: role: front end, time sensitive, Size: Good second issue, P-Feature: Communities of Practice

#2415 Project Update : Open Community Survey Leadership
  _projects/brigade-organizers-playbook.md
  _projects/open-community-survey.md
  github-actions/github-data/get-project-data.js
Labels: role: front end, P-Feature: Project Info and Page, Size: Good second issue

#2416 Project update: Civic Tech Index Leadership Order
  _projects/civic-tech-index.md
Labels: role: front end, P-Feature: Project Info and Page, Size: Good second issue

#2418 Created dev pre-work issue template
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Labels: role: front end, Collaborative Work, time sensitive, To Update !, Feature: Onboarding/Contributing.md, Size: Small

#2411 changed alt text for give icon image
  _data/internal/credits/give-love.yml
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, Feature: Accessibility, Hacktoberfest

#2432 Fixed language typo
  _data/internal/accomplishments.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us

#2412 Add Github and Slack Buttons and Icons and Style to Match Figma for CoP
  _sass/components/_communities-of-practice.scss
  assets/images/communities-of-practice/icon-github-small.svg
  assets/images/communities-of-practice/slack-join-meeting-channel.svg
  pages/communities-of-practice.html
Labels: role: front end, Size: Medium, P-Feature: Communities of Practice

#2452 Added program area
  _projects/brigade-organizers-playbook.md
Labels: role: front end, P-Feature: Project Info and Page, Size: Good second issue

#2472 Create pre-work-checklist-ux.md
  .github/ISSUE_TEMPLATE/pre-work-checklist-ux.md
Labels: Feature: Administrative, role: product, Size: Medium, role: user research, Ready for Milestone

#2469 Fixed typo in yml file name from envirnment -> environment
  _data/internal/program-areas/environment-card.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Program Area

#2492 Apply iframe food oasis
  _layouts/project.html
  _projects/food-oasis.md
  _sass/components/_project-page.scss
Labels: role: back end/devOps, Size: Medium, P-Feature: Project Info and Page, time sensitive, Status: Updated

#2493 Move wins html files to _includes
  _includes/wins-page/wins-card-template.html
  _includes/wins-page/wins-filter-template.html
  _includes/wins-page/wins-hero.html
  _includes/wins-page/wins-overlay.html
  pages/wins/wins.html
Labels: role: front end, Size: Medium, P-Feature: Wins Page, Feature: Refactor HTML

#2491 Changed alt text for Citizen Engagement program area - #2342
  _data/internal/program-areas/citizen-engagement-card.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Program Area, Feature: Accessibility

#2482 fix project links
  assets/js/current-projects.js
Labels: Bug, Discussion, role: back end/devOps, Status: Updated, Feature: Refactor JS / Liquid, P-Feature: Home page, Size: Small, Fun: Third Issue, P-Feature: Projects page

#2470 Add files via upload
  README.md
Labels: role: front end, Size: Good second issue, Feature: Onboarding/Contributing.md

#2506 Update PM cop
  _data/internal/communities/project-management.yml
Labels: role: product, role: front end, role: back end/devOps, Size: Good second issue, Size: Small, P-Feature: Communities of Practice

#2507 Update how 'Overview' link opens for Civic Tech Index
  _projects/civic-tech-index.md
  assets/pdfs/Civic-Tech-Index-Product-One-Sheet.pdf
Labels: role: front end, time sensitive, Size: Good second issue, Feature: Refactor HTML
