Repository hackforla/website, pull requests merged in 2021-07, with the labels that each got.

#1858 1748, closed pr 1832, attempt 2
  _projects/civic-tech-index.md
Labels: P-Feature: Project Info and Page, Size: Good second issue, role: front end

#1860 change alt text for video conference icon
  _data/internal/credits/video-conference.yml
Labels: Feature: Accessibility, P-Feature: Credit, Size: Good first issue, role: front end

#1862 Changed alt attribute for meetings icon on credit page
  _data/internal/credits/meetings.yml
Labels: Feature: Accessibility, Size: Good first issue, role: front end

#1677 Footer project section 1427
  _sass/components/_program-areas.scss
  assets/images/program-areas/program-areas-standing-person.png
  pages/program-areas.html
Labels: P-Feature: Program Area, Size: Medium, role: front end

#1857 fixes #1558
  _data/internal/credits/brochure.yml
Labels: Feature: Accessibility, P-Feature: Credit, Size: Good first issue, To Update !, role: front end

#1819 Adjusted project images to correct size and resolution
  assets/images/projects/100automations.png
  assets/images/projects/home-heart.png
  assets/images/projects/vrms.png
Labels: P-Feature: Home page, Size: Good second issue, role: front end

#1864 Fixing CoP links and removing localStorage saving on events page
  pages/events/right-col-content.html
Labels: P-Feature: Events, Size: Small, Status: Updated, role: front end

#1852 Adjust header-container class margin
  _sass/components/_communities-of-practice.scss
  _sass/components/_credit-items.scss
  _sass/components/_events.scss
  _sass/elements/_containers.scss
Labels: Feature: Design system, Size: Medium, role: front end, time sensitive

#1834 Update to Adding Labels to Pull Request Action
  .github/workflows/add-issue-labels-to-pr.yml
  .github/workflows/wr-add-issues-labels-to-pr.yml
Labels: Feature: Infrastructure, Research, Size: Medium, User Acceptance Testing, enhancement, role: back end

#1903 Update link to Public Tree Map project page
  pages/events/our-locations-content.html
Labels: P-Feature: Events, Size: Good first issue, role: front end

#1896 Standardized credits page header in mobile
  _sass/components/_credit-items.scss
Labels: Feature: Refactor CSS, Size: Medium, role: front end

#1880 Added link to credits and join us page in footer
  _includes/footer.html
  _sass/components/_footer.scss
Labels: Size: Medium, role: front end

#1870 Update Wins About page,1835
  _sass/components/_about.scss
  pages/about/about-card-accomplishments.html
Labels: P-Feature: About Us, Size: Medium, role: front end

#1882 Update 'Contact Us' image credit link
  _data/internal/credits/contact-us.yml
Labels: Size: Good second issue, role: front end

#1894 Standardized program areas for mobile
  _sass/components/_program-areas.scss
  pages/program-areas.html
Labels: P-Feature: Program Area, Size: Medium, role: front end

#1902 changed text-align to left
  _sass/components/_join-us.scss
Labels: Size: Good second issue, role: front end

#1906 Changed Alt tag
  _data/internal/credits/locations.yml
Labels: Feature: Accessibility, Size: Good first issue, role: front end

#1914 Mobile header
  _sass/components/_program-areas.scss
Labels: P-Feature: Program Area, Size: Medium, role: front end

#1897 Fixed wins modal position to prevent it from penetrating menu in mobile
  _sass/components/_wins-page.scss
Labels: Bug, P-Feature: Wins Page, Size: Medium

#1915 Update Open Community Survey project profile
  _projects/open-community-survey.md
Labels: Size: Good second issue, role: front end

#1913 Create newcomers redirection file
  redirections/newcomers.md
Labels: Size: Small, role: back end

#1922 I changed the alt text
  _data/internal/credits/process.yml
Labels: Feature: Accessibility, Size: Good first issue, role: front end

#1935 Remove HackForLA newsletter sign-up form from home page
  _includes/forms/contact-us.html
Labels: P-Feature: Home page, Size: Small, role: front end

#1907 Update project description pages
  _layouts/project.html
  _projects/open-community-survey.md
Labels: P-Feature: Project Info and Page, Size: Small, role: back end, role: front end

#1909 Update hfla-donate.gif to match with CodeForAmerica's donation box
  _sass/components/_join-us.scss
  assets/images/about/hfla-donate.gif
  assets/images/join-us/donation-chart.png
  assets/images/join-us/donation-form-img.png
  pages/join-us.html
Labels: P-Feature: Donate, Size: Medium, enhancement, role: front end

#1936 Fix to mobile margin on Wins page
  _sass/components/_wins-page.scss
Labels: P-Feature: Wins Page, Size: Good second issue, role: front end

#1918 Adding design system heading classes to Sitemap page
  _sass/components/_sitemap.scss
  pages/sitemap.html
Labels: Feature: Design system, Feature: Refactor CSS, P-Feature: Sitemap, Size: Small, To Update !, role: front end

#1937 updated alt text of redo icon on credit page
  _data/internal/credits/redo.yml
Labels: Feature: Accessibility, P-Feature: Credit, Size: Good first issue, role: front end

#1938 Change alt text for building image on credit page
  _data/internal/credits/building.yml
Labels: Feature: Accessibility, P-Feature: Credit, Size: Good first issue, role: front end

#1959 Pull instructions restore
  .github/workflows/pr-instructions.yml
  github-actions/pr-instructions/pr-instructions-template.md
  github-actions/pr-instructions/pr-instructions.js
Labels: Feature: Board/GitHub Maintenance, Size: Medium, Status: Urgent, role: back end

#1952 updated employee icon title link
  _data/internal/credits/employees.yml
Labels: Size: Good second issue, role: front end

#1965 Pull instructions restore
  .github/workflows/pr-instructions.yml
  .github/workflows/wr-pr-instructions.yml
  github-actions/pr-instructions/create-instruction.js
  github-actions/pr-instructions/post-comment.js
  github-actions/pr-instructions/pr-instructions-template.md
Labels: Feature: Board/GitHub Maintenance, Size: Medium, Status: Urgent, role: back end

#1971 updated the title link for actionsection title button in the credit page
  _data/internal/credits/act.yml
Labels: Size: Good second issue, role: front end

#1946 Updated engage project's hero profile
  _projects/engage.md
  assets/images/projects/engage-hero-2.jpeg
  assets/images/projects/engage-hero.jpg
  assets/images/projects/engage-hero.png
Labels: Size: Good second issue, role: front end

#1949 Created the donate page
  _data/internal/credits/donate.yml
  _sass/components/_donate.scss
  _sass/main.scss
  assets/images/donate/donation-chart.svg
  assets/images/donate/donation-form-img.png
  assets/images/donate/help-us-icon.svg
  assets/images/donate/solidarity-pana.svg
  pages/donate.html
Labels: P-Feature: Donate, Size: Medium, role: front end

#1912 fixed padding left so the padding on sitemap and join-us page cards a…
  _sass/components/_join-us.scss
  _sass/components/_sitemap.scss
  _sass/elements/_cards.scss
  pages/join-us.html
  pages/sitemap.html
Labels: Feature: Design system, Size: Medium, role: front end

#1953 fix header image width for mobile screens
  _sass/components/_program-areas.scss
Labels: P-Feature: Program Area, Size: Medium, role: front end

#1954 remove tablet view and fix responsiveness issues
  _sass/components/_wins-page.scss
  pages/wins/wins-card-template.html
  pages/wins/wins.html
Labels: P-Feature: Wins Page, Size: Medium, role: front end

#1990 Fix CoP page header image size
  pages/communities-of-practice.html
Labels: Bug, Size: Large, Status: Updated, p-Feature: Communities of Practice, role: front end

#1964 Wins Spacing, between text and badge icons #1551
  _sass/components/_wins-page.scss
  pages/wins/wins-card-template.html
Labels: P-Feature: Wins Page, Size: Medium, Status: Updated, role: front end

#1967 Change alt text
  _data/internal/credits/review.yml
Labels: Feature: Accessibility, Size: Good first issue, role: front end

#2001 Change alt text for Business Image on Credit Page
  _data/internal/credits/business.yml
Labels: Feature: Accessibility, P-Feature: Credit, Size: Good first issue, role: front end

#2003 replaced title-link
  _data/internal/credits/partnership.yml
Labels: P-Feature: Credit, Size: Good second issue, role: front end
