Repository hackforla/website, pull requests merged in 2021-08, with the labels that each got.

#1999 Update toolkit page subheadings
  _sass/components/_toolkit.scss
  _sass/variables/_layout.scss
  pages/toolkit.html
Labels: P-Feature: Toolkit, Size: Medium, role: front end

#2004 Update Expunge assist project profile card
  _projects/expunge-assist.md
  assets/images/projects/expunge-assist.png
Labels: P-Feature: Project Info and Page, Size: Good first issue, role: front end

#1917 Consolidate raw colors
  _data/internal/credits/contact-us.yml
  _sass/_normalize.scss
  _sass/components/_about.scss
  _sass/components/_communities-of-practice.scss
  _sass/components/_dashboard.scss
  _sass/components/_events.scss
  _sass/components/_footer.scss
  _sass/components/_getting-started-page.scss
  _sass/components/_guide-pages.scss
  _sass/components/_home.scss
  _sass/components/_project-filter.scss
  _sass/components/_project-meetings.scss
  _sass/components/_project-page.scss
  _sass/components/_projects.scss
  _sass/components/_toolkit.scss
  _sass/components/_wins-page.scss
  _sass/components/guide-pages/2FA.scss
  _sass/components/guide-pages/_survey-reporting-dashboard.scss
  _sass/components/guide-pages/github-issue-guide.scss
  _sass/elements/_cards.scss
  _sass/elements/_loader.scss
  _sass/variables/_colors.scss
Labels: Feature: Design system, Feature: Standards, Size: Medium, role: front end

#2019 Wins refactor js
  pages/wins/wins.html
Labels: Feature: Standards, P-Feature: Wins Page, Research, Size: Medium, role: front end

#2012 Comment out 'looking' in project files
  _includes/current-projects.html
  _layouts/project.html
  _sass/components/_project-filter.scss
Labels: P-Feature: Project Info and Page, Size: Small, role: front end

#2022 Create redirect link for /website
  redirections/website.md
Labels: P-Feature: Home page, Size: Good second issue, role: front end

#2005 fixed-page-and-leader-pages
  _sass/components/_communities-of-practice.scss
  _sass/components/_project-page.scss
Labels: Feature: Refactor CSS, Size: Medium, p-Feature: Communities of Practice, role: front end

#1986 GitHub action trim contributors
  .github/workflows/update-team-members.yml
  github-actions/github-data/contributors-data.js
  github-actions/github-data/get-project-data.js
  package-lock.json
Labels: Feature: Board/GitHub Maintenance, Size: Medium, automation, enhancement, role: back end

#2006 Completed GitHub Actions to add labels to an issue in a specific column weekly
  .github/workflows/add-update-label-weekly.yml
  github-actions/add-update-label-weekly/add-label.js
  github-actions/add-update-label-weekly/update-instructions-template.md
  github-actions/pr-instructions/post-comment.js
  github-actions/utils/find-linked-issue.js
Labels: Feature: Board/GitHub Maintenance, Size: Large, automation, role: design

#2038 removed members from lucky parking project team
  _projects/lucky-parking.md
Labels: P-Feature: Project Info and Page, Size: Good first issue, Status: Updated, role: front end

#2024 I added Sitemap to the footer and replaced the image and date on the sitemap page
  _includes/footer.html
  assets/images/sitemap/sitemap.jpg
  pages/sitemap.html
Labels: P-Feature: Sitemap, Size: Medium, role: front end

#2028 agile image link updated
  _data/internal/credits/agile.yml
Labels: P-Feature: Credit, Size: Good second issue, role: front end

#2035 Fixed 'To Update !' Github Action
  .github/workflows/update-comment-on-update-label.yml
Labels: role: back end, Size: Medium, Feature: Board/GitHub Maintenance, automation, Fun: Third Issue

#1951 Fix join us footer 1427
  _sass/components/_program-areas.scss
  pages/program-areas.html
Labels: role: front end, Size: Medium, P-Feature: Program Area

#2002 Create and apply header component
  _sass/components/_about.scss
  _sass/components/_communities-of-practice.scss
  _sass/components/_credit-items.scss
  _sass/components/_join-us.scss
  _sass/components/_program-areas.scss
  _sass/components/_project-meetings.scss
  _sass/components/_sitemap.scss
  _sass/components/_toolkit.scss
  _sass/elements/_containers.scss
  pages/about/about.html
  pages/communities-of-practice.html
  pages/credits.html
  pages/join-us.html
  pages/program-areas.html
  pages/project-meetings.html
  pages/sitemap.html
  pages/toolkit.html
Labels: role: front end, Size: Medium, Status: Updated, Feature: Design system

#1837 Projects page
  _data/internal/credits/design-team.yml
  _sass/components/_credit-items.scss
  _sass/components/_projects-page.scss
  _sass/elements/_containers.scss
  _sass/main.scss
  assets/images/projects-page/projects-hero.svg
  pages/projects-page.html
Labels: enhancement, role: front end, Size: Medium, P-Feature: Project Info and Page

#1928 Wins mobile margins
  _sass/components/_about.scss
  assets/images/about/wins-card-mobile.svg
  pages/about/about-card-accomplishments.html
Labels: Status: Help Wanted, role: front end, Size: Medium, P-Feature: About Us

#2067 Refactor javascript from Events page and Project Meetings page to external files
  assets/js/project-meetings.js
  assets/js/right-col-content.js
  assets/js/utility/.gitkeep
  assets/js/utility/api-events.js
  pages/events/right-col-content.html
  pages/project-meetings.html
Labels: role: front end, Size: Medium, Feature: Refactor JS / Liquid, automation, Fun: Third Issue

#1972 Develop 404
  _data/internal/credits/404.yml
  _sass/components/_404.scss
  _sass/main.scss
  assets/images/404.svg
  pages/404.html
Labels: role: front end, role: back end, Size: Medium, Status: Updated, P-Feature: 404 page

#2060 GH-Actions: Add missing labels
  .github/workflows/add-missing-labels-to-issues.yml
  github-actions/issue-labels/add-labels-template.md
  github-actions/issue-labels/check-labels.js
  github-actions/issue-labels/no-labels-template.md
  github-actions/issue-labels/post-labels-comment.js
Labels: role: back end, Size: Medium, Feature: Board/GitHub Maintenance, Fun: Third Issue

#2031 New color variables
  _sass/components/_events.scss
  _sass/components/_footer.scss
  _sass/components/_getting-started-page.scss
  _sass/components/_guide-pages.scss
  _sass/components/_home.scss
  _sass/components/_project-page.scss
  _sass/components/_wins-form.scss
  _sass/elements/_color-styles.scss
  _sass/variables/_colors.scss
Labels: role: front end, Size: Medium, Status: Updated, Feature: Standards, Feature: Design system

#2099 I edited the update comment github action
  .github/workflows/update-comment-on-update-label.yml
Labels: Size: Good first issue, role: back end, Feature: Board/GitHub Maintenance, automation

#2098 Removed unused JS code
  _guide-pages/survey-reporting-dashboard-guide.html
Labels: role: front end, Size: Good second issue, Feature: Refactor JS / Liquid

#2103 changed alt text on line 10
  _data/internal/credits/rocket.yml
Labels: Size: Good first issue, role: front end, Feature: Accessibility, P-Feature: Credit

#2102 Hide looking filter on projects page
  _data/navigation/main.yml
  pages/projects-page.html
Labels: role: front end, Size: Medium, P-Feature: Project Info and Page

#2115 Update Alt Text for people img on credit page
  _data/internal/credits/people.yml
Labels: Size: Good first issue, role: front end, Status: Updated, Feature: Accessibility, P-Feature: Credit

#2107 Remove the Wiki link from Engage Resources project page
  _projects/engage.md
Labels: Size: Good first issue, role: front end, P-Feature: Project Info and Page

#2120 Updated ‘Sustainability’ image credit link
  _data/internal/credits/sustainability.yml
Labels: role: front end, Size: Good second issue, P-Feature: Credit

#2126 Update trophy icon on about page and credit page
  _data/internal/credits/trophy.yml
  assets/images/about/wins-cup.svg
Labels: role: front end, Status: Updated, P-Feature: Credit, Size: Small, Fun: Third Issue

#2124 Update locations of events html files
  _includes/events-page/header-container-content.html
  _includes/events-page/left-col-content.html
  _includes/events-page/our-locations-content.html
  _includes/events-page/right-col-content.html
  pages/events.html
Labels: role: front end, Size: Medium, P-Feature: Events, Feature: Infrastructure

#2119 Adding subject line to the submit your pitch button on homepage
  _includes/current-projects.html
Labels: Size: Good first issue, role: front end, Status: Updated, P-Feature: Home page, Test: Update Label

#2123 Adjust filter checkboxes and text
  _includes/current-projects.html
  _sass/components/_project-filter.scss
Labels: role: front end, P-Feature: Home page, Size: Small, Test: Update Label

#2133 Fix see more toggle when clicking an icon
  pages/wins/wins.html
Labels: role: front end, P-Feature: Wins Page, Size: Small, Feature: Feature Branch

#2131 Update Care Link in Credits Page
  _data/internal/credits/care.yml
Labels: role: front end, Size: Good second issue, P-Feature: Credit

#2121 Moving html files from pages/about to _includes folder
  _includes/about-page/about-card-accomplishments.html
  _includes/about-page/about-card-donations.html
  _includes/about-page/about-card-executive-letter.html
  _includes/about-page/about-card-metrics.html
  _includes/about-page/about-card-news.html
  _includes/about-page/about-card-partners.html
  _includes/about-page/about-card-platform.html
  _includes/about-page/about-card-sponsors.html
  _includes/about-page/about-card-sustainability.html
  pages/about.html
Labels: Bug, role: front end, Size: Medium, P-Feature: About Us, Feature: Infrastructure

#2118 Add GreenEarthOS Project Card and Page
  _projects/green-earth-os.md
  assets/images/projects/green-earth-os-hero.png
  assets/images/projects/green-earth-os.png
Labels: role: front end, P-Feature: Project Info and Page, Size: Small, Test: Update Label

#2144 Add accompanying map file for polyfill
  assets/js/inert.min.js.map
Labels: Bug, role: back end, Size: Medium, P-Feature: Wins Page, Feature: Feature Branch

#2136 updated the access the data profile section
  _projects/access-the-data.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Size: Good second issue

#2149 Adjust location card image height
  _sass/components/_events.scss
Labels: role: front end, Size: Medium, To Update !, Feature: Refactor CSS

#2152 updated alt string
  pages/credits.html
Labels: Bug, role: front end, Size: Medium, P-Feature: Credit

#2157 Updating hands image credit link, changing credit name to unity and c…
  _data/internal/credits/hands.yml
Labels: role: front end, Size: Good second issue, P-Feature: Credit

#2178 Update donation-chart.svg with no border for the Donate page
  assets/images/donate/donation-chart.svg
Labels: role: front end, P-Feature: Donate, Size: Small

#2156 Refactor javascript Donut code
  _guide-pages/2FA.html
  assets/js/2FA.js
Labels: role: front end, Size: Medium, Feature: Refactor JS / Liquid

#2189 Add title1 class to h1 tag in wins hero file
  pages/wins/wins-hero.html
Labels: role: front end, Size: Good second issue, To Update !, P-Feature: Wins Page, Feature: Design system, Feature: Feature Branch

#2186 Add comments to layout.scss
  _sass/variables/_layout.scss
Labels: documentation, role: front end, Size: Medium, Feature: Refactor JS / Liquid

#2140 wins-feature-1 merge with gh-pages
  _sass/components/_wins-page.scss
  assets/images/wins-page/caret.svg
  assets/images/wins-page/wins-badges/briefcase.svg
  assets/images/wins-page/wins-badges/code.svg
  assets/images/wins-page/wins-badges/community.svg
  assets/images/wins-page/wins-badges/deliverable.svg
  assets/images/wins-page/wins-badges/enterprise.svg
  assets/images/wins-page/wins-badges/file.svg
  assets/images/wins-page/wins-badges/github.svg
  assets/images/wins-page/wins-badges/giving.svg
  assets/images/wins-page/wins-badges/hammers.svg
  assets/images/wins-page/wins-badges/launch.svg
  assets/images/wins-page/wins-badges/linkedin.svg
  assets/images/wins-page/wins-badges/mentor.svg
  assets/images/wins-page/wins-badges/star.svg
  assets/images/wins-page/wins-badges/team.svg
  assets/images/wins-page/wins-badges/twofa.svg
  assets/js/inert.min.js.map
  pages/wins/wins-card-template.html
  pages/wins/wins-hero.html
  pages/wins/wins-overlay.html
  pages/wins/wins-share-form.html
  pages/wins/wins.html
Labels: role: front end, Size: Large, P-Feature: Wins Page

#2181 updated comment on utils.js
  assets/js/utils.js
Labels: Size: Good first issue, documentation, role: front end, To Update !, Feature: Refactor JS / Liquid

#2195 Apply designs to heading tags on Homepage
  _includes/about.html
  _includes/current-projects.html
  _includes/forms/contact-us.html
  _includes/hero.html
  _includes/press.html
  _includes/sponsors.html
  _sass/components/_home.scss
Labels: role: front end, Status: Updated, P-Feature: Home page, Feature: Design system, Size: Small

#2196 refactored the lines for button styling in join-us page
  _sass/elements/_buttons.scss
  pages/join-us.html
Labels: role: front end, Feature: Refactor CSS, Feature: Design system, Size: Small

#2197 Add Google Tag Manager snippets to <head> and 3 pages (Events, Projects, Credits)
  _includes/head.html
  pages/credits.html
  pages/events.html
  pages/projects-page.html
Labels: role: front end, Feature: Analytics, Size: Small
