Repository hackforla/website, pull requests merged in 2022-03, with the labels that each got.

#2899 Converted blank issue template to a form issue!
  .github/ISSUE_TEMPLATE/blank-issue-form.yml
  .github/ISSUE_TEMPLATE/blank-issue-template.md
Labels: role: back end/devOps, Size: Good second issue, Feature: Board/GitHub Maintenance

#2903 Removed typos from CONTRIBUTING.md
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Onboarding/Contributing.md, size: 1pt

#2894 Updated Leadership in Ops.yml
  _data/internal/communities/ops.yml
Labels: role: front end, role: back end/devOps, Size: Small, P-Feature: Communities of Practice, size: 0.5pt

#2882 move script to an external javascript file
  assets/js/citizen-engagement.js
  pages/citizen-engagement.html
Labels: role: front end, P-Feature: Program Area, Feature: Refactor JS / Liquid, Size: Small

#2905 Update COP engineering section
  _data/internal/communities/engineering.yml
Labels: role: front end, Size: Small, P-Feature: Communities of Practice, size: 0.5pt

#2880 Add paragraph classes 1-3 to codebase
  _sass/elements/_typography.scss
  _sass/variables/_typography.scss
Labels: role: front end, Size: Medium, Status: Updated, Feature: Design system, size: 1pt

#2918 Refactor of Wins Page Button
  _includes/wins-page/wins-hero.html
Labels: role: front end, Feature: Refactor CSS, P-Feature: Wins Page, Feature: Design system, Size: Small, Fun: Third Issue, Feature: Refactor HTML

#2772 changed the overview link for the markdown file to show the pdf as em…
  _projects/tdm-calculator.md
  assets/pdfs/TDM-Calculator-Product-One-Sheet.pdf
Labels: role: front end, Size: Good second issue, Status: Updated, Feature: Refactor HTML

#2957 add-priogrm-area-spare-2280
  _projects/spare.md
Labels: role: front end, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#2966 fix misspelled word on Donate Page
  pages/donate.html
Labels: good first issue, role: front end, P-Feature: Donate, size: 0.5pt

#2971 Lowercase agile.yml Issue #2792
  _data/internal/credits/agile.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#2963 Sort events by project name after by time
  assets/js/utility/api-events.js
Labels: role: front end, Size: Medium, P-Feature: Events, size: 1pt

#2943 Refactor html script to js file
  assets/js/events.js
  pages/events.html
Labels: role: front end, Size: Medium, Feature: Refactor JS / Liquid, P-Feature: Events, size: 1pt

#2981 fix variable name
  assets/js/citizen-engagement.js
Labels: role: front end, Size: Good second issue, Feature: Refactor JS / Liquid, size: 0.5pt

#2973 removed card-body and card-width class
  _includes/citizen-engagement-cards.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Citizen Engagement, size: 0.5pt

#2969 Issue # 1498
  _includes/about-page/about-card-news.html
  _sass/components/_about.scss
Labels: role: front end, Size: Medium, P-Feature: About Us, size: 1pt

#2970 Edited CONTRIBUTING.md file
  CONTRIBUTING.md
Labels: role: front end, Feature: Onboarding/Contributing.md, Size: Small, size: 0.5pt

#2967 Hide all-time contributors 2605
  assets/js/project.js
Labels: role: front end, Size: Medium, Feature: Refactor JS / Liquid, size: 1pt

#2979 Communities of practice info update 2758
  _data/internal/communities/project-management.yml
Labels: role: front end, time sensitive, Size: Small, P-Feature: Communities of Practice, size: 0.5pt

#2983 Edit: changed 'content' to 'content-type'; removed 'type' field
  _data/internal/credits/book.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#2986 Added Program-Area
  _projects/green-earth-os.md
Labels: role: front end, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#2992 removed issaac from website project
  _projects/website.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#2995 Update overview link 2238
  _projects/civic-tech-structure.md
  assets/pdfs/Civic-Tech-Structure-Product-One-Sheet.pdf
Labels: Status: Help Wanted, role: front end, Size: Good second issue, Status: Updated, Feature: Refactor HTML, size: 0.5pt

#2982 Updated alt text on Donate page images to adhere to WCAG
  pages/donate.html
Labels: role: front end, Feature: Accessibility, P-Feature: Donate, Size: Small, size: 0.5pt

#2991 Update lucky parking project page
  _projects/lucky-parking.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#2994 update 311 info page 2987
  _projects/311-data.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#2998 CONTRIBUTING.md: stopping mid issue text update
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Size: Good second issue, Status: Updated, Feature: Onboarding/Contributing.md, size: 0.5pt

#3006 Fixed typo for issue #2911
  _includes/about-page/about-card-platform.html
Labels: good first issue, role: front end, P-Feature: About Us, size: 0.5pt

#3007 add issue progress to sec 2.1 in contributing file
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Onboarding/Contributing.md, Size: Small, size: 0.5pt

#3001 Update Home Unite Us Project Card
  _projects/home-unite-us.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Small, size: 0.5pt

#3013 Fixed Typo
  pages/citizen-engagement.html
Labels: good first issue, role: front end, Status: Updated, P-Feature: Citizen Engagement, size: 0.5pt

#3012 Updated Tools and Current Project Team sections for the Design Systems project profile
  _projects/design-systems.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#3015 Added weekly time commitment requirements
  CONTRIBUTING.md
Labels: role: front end, Feature: Onboarding/Contributing.md, Size: Small, size: 0.5pt

#3010 Corrected spelling of 'accommodate' in sitemap html file
  pages/sitemap.html
Labels: good first issue, role: front end, P-Feature: Sitemap, size: 0.5pt

#2988 Change text size for getting started page 2656
  _sass/components/_getting-started-page.scss
  pages/getting-started.html
Labels: Bug, role: front end, Status: Updated, P-Feature: Getting Started, Size: Small, size: 1pt

#3008 Applied "title3" Classes to Headings.
  pages/project-meetings.html
Labels: role: front end, Size: Good second issue, Status: Updated, Feature: Design system, P-Feature: Project Meetings, size: 0.5pt
