Repository hackforla/website, pull requests merged in 2022-02, with the labels that each got.

#2729 Fixing comment on 2FA Guide Page
  _guide-pages/2FA.html
Labels: role: front end, P-Feature: Toolkit, Size: Good second issue, size: 1pt

#2724 Removed comments in _sass/variables/_layout.scss that were added in pr #2672 but were unrelated to issue #2397
  _sass/variables/_layout.scss
Labels: role: front end, Size: Large, Status: Updated, Feature: Refactor CSS, P-Feature: Projects page

#2735 Updated technologies and leadership sections in website.md
  _projects/website.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 1pt

#2732 Update overview link 2240
  _projects/expunge-assist.md
  assets/pdfs/Expunge-Assist-Project-One-Sheet.pdf
Labels: role: front end, Size: Good second issue, Feature: Refactor HTML

#2734 Update Overview Links 2239
  _projects/engage.md
  assets/pdfs/Engage-Product-One-Sheet.pdf
Labels: role: front end, Size: Good second issue, Status: Updated, Feature: Refactor HTML

#2738 Merging work from pr #2672 and pr #2724 into gh-pages
  _sass/variables/_layout.scss
Labels: role: front end, Size: Large, Status: Updated, Feature: Refactor CSS, P-Feature: Projects page

#2713 Tooltip bug fix
  _sass/components/_wins-page.scss
Labels: Bug, role: front end, Size: Medium, Status: Updated, P-Feature: Wins Page

#2741 Updated Git Wiki link in Contributing.md
  CONTRIBUTING.md
Labels: Bug, good first issue, role: front end

#2742 Update link in Contributing.md
  CONTRIBUTING.md
Labels: role: front end, Size: Good second issue, size: 1pt

#2645 Apply Title heading class to Events page #2081
  _includes/events-page/header-container-content.html
  _includes/events-page/left-col-content.html
  _includes/events-page/our-locations-content.html
  _includes/events-page/right-col-content.html
  _sass/components/_events.scss
  pages/events.html
Labels: role: front end, Status: Updated, P-Feature: Events, Feature: Design system, Size: Small

#2762 change b tag to strong tag
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility

#2769 removed about-us file
  _includes/about-us.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Status: Updated, size: 1pt

#2778 Made changes to spare.md issue 2437
  _projects/spare.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, To Update !

#2785 Update link 100automations 2233
  _projects/100-automations.md
  assets/pdfs/100-Automations-Project-One-Sheet.pdf
Labels: role: front end, Size: Good second issue, Status: Updated, Feature: Refactor HTML

#2780 Update youth justive nav overview to open pdf
  _projects/youthjusticenav.md
  assets/pdfs/Youth-Justice-Nav-Product-One-Sheet.pdf
Labels: role: front end, Size: Good second issue, Status: Updated, Feature: Refactor HTML

#2786 Update Semantic Markup in Getting Started Step 1
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility

#2779 Apply heading class to Program Areas Page
  pages/program-areas.html
Labels: role: front end, P-Feature: Program Area, Size: Good second issue, Feature: Design system

#2788 Delete outdated page 2442
  pages/getting-started-with-video.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started

#2787 Change bold to strong in step 5
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility

#2767 Blue Audit
  _sass/components/_about.scss
  _sass/components/guide-pages/2FA.scss
  _sass/components/guide-pages/github-issue-guide.scss
  _sass/elements/_color-styles.scss
  _sass/variables/_colors.scss
  assets/js/2FA.js
Labels: role: front end, Size: Medium, Status: Updated, Feature: Refactor CSS, Feature: Design system

#2803 applied title3 class to h2 tags
  pages/toolkit.html
Labels: role: front end, P-Feature: Toolkit, Feature: Design system, Size: Small

#2819 Add program-area text to Resources section
  _projects/curbmap.md
Labels: role: front end, P-Feature: Project Info and Page, Size: Good second issue

#2761 Fixes SCSS #technologies
  _sass/components/_project-filter.scss
Labels: Bug, role: front end, Size: Medium, P-Feature: Project Info and Page, Status: Updated, size: 1pt

#2789 Refactor Buttons on Sitemap and Events Pages - #2159
  _includes/events-page/left-col-content.html
  pages/sitemap.html
Labels: enhancement, role: front end, Feature: Refactor CSS, Feature: Design system, Size: Small

#2841 Update made to change bold to strong for line 91
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility

#2879 remove-non-existent-classes-2721
  pages/citizen-engagement.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Citizen Engagement, size: 1pt

#2883 Updated act.yml credits file
  _data/internal/credits/act.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#2881 Clarify steps in README.md for Code Contributors - #2726
  README.md
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Onboarding/Contributing.md, size: 1pt

#2885 Update program-area.md Text
  _projects/new-schools-today.md
Labels: role: front end, P-Feature: Project Info and Page, Size: Good second issue

#2893 Made changes to CONTRIBUTING.md for easier understanding
  CONTRIBUTING.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Onboarding/Contributing.md, size: 1pt

#2889 Applied design system heading classes to Getting Started page
  pages/getting-started.html
Labels: role: front end, P-Feature: Getting Started, Feature: Design system, Size: Small
