Repository hackforla/website, pull requests merged in 2022-11, with the labels that each got.

#3679 removed unused alt-hero line in shared-housing-project.md
  _projects/shared-housing-project.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, Status: Updated, size: 0.5pt

#3664 Apply New Gradient for Project Pages
  _sass/components/_project-page.scss
Labels: role: front end, Size: Medium, P-Feature: Projects page, size: 1pt

#3681 Updating Current Project Team
  _projects/website.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#3686 Updated content and type fields in people2.yml credits file #2853
  _data/internal/credits/people2.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3689 replace content field remove type field in process.yml
  _data/internal/credits/process.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3692 making program-areas project cards point towards respective project links
  pages/program-areas.html
Labels: role: front end, role: back end/devOps, Size: Medium, P-Feature: Project Info and Page, P-Feature: Program Area

#3703 update content field and remove type field
  _data/internal/credits/shield.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3699 Remove unused alt-hero field from not-today.md
  _projects/not-today.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3700 Removed line 8 unused alt-hero field
  _projects/open-community-survey.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3705 Update Resource Cards on Project Pages
  _sass/components/_project-page.scss
Labels: Status: Help Wanted, role: front end, Size: Medium, Status: Updated, Feature: Refactor HTML, size: 2pt

#3696 Linked and stored visual demo pdf for pull request review in contributing wiki
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Status: Updated, Feature: Onboarding/Contributing.md, Size: Small, size: 1pt

#3702 GHA: Update 'getCommentContributors' Function
  github-actions/trigger-schedule/github-data/get-project-data.js
Labels: role: front end, Feature: Refactor JS / Liquid, Size: Small, size: 0.5pt

#3716 Swapped Color with Color Variables: Black, White, and Grey
  _sass/components/_guides.scss
Labels: role: front end, Status: Updated, Feature: Refactor CSS, Feature: Design system, Size: Small, size: 0.25pt

#3672 Convert project profile card update template into github issue form
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.md
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Labels: role: back end/devOps, Size: Medium, Status: Updated, Feature: Board/GitHub Maintenance, size: 2pt, ready for product

#3721 Hide suggest buttons on Toolkit Page
  pages/toolkit.html
Labels: role: front end, P-Feature: Toolkit, Size: Small, size: 0.25pt

#3718 Updated content field and removed type field in credits/review.yml
  _data/internal/credits/review.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3717 Update blank issue form with dependency
  .github/ISSUE_TEMPLATE/blank-issue-form.yml
Labels: Feature: Administrative, role: front end, Status: Updated, Size: Small, size: 0.5pt

#3728 Updated content field and removed type field in internal/rocket.yml
  _data/internal/credits/rocket.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3729 Removed alt-hero field from _projects/spare.md file
  _projects/spare.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3733 remove alt-hero from tdm-calculator.md
  _projects/tdm-calculator.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3737 added the correct link to Git gui wiki
  CONTRIBUTING.md
Labels: Bug, good first issue, role: front end, Feature: Onboarding/Contributing.md

#3736 Updated UI/UX CoP card
  _data/internal/communities/ui-ux.yml
Labels: role: front end, time sensitive, Size: Small, P-Feature: Communities of Practice, size: 0.25pt

#3745 Removed unused alt-hero #3213
  _projects/undebate.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3726 Make toolkit guide cards WCAG compliant
  _guide-pages/2FA.html
  _guide-pages/creating-kanban-project.html
  _guide-pages/figma-for-opensource-projects.html
  _guide-pages/github-issues.html
  _guide-pages/responsible-use-of-images-on-opensource-projects.html
  _guide-pages/setting-up-1password-on-opensource-project.html
  _guide-pages/showing-civictech-experience-on-linkedin.html
  _guide-pages/survey-reporting-dashboard-guide.html
  _guide-pages/updates-team-pages-on-hflasite.html
  _guide-pages/using-kanban-project.html
  _includes/guide-card.html
  _sass/components/_toolkit.scss
  assets/images/guides/2FA/2FA.svg
  assets/images/guides/survey-reporting/survey-reporting-image.svg
Labels: role: front end, Size: Medium, P-Feature: Toolkit, Feature: Accessibility, Feature: Refactor HTML, size: 2pt

#3719 Updated partners.yml file with program-areas field
  _data/internal/partners.yml
Labels: role: back end/devOps, Size: Medium, P-Feature: Program Area, size: 0.25pt

#3751 Removed unused alt-hero field
  _projects/public-tree-map.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3741 Update docker-compose.yml to clean Jekyll data
  docker-compose.yml
Labels: role: back end/devOps, Size: Small, Feature: Infrastructure, size: 0.5pt

#3749 Removed lightyellow and papayawhip variables from requested files
  _sass/elements/_color-styles.scss
  _sass/variables/_colors.scss
Labels: role: front end, Feature: Refactor CSS, Feature: Design system, Size: Small, size: 0.25pt

#3752 Updated the information in the Data Science CoP card (removed old mem…
  _data/internal/communities/data-science.yml
Labels: role: front end, time sensitive, Size: Small, P-Feature: Communities of Practice, size: 0.25pt
