Repository hackforla/website, pull requests merged in 2022-12, with the labels that each got.

#3753 Changed alt text for Westside Expunge Assist image
  _includes/events-page/our-locations-content.html
Labels: role: front end, role: back end/devOps, Size: Good second issue, Status: Updated, P-Feature: Events, Feature: Accessibility, size: 0.5pt

#3764 Add credit for Social Safety Net image for redesigned homepage #3416
  _data/internal/credits/social-safety-net.yml
Labels: role: front end, Status: Updated, P-Feature: Credit, Size: Small, Feature: Feature Branch, size: 0.5pt

#3762 Re-added lightyellow color variable and class
  _sass/components/_home.scss
  _sass/components/_projects-page.scss
  _sass/components/_projects.scss
  _sass/elements/_color-styles.scss
  _sass/variables/_colors.scss
Labels: role: front end, Feature: Refactor CSS, Feature: Design system, Size: Small, size: 0.25pt

#3730 Design System Audit Color Swap Red
  _guide-pages/how-to-set-reminders-in-slack.md
  _layouts/guides.html
  _sass/components/_about.scss
  _sass/components/_guides.scss
  _sass/components/_home.scss
  _sass/components/_projects-page.scss
  _sass/components/_projects.scss
  pages/guides.html
Labels: role: front end, Size: Medium, Status: Updated, Feature: Refactor CSS, Feature: Design system, size: 1pt

#3768 Add credit .yml file to diversity, equity, inclusion image for redesigned homepage
  _data/internal/credits/diversity-equity-inclusion.yml
Labels: role: front end, P-Feature: Credit, Size: Small, Feature: Feature Branch, size: 0.5pt

#3771 updated leadership info
  _projects/lucky-parking.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#3725 On the events page, removed project information from the event location cards
  _includes/events-page/our-locations-content.html
  _sass/components/_events.scss
  assets/images/hack-nights/DTLA.png
  assets/images/hack-nights/southla.png
  assets/images/hack-nights/westside1.png
Labels: role: front end, Size: Large, Status: Updated, P-Feature: Events, size: 3pt
