Repository hackforla/website, pull requests merged in 2022-10, with the labels that each got.

#3594 Updated BallotNav project profile
  _projects/ballot-nav.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#3586 Update project card 3447
  _projects/access-the-data.md
  assets/images/projects/access-the-data.png
  assets/pdfs/Access-the-Data-One-Sheet.pdf
  assets/pdfs/Access-the-Data-OneSheet.pdf
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Status: Updated, Size: Small, size: 0.5pt

#3599 Fix Punctuation and Capitalization in Access the Data & Food Oasis
  _projects/access-the-data.md
  _projects/food-oasis.md
Labels: role: front end, Size: Small, P-Feature: Projects page, size: 0.5pt

#3600 edited content field and removed type field in info.yml in credits-2844
  _data/internal/credits/info.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3601 Update project card access the data
  _projects/access-the-data.md
  assets/images/projects/access-the-data.png
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Status: Updated, Size: Small, size: 0.5pt

#3618 Edit Content Field and Remove Type Field From meetings.yml Credits File
  _data/internal/credits/meetings.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3617 Edit content field and remove type 2846
  _data/internal/credits/locations.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3616 Credits-fix
  _data/internal/credits/office-worker.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3615 Edit content field and remove type field from job.yml
  _data/internal/credits/job.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3621 Removed alt-hero from guides-team.md
  _projects/guides-team.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3622 Alt-fixes
  _projects/food-oasis.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, Status: Updated, size: 0.5pt

#3624 Remove unused alt-hero field from hellogov.md project file
  _projects/hellogov.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3620 Updated Content Field and Removed Type Field in meetup.yml
  _data/internal/credits/meetup.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3623 Update alt text on about page 3397
  _includes/about-page/about-card-sustainability.html
Labels: role: front end, role: back end/devOps, P-Feature: About Us, Size: Good second issue, Feature: Accessibility, size: 0.5pt

#3625 Edited content from donate.yml credits file #2823
  _data/internal/credits/donate.yml
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, P-Feature: Credit, size: 0.5pt

#3628 3202 removed alt-hero field from home-unite-us file
  _projects/home-unite-us.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3631 Remove unused alt-hero from file
  _projects/jobs-for-hope.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3632 Changed content field to content-type; removed type field
  _data/internal/credits/idea.yml
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, P-Feature: Credit, size: 0.5pt

#3633 Update CONTRIBUTING.md sections 2.7.a & 2.7.d
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Onboarding/Contributing.md, Size: Small, size: 0.5pt

#3642 Removed unused 'alt-hero' field, line 8, from lucky-parking.md
  _projects/lucky-parking.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3645 Edited content field and removed type field from mentor.yaml file
  _data/internal/credits/mentor.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3643 Updated donate page image's alt text to adhere to WCAG
  _includes/donate-card.html
Labels: role: front end, Feature: Accessibility, P-Feature: Donate, Size: Small, size: 0.5pt

#3647 Remove Unused Field Heart 3200
  _projects/heart.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3648 Edit content field and remove type field from partnership.yml credits file
  _data/internal/credits/partnership.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3650 Fixes #2852: Edit people.yml content field to content-type and remove type field
  _data/internal/credits/people.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3655 Change alt tag for Public Tree Map Project image on events page to adhere to WCAG issue #3284
  _includes/events-page/our-locations-content.html
Labels: role: front end, role: back end/devOps, Size: Good second issue, P-Feature: Events, Feature: Accessibility, size: 0.5pt

#3657 Removed alt-hero field from metro-ontime.md file
  _projects/metro-ontime.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3658 Updated fields in people2.yml credits file #2853
  _data/internal/credits/people2.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3659 Changed content to content-type: image and removed type: icon
  _data/internal/credits/scrumboard.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3656 Fix Bug on Code of Conduct Page
  robots.txt
Labels: Bug, Feature: Administrative, role: back end/devOps, Size: Medium, size: 1pt

#3668 changed alt text for Sustainable Development Logo
  _includes/about-page/about-card-sustainability.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Accessibility, size: 0.5pt

#3660 Changes content to content-type, removes type field.
  .vscode/settings.json
  _data/internal/credits/photo-roster.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3673 Removed unused alt-hero field from new-schools-today.md
  _projects/new-schools-today.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3652 Improved errorlog in add-label.js #2438
  github-actions/add-update-label-weekly/add-label.js
Labels: role: back end/devOps, Status: Updated, Feature: Board/GitHub Maintenance, Size: Small, size: 1pt

#3674 Change-linter-to-@v4-2479
  .github/workflows/lint-scss.yml
Labels: Bug, role: back end/devOps, Status: Updated, Feature: Board/GitHub Maintenance, Size: Small, size: 1pt

#3677 removed alt-hero from _projects/expunge-assist.md issue 3196
  _projects/expunge-assist.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, Status: Updated, size: 0.5pt

#3675 Edit alt text for Engage image
  _includes/events-page/our-locations-content.html
Labels: role: front end, role: back end/devOps, Size: Good second issue, Status: Updated, P-Feature: Events, Feature: Accessibility, size: 0.5pt
