Repository hackforla/website, pull requests merged in 2022-08, with the labels that each got.

#3441 Alt Text Change for Palms Image
  pages/citizen-engagement.html
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Accessibility, P-Feature: Citizen Engagement, size: 0.5pt

#3445 replaced content with content-type:image, removed type:icon in design…
  _data/internal/credits/design.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3450 added site to 100 automations
  _projects/100-automations.md
Labels: role: front end, P-Feature: Project Info and Page, Size: Small, Ready for Milestone, size: 0.5pt

#3455 Changed alt text for LA Open Data image
  pages/citizen-engagement.html
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Accessibility, P-Feature: Citizen Engagement, size: 0.5pt

#3454 Update civic tech jobs roster
  _projects/civic-tech-jobs.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#3460 Completed issue 2814 objectives
  _data/internal/credits/designer-life.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3462 Edit credit for data science image in feature-homepage-launch
  _data/internal/credits/data-science.yml
Labels: role: front end, P-Feature: Credit, Size: Small, Feature: Feature Branch, size: 0.5pt

#3466 Update the marketing .yml file
  _data/internal/credits/marketing.yml
Labels: role: front end, P-Feature: Credit, Size: Small, Feature: Feature Branch, size: 0.5pt

#3456 Fixed Privacy Policy page
  _sass/components/_privacy-policy.scss
  pages/privacy-policy.html
Labels: role: front end, Size: Large, Status: Updated, P-Feature: Privacy Policy, size: 3pt

#3467 Updated alt text for issue #3404
  _includes/about-page/about-card-metrics.html
Labels: role: front end, role: back end/devOps, P-Feature: About Us, Size: Good second issue, Feature: Accessibility, 2 weeks inactive, size: 0.5pt

#3470 Removed hex code abbreviations and replaced with the full hex code to fix issue #3355
  _sass/variables/_colors.scss
Labels: role: front end, Feature: Refactor CSS, Size: Small, Ready for Milestone, size: 0.5pt

#3468 Change 'engineering.yml' to 'coding.yml' and edit the credits
  _data/internal/credits/coding.yml
  _data/internal/credits/engineering.yml
Labels: role: front end, P-Feature: Credit, Size: Small, Feature: Feature Branch, 2 weeks inactive, size: 0.5pt

#3475 made changes to developer activity
  _data/internal/credits/developer-activity.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, 2 weeks inactive, size: 0.5pt

#3436 Created standard issue form for feasibility
  .github/ISSUE_TEMPLATE/feasibility-issue-template.yml
Labels: role: back end/devOps, Size: Medium, Feature: Board/GitHub Maintenance, size: 1pt

#3471 Edit hex orange colors to orange variables
  _sass/components/_about.scss
  _sass/components/_project-meetings.scss
Labels: role: front end, Size: Medium, Feature: Refactor CSS, size: 1pt

#3480 updated hardcoded colors with variables - Green
  _sass/components/_about.scss
  _sass/components/guide-pages/github-issue-guide.scss
Labels: role: front end, Size: Medium, Status: Updated, Feature: Refactor CSS, Feature: Design system, size: 1pt

#3482 content type changed
  _data/internal/credits/contact-us.yml
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, P-Feature: Credit, size: 0.5pt

#3452 Projects page copy with only technology and language filters
  _includes/current-projects-check.html
  assets/js/current-projects-check.js
  pages/projects-check.html
Labels: role: front end, Size: Large, P-Feature: Projects page, size: 2pt

#3495 Added Merge Team to Current Project Team/Update Lead Info (Website)
  _projects/website.md
Labels: role: front end, Size: Small, P-Feature: Projects page, size: 0.5pt

#3490 Replace hex value for redpurple to its color value
  _sass/components/_about.scss
Labels: role: front end, Size: Medium, Feature: Refactor CSS, Feature: Design system, size: 1pt

#3483 Clean and refactor scripts in toolkit.html
  _sass/components/_toolkit.scss
  assets/js/toolkit.js
  pages/toolkit.html
Labels: role: front end, Size: Medium, Status: Updated, Feature: Refactor JS / Liquid, size: 2pt

#3497 Update yellow variables
  _sass/components/_about.scss
Labels: role: front end, Size: Medium, Feature: Refactor CSS, Feature: Design system, size: 1pt
