Repository hackforla/website, pull requests merged in 2022-05, with the labels that each got.

#3043 Add so go survey credit page 3022
  _data/internal/credits/tools/so-go-survey.yml
  _sass/components/_credit-items.scss
  assets/images/credits/so-go-survey.png
  pages/credits.html
Labels: role: front end, Size: Medium, time sensitive, Status: Updated, P-Feature: Credit, size: 1pt

#3083 Create new Privacy Policy page and its credit, and edit label
  _data/internal/credits/privacy-policy.yml
  _sass/components/_privacy-policy.scss
  _sass/main.scss
  assets/images/privacy-policy/privacy-policy.jpg
  pages/privacy-policy.html
Labels: role: front end, Size: Large, Status: Updated, P-Feature: Privacy Policy, size: 3pt

#3108 removed alt-hero from line 8 in _projects/311-data.md file
  _projects/311-data.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, 2 weeks inactive, size: 0.5pt

#3114 Updated Civic Tech Index project profile 2728
  _projects/civic-tech-index.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#3134 removed 'workflow_dispatch' used for testing
  github-actions/github-data/get-project-data.js
Labels: Bug, role: front end, Size: Medium, P-Feature: Project Info and Page, Status: Updated, size: 1pt

#3158 Changed content field to content-type and removed type field in credits/404 yml file
  _data/internal/credits/404.yml
Labels: good first issue, role: front end, P-Feature: Credit, size: 0.5pt

#3160 Update all <b> tags to <strong> tags in 2FA.html.
  _guide-pages/2FA.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 0.5pt

#3159 Edited content field and removed type field from brochure.yml credits file
  _data/internal/credits/brochure.yml
  docker-compose.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3163 Updated value for alt text for the voices neighborhood img
  pages/citizen-engagement.html
Labels: role: front end, role: back end/devOps, Size: Good second issue, P-Feature: Citizen Engagement, size: 0.5pt

#3168 merging content and type to content-type in building.yml
  _data/internal/credits/building.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3169 Removed unused alt-hero from _projects/access-the-data.md
  _projects/access-the-data.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3171 Edit content field and remove type field from board.yml, credit files
  _data/internal/credits/board.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3085 Implemented New Design For Toolkit Mobile Menu
  _sass/components/_toolkit.scss
  pages/toolkit.html
Labels: role: front end, Size: Medium, P-Feature: Toolkit, Status: Updated, size: 2pt

#3172 Remove unused alt-hero field from ballot-nav.md project file
  _projects/ballot-nav.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3174 Removed alt text fields from 2FA.html, creating-kanban-project.html, and figma-for-opensource-projects.html - #2928
  _guide-pages/2FA.html
  _guide-pages/creating-kanban-project.html
  _guide-pages/figma-for-opensource-projects.html
Labels: role: front end, P-Feature: Toolkit, Size: Small, size: 0.5pt

#3075 added anchors to guides and external resources
  _sass/components/_toolkit.scss
  pages/toolkit.html
Labels: role: front end, Size: Medium, P-Feature: Toolkit, Status: Updated, size: 1pt

#2723 Applied Title classes to heading elements on donate page
  _sass/components/_donate.scss
  pages/donate.html
Labels: role: front end, Status: Updated, Feature: Design system, P-Feature: Donate, Size: Small, size: 1pt

#3182 Edit content field and remove type field from button.yml credits file
  _data/internal/credits/button.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt
