Repository hackforla/website, pull requests merged in 2022-01, with the labels that each got.

#2648 Add GitHub Link to the Community Of Practice
  _data/internal/communities/project-management.yml
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, P-Feature: Communities of Practice

#2647 Update the images on the credits page so they're all the same width #2456
  _sass/components/_credit-items.scss
  pages/credits.html
Labels: role: front end, Size: Medium, P-Feature: Credit

#2646 Add Languages to Filter
  assets/js/current-projects.js
Labels: role: front end, role: back end/devOps, Size: Medium, Status: Updated, P-Feature: Projects page

#2678 Update Guides Team project leadership members 2678
  _projects/guides-team.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Good second issue

#2693 Add alt attribute to line 20 projects-page.html
  pages/projects-page.html
Labels: good first issue, role: front end, P-Feature: Projects page, size: 1pt

#2665 first attempt at issue 2598
  _sass/components/_getting-started-page.scss
Labels: role: front end, Size: Medium, P-Feature: Getting Started

#2682 Fix so jQuery is Alphabetized correctly in technologies drop down
  assets/js/current-projects.js
Labels: role: front end, Size: Medium, P-Feature: Projects page, size: 1pt

#2709 changed semantic tags from <b> to <strong> on about us page
  _includes/about-page/about-card-donations.html
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, Feature: Accessibility

#2714 Update alt text 1564
  _data/internal/credits/check.yml
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, Feature: Accessibility, P-Feature: Credit, Hacktoberfest

#2718 changing bold to strong
  pages/join-us.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility

#2700 Change Open Community Survey's program area from 'Vote / Represent…
  _projects/open-community-survey.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, Status: Updated

#2710 issue-2604-changing-completed-project-labels-via-if-statement
  _layouts/project.html
Labels: role: front end, Size: Medium, Status: Updated, Feature: Refactor HTML

#2672 Update tech dropdown 2397
  _sass/components/_project-filter.scss
  _sass/variables/_layout.scss
Labels: role: front end, Size: Large, Status: Updated, Feature: Refactor CSS, P-Feature: Projects page

#2719 Added new project, CivicTechJobs, to website
  _projects/civic-tech-jobs.md
  assets/images/projects/civic-tech-jobs-hero.png
  assets/images/projects/civic-tech-jobs.png
  assets/pdfs/Civic-Tech-Jobs-One-Sheet.pdf
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Size: Small

#2725 Update GitHub handle 2553
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.md
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, Feature: Board/GitHub Maintenance
