Repository hackforla/website, pull requests merged in 2022-04, with the labels that each got.

#2790 Added program area 2384
  _projects/jobs-for-hope.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, Status: Updated, size: 0.5pt

#3020 Added tools section to current project cards
  assets/js/current-projects.js
Labels: role: front end, Size: Medium, P-Feature: Projects page, size: 1pt

#3030 added NoSQL.svg to technologies-icons folder
  assets/images/technologies-icons/NoSQL.svg
Labels: Feature: Administrative, role: front end, Status: Updated, Size: Small, size: 0.5pt

#3029 Added Section 3.1.b.v, to CONTRIBUTING.md :"How to add a pull request to the project board"
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Status: Updated, Feature: Onboarding/Contributing.md, Size: Small, size: 0.5pt

#3037 Added The School of law logo issue 3025
  assets/images/partners/ggu-school-of-law.png
Labels: role: front end, P-Feature: About Us, Size: Small, size: 0.5pt

#2977 Update card format 2339
  _includes/wins-page/wins-card-template.html
  _sass/components/_wins-page.scss
  assets/js/wins.js
Labels: role: front end, Size: Medium, Feature: Refactor CSS, P-Feature: Wins Page, p-Feature: Mobile, size: 2pt

#3036 Updated Community Survey Project .md to accurately display current Pr…
  _projects/open-community-survey.md
  assets/pdfs/Open-Community-Survey-One-Sheet.pdf
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#3046 Updated partner logo for LA homeless initiative
  _data/internal/partners.yml
  assets/images/partners/la-county-homeless-initiative.png
  assets/images/partners/real-help-lasting-change.svg
Labels: role: front end, P-Feature: About Us, Size: Small, size: 0.5pt

#3042 Update add labels trigger #2939
  github-actions/trigger-issue/add-missing-labels-to-issues/add-labels-template.md
Labels: role: back end/devOps, Feature: Board/GitHub Maintenance, Size: Small, automation, size: 1pt

#3062 Fixed misspelled words on home-unite-us.md file
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Projects page, size: 0.5pt

#3072 Fixes Misspelled Word on Join Us Page
  pages/join-us.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Join Page, size: 0.5pt

#3073 changed the spelling from webapp to web app on line 56
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Citizen Engagement, size: 0.5pt

#3079 Remove type field 2793
  _data/internal/credits/avatar.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3081 Deleted unused code regarding project-filter.js
  _layouts/default.html
  assets/js/project-filter.js
Labels: role: front end, Size: Good second issue, Feature: Refactor JS / Liquid, size: 1pt

#3076 fixed spelling of non-profit to nonprofit, line 77, join-us.html
  pages/join-us.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Join Page, size: 0.5pt
