Repository hackforla/website, pull requests merged in 2022-07, with the labels that each got.

#3087 Update project page header 2355
  _sass/elements/_containers.scss
  pages/projects-page.html
Labels: role: front end, Size: Medium, Status: Updated, P-Feature: Projects page, size: 1pt

#3225 Update styling 404 page 2097
  _sass/components/_404.scss
Labels: role: front end, Size: Medium, P-Feature: 404 page, size: 1pt

#3321 Escape visible projects object in current-projects.js to prevent Liquid injections
  assets/js/current-projects.js
Labels: role: back end/devOps, Feature: Refactor JS / Liquid, Size: Small, P-Feature: Projects page, size: 1pt

#3327 Updating food oasis profile #3232
  _projects/food-oasis.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#3332 Revert "Escape visible projects object in current-projects.js to prevent Liquid injections"
  assets/js/current-projects.js
Labels: role: back end/devOps, Status: Updated, Feature: Refactor JS / Liquid, Size: Small, P-Feature: Projects page, size: 1pt

#3330 Updated Leadership List for Open Community Survey
  _projects/open-community-survey.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#3338 Updated credit for Dicussion Teamwork image
  _data/internal/credits/discussion-teamwork.yml
Labels: role: front end, P-Feature: Credit, Size: Small, Feature: Feature Branch, size: 0.5pt

#3329 Design System Audit: Swap colors with color variables (RED)
  _sass/components/_404.scss
  _sass/components/_about.scss
  _sass/components/_design-system.scss
  _sass/components/_getting-started-page.scss
  _sass/components/_project-meetings.scss
  _sass/components/_project-page.scss
  _sass/components/guide-pages/_survey-reporting-dashboard.scss
  _sass/elements/_loader.scss
Labels: role: front end, Size: Medium, Feature: Refactor CSS, Feature: Design system, size: 1pt

#3299 Update Github Actions for Issue Creators not on the Website-Write Team
  .github/workflows/issue-trigger.yml
Labels: Status: Help Wanted, role: back end/devOps, Size: Large, Feature: Refactor GHA, size: 2pt

#3183 Implemented new mobile footer design 2554
  _data/navigation/getintouch.yml
  _data/navigation/joinus.yml
  _data/navigation/ourwork.yml
  _data/navigation/toolkit.yml
  _includes/footer.html
  _sass/components/_footer.scss
Labels: role: front end, Size: Medium, Status: Updated, Feature: Feature Branch, P-Feature: Footer, size: 1pt

#3363 Edited the content field and removed type field from the design team credits file.
  _data/internal/credits/design-team.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3369 Edit content field and remove type field from schedule.yml credits file
  _data/internal/credits/schedule.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3348 Remove no-labels-template.md and edit post-labels-comment.js file 2898
  github-actions/trigger-issue/add-missing-labels-to-issues/no-labels-template.md
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
Labels: role: back end/devOps, Size: Small, 2 weeks inactive, Feature: Refactor GHA, size: 0.5pt

#3372 Edit Content Field and Remove Type Field #2812
  _data/internal/credits/community.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3371 Updated Hack for LA alt text on events page
  _includes/events-page/our-locations-content.html
Labels: role: front end, role: back end/devOps, Size: Good second issue, P-Feature: Events, Feature: Accessibility, size: 0.5pt

#3373 Remove font type and font weight
  _sass/components/_getting-started-page.scss
Labels: role: front end, Size: Medium, Status: Updated, P-Feature: Getting Started, size: 1pt

#3359 Rename "Update Team Members" action to "Schedule Thursday 1100"
  .github/workflows/schedule-thu-1100.yml
  github-actions/trigger-schedule/trim-contributors/contributors-data.js
Labels: role: back end/devOps, Size: Medium, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 1pt

#3390 Change alt text in engage.md
  _projects/engage.md
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Accessibility, P-Feature: Citizen Engagement, size: 0.5pt

#3407 Add Anchors to Join Us page sections
  pages/join-us.html
Labels: role: front end, time sensitive, P-Feature: Join Page, Size: Small, size: 1pt

#3394 edited credit for accounting image from revenue
  _data/internal/credits/accounting.yml
  _data/internal/credits/revenue.yml
Labels: role: front end, P-Feature: Credit, Size: Small, Feature: Feature Branch, size: 0.5pt

#3368 Rename "Update GitHub Data" to "Schedule Daily 1100"
  .github/workflows/schedule-daily-1100.yml
  github-actions/trigger-schedule/github-data/get-project-data.js
  github-actions/trigger-schedule/github-data/package-lock.json
  github-actions/trigger-schedule/github-data/package.json
Labels: role: back end/devOps, Size: Medium, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 1pt

#3393 Operations image redesign 3296
  _data/internal/credits/operations.yml
Labels: role: front end, P-Feature: Credit, Size: Small, Feature: Feature Branch, size: 0.5pt

#3421 Edited casing and attributes for clarity
  _data/internal/credits/contact.yml
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, P-Feature: Credit, size: 0.5pt

#3385 Infinity image redesign 3342
  _data/internal/credits/infinity.yml
  _sass/components/_home.scss
Labels: role: front end, P-Feature: Credit, Size: Small, Feature: Feature Branch, size: 0.5pt

#3422 Complete refactor/standardization of all buttons within Home Page
  _includes/donate-button.html
  _includes/footer.html
  _includes/forms/contact-us.html
  _includes/home-getting-started.html
  _sass/components/_footer.scss
  _sass/components/_header.scss
  _sass/components/_home.scss
  _sass/elements/_cards.scss
Labels: role: front end, Size: Medium, P-Feature: Home page, Feature: Design system, Feature: Refactor HTML, size: 1pt

#3427 Edit delegate fields 2815
  _data/internal/credits/delegate.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3430 Edit content field and remove type field from deliver-on-date.yml credits file
  _data/internal/credits/deliver-on-date.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3435 Change alt text for Marvista community council image
  pages/citizen-engagement.html
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Accessibility, P-Feature: Citizen Engagement, size: 0.5pt

#3439 Content type issue 2816
  _data/internal/credits/commofpract.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3442 Issue 3400
  _includes/about-page/about-card-sustainability.html
Labels: role: front end, role: back end/devOps, P-Feature: About Us, Size: Good second issue, Feature: Accessibility, size: 0.5pt

#3443 Change line 160 from .js file - 3166
  github-actions/trigger-schedule/github-data/get-project-data.js
Labels: role: front end, Feature: Refactor JS / Liquid, Size: Small, size: 0.5pt

#3444 added environment credit file
  _data/internal/credits/environment.yml
Labels: role: front end, P-Feature: Credit, Size: Small, Feature: Feature Branch, size: 0.5pt
