Repository hackforla/website, pull requests merged in 2022-06, with the labels that each got.

#3173 Remove alt-hero field from civic-opportunity-project.md #2923
  _projects/civic-opportunity-project.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, Status: Updated, size: 0.5pt

#3193 Edited content field and removed type field from business.yml file
  _data/internal/credits/business.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3178 removed unused alt-hero field
  _projects/brigade-organizers-playbook.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3218 Edit fields in resume.yml credits file
  _data/internal/credits/resume.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3176 Remove Unused Alt-Text Field in Toolkit Guides HTML Files: github-issues, use-of-images, 1password (file names abbreviated)
  _guide-pages/github-issues.html
  _guide-pages/responsible-use-of-images-on-opensource-projects.html
  _guide-pages/setting-up-1password-on-opensource-project.html
Labels: role: front end, P-Feature: Toolkit, Size: Small, size: 0.5pt

#3221 removed unused filed
  _projects/writeforall.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3185 Removed type field 2878
  _data/internal/credits/solidarity.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#2984 Update image location sponsors 2458
  _data/internal/partners.yml
  _data/internal/sponsors.yml
  _includes/about-page/about-card-sponsors.html
  _includes/sponsors.html
  _sass/components/_citizen_engagement.scss
  _sass/components/_home.scss
  assets/images/sponsors/carbon-five.svg
  assets/images/sponsors/code-for-america.svg
  assets/images/sponsors/laci.svg
  assets/images/sponsors/logo-carbon-five.jpg
  assets/images/sponsors/logo-cfa.svg
  assets/images/sponsors/logo-laci.svg
  assets/images/sponsors/logo-sip-and-sonder.png
  assets/images/sponsors/sip-sonder.svg
  pages/citizen-engagement.html
Labels: role: front end, role: back end/devOps, Size: Medium, Status: Updated, Feature: Refactor HTML, size: 1pt

#3231 Remove alt hero field 3215
  _projects/website.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3226 Remove alt-hero field from vrms.md project file
  _projects/vrms.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3086 Lucky parking 2916
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, P-Feature: Citizen Engagement, size: 0.5pt

#3237 Add h tags 2952
  pages/getting-started.html
Labels: role: front end, Status: Updated, P-Feature: Getting Started, Size: Small, size: 0.5pt

#3241 Removed the alt text for the 311 project card image
  _projects/311-data.md
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Accessibility, 2 weeks inactive, P-Feature: Citizen Engagement, size: 0.5pt

#3235 added a new note in section 2.2 before the existing one
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Onboarding/Contributing.md, Size: Small, size: 0.5pt

#3258 Updated calendar-time.yml in Credits Page - #2800
  _data/internal/credits/calendar-time.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3285 Renamed content field and removed type field in credits's redo.yml
  _data/internal/credits/redo.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3288 Change sdg image's alt text for access the data
  _projects/access-the-data.md
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Accessibility, P-Feature: Citizen Engagement, size: 0.5pt

#2962 Resolve issue 2155 to add a comment reminding assignee to add ETA and Availability
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-preliminary-comment/check-label-preliminary-update.js
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update.md
Labels: role: back end/devOps, Size: Medium, Status: Updated, Feature: Board/GitHub Maintenance, Fun: Third Issue, size: 1pt

#3291 Changed content and type field into one field: content-type
  _data/internal/credits/clipboard.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3262 Update Instructions Template #2897
  github-actions/add-update-label-weekly/update-instructions-template.md
Labels: role: back end/devOps, Size: Small, Feature: Refactor GHA, size: 0.5pt

#3298 Update website's project team members
  _projects/website.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#3297 Changed from Content to Content-Type
  _data/internal/credits/citizen-engagement.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3287 Edited and removed content from care.yml #2810
  _data/internal/credits/care.yml
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, P-Feature: Credit, size: 0.5pt

#3263 Bump node-fetch from 2.6.1 to 2.6.7 to resolve a security vulnerability #3082
  github-actions/github-data/package-lock.json
Labels: Status: Help Wanted, Status: Urgent, role: back end/devOps, Size: Medium, Status: Updated, Feature: Board/GitHub Maintenance, size: 2pt

#3303 Edit content field and remove type field from code.yml #2807
  _data/internal/credits/code.yml
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, P-Feature: Credit, size: 0.5pt

#3304 Changed alt text for card image in access-the-data.md #3092
  _projects/access-the-data.md
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Accessibility, P-Feature: Citizen Engagement, size: 0.5pt

#3317 Change card-image-alt in lucky-parking.md
  _projects/lucky-parking.md
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Accessibility, P-Feature: Citizen Engagement, size: 0.5pt

#3320 Change alt text for citizen engagement html file
  _data/internal/credits/citizen-engagement.yml
  pages/citizen-engagement.html
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Accessibility, P-Feature: Citizen Engagement, size: 0.5pt

#3323 Edit hero image in citizen engagement file #3088
  pages/citizen-engagement.html
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Accessibility, P-Feature: Citizen Engagement, size: 0.5pt

#3322 Updated project profile: Civic Tech Index
  _projects/civic-tech-index.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#3324 Update EXPUNGE ASSIST project information
  _projects/expunge-assist.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#3326 Edit credit for Design image for redesigned homepage
  _data/internal/credits/design2.yml
  _data/internal/credits/ui-ux.yml
Labels: role: front end, P-Feature: Credit, Size: Small, Feature: Feature Branch, size: 0.5pt
