Repository hackforla/website, pull requests merged in 2022-09, with the labels that each got.

#3513 Update diversity.yml
  _data/internal/credits/diversity.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3514 Replacing Alt Text on Citizen Engagement Page
  pages/citizen-engagement.html
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Accessibility, P-Feature: Citizen Engagement, size: 0.5pt

#3496 created gha form template
  .github/ISSUE_TEMPLATE/gha-issue-template.yml
Labels: role: back end/devOps, Size: Medium, Status: Updated, Feature: Board/GitHub Maintenance, size: 1pt

#3516 edited content field and removed type field in Credits file - #2825
  _data/internal/credits/employees.yml
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, P-Feature: Credit, size: 0.5pt

#3515 Edit content field and remove type field 2831
  _data/internal/credits/external-mentor.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3517 Add credit for Voting & Representation image
  _data/internal/credits/voting-and-representation.yml
Labels: role: front end, P-Feature: Credit, Size: Small, Feature: Feature Branch, size: 0.5pt

#3518 Removed unused alt hero field
  _projects/green-earth-os.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3519 Change sdg-image-alt text in the lucky-parking.md
  _projects/lucky-parking.md
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Accessibility, P-Feature: Citizen Engagement, size: 0.5pt

#3431 Update toolkit yml files to include a new fields
  _data/internal/toolkitresources.yml
  _guide-pages/2FA.html
  _guide-pages/creating-kanban-project.html
  _guide-pages/figma-for-opensource-projects.html
  _guide-pages/github-issues.html
  _guide-pages/responsible-use-of-images-on-opensource-projects.html
  _guide-pages/setting-up-1password-on-opensource-project.html
  _guide-pages/showing-civictech-experience-on-linkedin.html
  _guide-pages/survey-reporting-dashboard-guide.html
  _guide-pages/updates-team-pages-on-hflasite.html
  _guide-pages/using-kanban-project.html
  _includes/guide-card.html
  _sass/components/_toolkit.scss
  pages/toolkit.html
Labels: role: front end, role: back end/devOps, Size: Medium, P-Feature: Toolkit, Status: Updated, size: 1pt

#3476 Guides Pages Redesign - Updated
  _guide-pages/how-to-set-reminders-in-slack.md
  _includes/toc.html
  _layouts/guides.html
  _sass/components/_guides.scss
  _sass/main.scss
  assets/images/guides/guide-page-hero.svg
  assets/images/guides/how-to-set-reminders-in-slack/image1.png
  assets/images/guides/how-to-set-reminders-in-slack/image10.png
  assets/images/guides/how-to-set-reminders-in-slack/image11.png
  assets/images/guides/how-to-set-reminders-in-slack/image12.png
  assets/images/guides/how-to-set-reminders-in-slack/image13.png
  assets/images/guides/how-to-set-reminders-in-slack/image14.png
  assets/images/guides/how-to-set-reminders-in-slack/image2.png
  assets/images/guides/how-to-set-reminders-in-slack/image3.png
  assets/images/guides/how-to-set-reminders-in-slack/image4.png
  assets/images/guides/how-to-set-reminders-in-slack/image6.png
  assets/images/guides/how-to-set-reminders-in-slack/image7.png
  assets/images/guides/how-to-set-reminders-in-slack/image8.png
  assets/images/guides/how-to-set-reminders-in-slack/slack-icon.png
  assets/js/guidepages.js
  pages/guides.html
Labels: role: front end, Size: Large, P-Feature: Toolkit, Status: Updated, role: design, size: 13+pt

#3534 added workforce development credit image
  _data/internal/credits/workforce-development.yml
Labels: role: front end, P-Feature: Credit, Size: Small, Feature: Feature Branch, size: 0.5pt

#3548 Guides Pages Redesign - Updated (Retry)
  _guide-pages/how-to-set-reminders-in-slack.md
  _includes/toc.html
  _layouts/guides.html
  _sass/components/_guides.scss
  _sass/main.scss
  assets/images/guides/guide-page-hero.svg
  assets/images/guides/how-to-set-reminders-in-slack/image1.png
  assets/images/guides/how-to-set-reminders-in-slack/image10.png
  assets/images/guides/how-to-set-reminders-in-slack/image11.png
  assets/images/guides/how-to-set-reminders-in-slack/image12.png
  assets/images/guides/how-to-set-reminders-in-slack/image13.png
  assets/images/guides/how-to-set-reminders-in-slack/image14.png
  assets/images/guides/how-to-set-reminders-in-slack/image2.png
  assets/images/guides/how-to-set-reminders-in-slack/image3.png
  assets/images/guides/how-to-set-reminders-in-slack/image4.png
  assets/images/guides/how-to-set-reminders-in-slack/image6.png
  assets/images/guides/how-to-set-reminders-in-slack/image7.png
  assets/images/guides/how-to-set-reminders-in-slack/image8.png
  assets/images/guides/how-to-set-reminders-in-slack/slack-icon.png
  assets/js/guidepages.js
  pages/guides.html
Labels: role: front end, Size: Large, P-Feature: Toolkit, Status: Updated, role: design, size: 13+pt

#3446 added donate-card.html file in _includes folder, removed hard coded d…
  _includes/donate-card.html
  _sass/components/_donate.scss
  pages/donate.html
  pages/join-us.html
Labels: role: front end, Size: Medium, Feature: Refactor HTML, size: 0.5pt

#3551 change the content field and remove type field
  _data/internal/credits/email.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3556 Edited find.yml credits file
  _data/internal/credits/find.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3557 Edit content field and remove type field from giving.yml credits file issue 2828
  _data/internal/credits/giving.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3559 Change content to content-type and remove type: icon
  _data/internal/credits/folder.yml
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, P-Feature: Credit, size: 0.5pt

#3560 remove alt-hero field
  _projects/civic-tech-index.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, Status: Updated, size: 0.5pt

#3566 updated alt text for Mid-city neighborhood council image on line 55
  pages/citizen-engagement.html
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Accessibility, P-Feature: Citizen Engagement, size: 0.5pt

#3567 Updated content and type fields in give-love.yml
  _data/internal/credits/give-love.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3568 Update content and type field in global-wins.yml
  _data/internal/credits/global-wins.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3561 Change alt text for CFA logo image in citizen engagement html file Issue#3100
  pages/citizen-engagement.html
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Accessibility, P-Feature: Citizen Engagement, size: 0.5pt

#3573 Edit and remove content and type fields from hammer.yml
  _data/internal/credits/hammer.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3564 V2 add feature branch to contributing 1750
  CONTRIBUTING.md
Labels: documentation, role: front end, role: back end/devOps, Size: Medium, Status: Updated, Feature: Onboarding/Contributing.md, size: 2pt

#3574 Added new citizen-engagement file
  _data/internal/credits/citizen-engagement2.yml
Labels: role: front end, P-Feature: Credit, Size: Small, Feature: Feature Branch, size: 0.5pt

#3576 Edit content field and remove type field from id.yml credits file
  _data/internal/credits/id.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3577 Change Alt Text For Sdg Image
  _projects/open-community-survey.md
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Accessibility, P-Feature: Citizen Engagement, size: 0.5pt

#3578 Updated alt text on open community survey md file
  _projects/open-community-survey.md
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Accessibility, P-Feature: Citizen Engagement, size: 0.5pt

#3579 added link to privacy policy in the footer, line 7 of footer.html issue #3129
  _includes/footer.html
Labels: role: front end, Status: Updated, Size: Small, P-Feature: Footer, size: 1pt

#3582 Fix Styling of Header of Projects 'Info Pages'.
  _sass/components/_project-page.scss
Labels: Bug, role: front end, P-Feature: Project Info and Page, Size: Small, Feature: Feature Branch, size: 0.5pt

#3585 Remove unused alt-hero field from civic-tech-jobs.md project file #2925
  _projects/civic-tech-jobs.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3581 redundant code in _toolkit.scss consolidated
  _sass/components/_toolkit.scss
Labels: role: front end, Feature: Refactor CSS, Size: Small, size: 0.5pt

#3580 Updated GHA to include transferred issue types
  .github/workflows/issue-trigger.yml
Labels: role: back end/devOps, Size: Good second issue, Status: Updated, Feature: Board/GitHub Maintenance, size: 0.5pt

#3591 removed unused alt-hero field from ems-triage-tracker.md project file
  _projects/ems-triage-tracker.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3588 Remove unused alt-hero field from engage.md project file
  _projects/engage.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3593 Updated Program Areas page so projects are dynamically rendered
  _projects/guides-team.md
  pages/program-areas.html
Labels: role: back end/devOps, Size: Medium, P-Feature: Program Area, Status: Updated, Feature: Refactor JS / Liquid, size: 2pt

#3589 Created blank issue form with no dependency
  .github/ISSUE_TEMPLATE/blank-issue-form-with-no-dependency.yml
Labels: Feature: Administrative, role: front end, Status: Updated, Size: Small, size: 0.5pt

#3590 Edit Content Field and Remove Type Field
  _data/internal/credits/hands.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt
