Repository hackforla/website, pull requests merged in 2023-02, with the labels that each got.

#3897 TESTING, again, changes for gha 2592
  .github/workflows/pull-request-trigger.yml
Labels: role: back end/devOps, Size: Medium, time sensitive, Status: Updated, Feature: Board/GitHub Maintenance, automation, size: 2pt

#3767 Add Problem, Solution, and Impact Sections to Project Pages
  _layouts/project.html
  _sass/components/_project-page.scss
Labels: role: front end, Size: Medium, Status: Updated, P-Feature: Projects page, size: 3pt

#3883 added alt to image tags
  _includes/home-page/home-communities.html
Labels: role: front end, Status: Updated, P-Feature: Home page, Size: Small, Feature: Feature Branch, size: 0.25pt

#3905 Changed the status of 100-automation
  _projects/100-automations.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, P-Feature: Projects page, size: 0.25pt

#3839 Modify GitHub actions for label change 3109
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
Labels: role: back end/devOps, Size: Medium, time sensitive, Status: Updated, automation, Feature: Refactor GHA, size: 1pt

#3888 Update alt text 3383
  _includes/about-page/about-card-sustainability.html
Labels: role: front end, role: back end/devOps, P-Feature: About Us, Size: Good second issue, Feature: Accessibility, size: 0.5pt

#3907 Update project profile 3818
  _projects/tdm-calculator.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#3924 Mark civic opporunity project on hold
  _projects/civic-opportunity-project.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, P-Feature: Projects page, size: 0.25pt

#3939 Fix project meeting time not displaying on VRMS project page
  assets/js/project.js
Labels: role: back end/devOps, Size: Medium, P-Feature: Project Info and Page, time sensitive, size: 1pt

#3930 Update Current Team in Projects Page
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.25pt

#3926 Improve WCAG Compliance on Building a Reporting Dashboard and 2FA Guide Pages
  _layouts/guide-pages.html
Labels: role: front end, P-Feature: Toolkit, Size: Good second issue, Feature: Refactor HTML, size: 0.5pt

#3901 Created Civil Tech Infrastructure credit file
  _data/internal/credits/civil-tech-infrastructure.yml
Labels: role: front end, P-Feature: Credit, Size: Small, Feature: Feature Branch, size: 0.5pt

#3932 Update WriteForAll project status from Active to On Hold - #3837
  _projects/writeforall.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt

#3935 Update alt text for Volunteer card on Join Us page
  pages/join-us.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Join Page, Feature: Accessibility, size: 1pt

#3923 changed the alt tag description
  _includes/events-page/our-locations-content.html
Labels: role: front end, role: back end/devOps, Size: Good second issue, P-Feature: Events, Feature: Accessibility, size: 0.5pt

#3940 Updated image alt text in "Join Us" page
  pages/join-us.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Join Page, Feature: Accessibility, size: 1pt

#3928 Update Food Oasis Project Profile Details
  _projects/food-oasis.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#3947 Updated Project Profiles #3731
  _projects/design-systems.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Status: Updated, Size: Small, size: 0.5pt

#3954 Updated alt text for the decorative image 3872
  pages/credits.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#3927 Mark civic tech structure 3895
  _projects/civic-tech-structure.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt

#3965 Update alt text 3851
  pages/join-us.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Join Page, Feature: Accessibility, size: 1pt

#3887 Create filter dropdown scss file in elements folder
  _sass/elements/_dropdown_filters.scss
  _sass/main.scss
Labels: Status: Help Wanted, role: front end, Status: Updated, Feature: Refactor CSS, Size: Small

#3961 Edit content field 2806
  _data/internal/credits/check.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3977 Update project profile vrms 3694
  _projects/vrms.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#3982 Updated leadership info on Youth Justice Nav page
  _projects/youthjusticenav.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#3978 changed size to complexity
  CONTRIBUTING.md
Labels: role: front end, Size: Medium, time sensitive, Feature: Wiki, size: 1pt

#3980 Update Project Profile: 311
  _projects/311-data.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.5pt

#3988 Update project profile greenearthos
  _projects/green-earth-os.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, role: hfla leadership, Status: Updated, Complexity: Small, size: 0.5pt

#3989 Updated Alt Text
  _projects/adopt-civic-art.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#3993 updated project profile page
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#3995 Fixed the Windows docker-users link under 1.5a Docker intallation
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Onboarding/Contributing.md, Complexity: Small, size: 0.25pt

#4004 Updated site url link from food-oasis.md
  _projects/food-oasis.md
Labels: role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Good second issue, Status: Updated, ready for dev lead

#4005 Renamed Img Files Updated Img Tag Filepaths
  _data/internal/credits/business.yml
  _data/internal/credits/button.yml
  _data/internal/credits/people.yml
  _data/internal/credits/technology.yml
  assets/images/getting-started/business.png
  assets/images/getting-started/button.png
  assets/images/getting-started/people.png
  assets/images/getting-started/technology.png
  pages/getting-started.html
Labels: role: front end, Complexity: Medium, P-Feature: Getting Started, size: 1pt

#3984 Add 2 weeks inactive comment 2625
  github-actions/add-update-label-weekly/add-label.js
  github-actions/add-update-label-weekly/update-instructions-template.md
Labels: role: back end/devOps, Complexity: Medium, time sensitive, Feature: Board/GitHub Maintenance, size: 2pt

#3994 Fix spelling errors on guide pages and CONTRIBUTING.md
  CONTRIBUTING.md
  _guide-pages/figma-for-opensource-projects.html
  _guide-pages/survey-reporting-dashboard-guide.html
Labels: role: back end/devOps, Complexity: Medium, time sensitive, Feature: Board/GitHub Maintenance, size: 3pt

#4011 Update HelloGOV image alt property value
  _projects/hellogov.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4022 Update project in Home Unite Us Page - #3929
  _projects/home-unite-us.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Good second issue, Status: Updated, Complexity: Small, size: 0.5pt

#4021 update alt text for design systems img in md #3986
  _projects/design-systems.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4032 Update Project Profile: Website
  _projects/website.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#4018 Add No Wrapping to Getting Started Page "Step" Headers
  _sass/components/_getting-started-page.scss
Labels: role: front end, Complexity: Medium, P-Feature: Getting Started, size: 1pt

#4034 Update project profile 3931
  _projects/expunge-assist.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Status: Updated, Complexity: Small, size: 0.5pt

#3962 Update alt text wcag 3875
  pages/program-areas.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4052 Create Sort Function for Project Meeting Times
  assets/js/project.js
Labels: role: front end, role: back end/devOps, Complexity: Medium, P-Feature: Project Info and Page, time sensitive, P-Feature: Projects page, size: 1pt

#4048 Update alt text for the Guides Team image
  _projects/guides-team.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4057 Fix onboarding image on events page
  _data/internal/events.yml
Labels: role: front end, time sensitive, P-Feature: Events, Complexity: Small, size: 0.5pt
