Repository hackforla/website, pull requests merged in 2023-09, with the labels that each got.

#5339 Commented out test site for engage project
  _projects/engage.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, P-Feature: Projects page, size: 0.25pt

#5343 Refactor HTML to resolve linter error
  _includes/about-page/about-card-donations.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Refactor HTML, size: 0.25pt

#5344 Refactor div to resolve linter error –– about-card-partners.html
  _includes/about-page/about-card-partners.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Refactor HTML, size: 0.25pt

#5382 Updated technologies on the Access the Data project profile
  _projects/access-the-data.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.5pt

#5392 Update Project Profile: Civic Tech Jobs (remove Ava Li)
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5397 Refactor HTML: _includes/about-page/about-card-platform.html - Giving closing span tag
  _includes/about-page/about-card-platform.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Refactor HTML, size: 0.25pt

#5399 Update project profile: HFLA website (remove Chris Menke)
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5414 Hide nonfunctional engage links 5330
  _projects/engage.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, P-Feature: Projects page, size: 0.25pt

#5405 Refactor HTML to resolve linter error in about-card-executive-letter
  _includes/about-page/about-card-executive-letter.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, size: 0.25pt

#5412 Refactor secondRepoId for clarity
  _layouts/project.html
  _projects/civic-tech-index.md
  assets/js/current-projects.js
  assets/js/project.js
Labels: role: back end/devOps, Complexity: Medium, P-Feature: Project Info and Page, time sensitive, Feature: Refactor JS / Liquid, P-Feature: Projects page, size: 1pt

#5398 Deleted the file assets/images/join-us/donation-graphic.svg
  assets/images/join-us/donation-graphic.svg
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Join Page, size: 0.25pt

#5158 Fix bug GHA "Schedule Thursday 1100" (inactive members) 4768
  .github/workflows/schedule-monthly-PREV.yml
  .github/workflows/schedule-monthly.yml
  .github/workflows/schedule-thu-1100.yml
  github-actions/trigger-schedule/github-data/contributors-data.js
  github-actions/trigger-schedule/trim-contributors/contributors-data.js
Labels: Bug, role: back end/devOps, Complexity: Large, time sensitive, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 3pt

#5442 Img tag refactor events page
  _includes/events-page/our-locations-content.html
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, P-Feature: Events, Feature: Refactor HTML, size: 0.25pt

#5423 Removed James Higgs from tdm-calculator.md - #5394
  _projects/tdm-calculator.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5449 Update Project Profile: Website Leadership (Roslyn Wythe)
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5401 Removed ending slash in img HTML tag in Abouts page
  _includes/about-page/about-card-sustainability.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Refactor HTML, size: 0.25pt

#5415 Updated project profile and removed 2 people
  _projects/access-the-data.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.5pt

#5419 Update project profile civic tech jobs add benny van 5390
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5464 Update Project Profile: Removed Genggeng Zhang
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5451 Update Karen Coronel Leadership detail for civic jobs project page
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5454 Remove CfA from brigade orgranizer's playbook
  _projects/brigade-organizers-playbook.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.5pt

#5465 Add Sarah Sanger to Civic Tech Jobs Project Profile #5389
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5422 commented out broken site links
  _projects/hellogov.md
  _projects/jobs-for-hope.md
  _projects/work-for-la.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, P-Feature: Projects page, size: 0.25pt

#5456 Updated Project Profile in Civic Tech Jobs - Jenn Wu #5385
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5468 Update: _projects/website.md issue number 5320 - Adding Josiah Odosu to the website
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5512 Created initial spell check config file
  cspell.json
Labels: role: front end, role: back end/devOps, time sensitive, Feature: Onboarding/Contributing.md, Complexity: Small, size: 0.5pt

#5444 Added Tools Filter to Projects Check Page
  _projects/home-unite-us.md
  _projects/lucky-parking.md
  _projects/metro-ontime.md
  assets/js/current-projects-check.js
Labels: role: front end, role: back end/devOps, Complexity: Large, size: 3pt, p-feature: Projects-check

#5466 Update Civic Tech Jobs Profiles (#5387)
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5488 Update Civic Tech Jobs (Sabrina Heasley)
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5521 Remove entire entry of Noor Grewal from leadership variable
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5522 Remove CfA sponsor #5409
  _includes/sponsors.html
Labels: role: front end, role: back end/devOps, P-Feature: About Us, time sensitive, P-Feature: Home page, Complexity: Small, size: 0.25pt

#5457 added the missing span tag #5368
  _includes/about-page/about-card-platform.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Refactor HTML, size: 0.25pt

#5523 Updated Project Profile #5459: Removed Johnny Wu
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5510 modified projects/civic-tech-jobs.md-removed Beth Williford
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5535 Updated good first issue wording for onboarding process
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Onboarding/Contributing.md, Complexity: Small, size: 0.5pt

#5542 Create Issue Template - VS Code Spell Check Audit
  .github/ISSUE_TEMPLATE/spell-check-audit.md
Labels: role: front end, role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance

#5537 Replace CfA name and address in privacy policy page
  _data/internal/privacy-policy.yml
Labels: good first issue, role: front end, role: back end/devOps, time sensitive, P-Feature: Privacy Policy, size: 0.25pt

#5543 removed the line mentioning CFA from civic tech index page
  _projects/civic-tech-index.md
Labels: good first issue, Feature: Administrative, role: front end, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5553 Replace Events page header description
  _includes/events-page/header-container-content.html
Labels: good first issue, role: front end, role: back end/devOps, time sensitive, P-Feature: Events, size: 0.25pt

#5434 Refactor HTML to Resolve Linter Error
  _includes/about-page/about-card-metrics.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Refactor HTML, size: 0.25pt

#5550 Remove mention CfA in about.html
  _includes/about.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, time sensitive, size: 0.25pt

#5538 Refactored tools data in civic-tech-index.md
  _projects/civic-tech-index.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page

#5413 Removed unused donation circle graphic file
  assets/images/donate/donation-chart.svg
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Donate, Feature: Refactor HTML, size: 0.25pt

#5556 Remove "good second issue" from designer prework template
  .github/ISSUE_TEMPLATE/pre-work-template---design.md
Labels: role: front end, role: back end/devOps, Complexity: Medium, Feature: Onboarding/Contributing.md, size: 1pt

#5554 Refactor project check page tools 5322
  assets/js/current-projects-check.js
Labels: role: front end, role: back end/devOps, Complexity: Small, size: 0.5pt, p-feature: Projects-check

#5549 Update Image Tag in About Page
  _includes/about-page/about-card-donations.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#5557 Update civic tech infrastructure card 5428
  _data/internal/program-areas/civic-tech-infrastructure-card.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Program Area, time sensitive, size: 0.25pt

#5571 Removed AJPrice, added Chelsey Beck to COP-Engg
  _data/internal/communities/engineering.yml
Labels: role: product, time sensitive, P-Feature: Communities of Practice, size: missing, Complexity: Missing

#5558 Updated header text on Join Us page donation card
  _includes/join-donate-card.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Join Page, size: 0.25pt

#5560 edits to tools data for tech work experience
  _projects/tech-work-experience.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5568 Added Jason Yung back into Access the Data profiles
  _projects/access-the-data.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#5552 Removed Ability to Highlight Filter Drop-down Arrows
  _sass/elements/_dropdown_filters.scss
Labels: role: front end, P-Feature: Toolkit, P-Feature: Home page, Complexity: Small, P-Feature: Projects page, size: 0.5pt

#5569 Moved items from Tools to Technologies in hellogov.md #5340
  _projects/hellogov.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5580 Update LA TDM Calculator removed Moji Momoh
  _projects/tdm-calculator.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5546 Updated typo in food_oasis.md
  _projects/food-oasis.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5298 Refactor no results message component 4903
  _includes/current-guides.html
  _includes/current-projects.html
  _sass/components/_toolkit.scss
  assets/js/current-projects.js
  assets/js/elements/noResultsMessageFilter.js
  assets/js/toolkit.js
  pages/toolkit.html
Labels: role: front end, P-Feature: Toolkit, time sensitive, P-Feature: Home page, P-Feature: Projects page, size: 3pt, Complexity: Extra Large

#5593 modified redirections/cop.md-changed redirect to https://www.hackforl…
  redirections/cop.md
Labels: role: front end, role: back end/devOps, Complexity: Small, P-Feature: Communities of Practice, size: 0.25pt

#5586 completed issue 4961: updating CONTRIBUTING.md.
  CONTRIBUTING.md
Labels: role: front end, Feature: Onboarding/Contributing.md, Complexity: Small, size: 0.5pt

#5585 added a new entry for Nga Do in the civic tech jobs page
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5570 Created issue template for updates to CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/update-CONTRIBUTING.md
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, size: 1pt

#5563 Add new variable github-handle for member Jason Brown in 100-automations.md
  _projects/100-automations.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#5576 Add GitHub handle 100automations kim audrey 5508
  _projects/100-automations.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#5565 Add github-handle variable in _projects/100-automations.md
  _projects/100-automations.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#5551 Moved nginx from tools to technologies section
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5575 Update multiple GHAs about PRs
  .github/workflows/pr-instructions.yml
  .github/workflows/set-pr-labels.yaml
  .github/workflows/wr-pr-instructions.yml
  .github/workflows/wr-set-pr-labels.yaml
Labels: role: back end/devOps, Complexity: Medium, Feature: Refactor GHA, size: 1pt

#5544 Update issue-trigger.yml
  .github/workflows/issue-trigger.yml
Labels: role: back end/devOps, Complexity: Medium, Feature: Refactor GHA, size: 1pt
