Repository hackforla/website, pull requests merged in 2023-06, with the labels that each got.

#4726 Integrate donation circle with join us include
  _includes/donation/donation-circles.html
  _includes/join-donate-card.html
  _sass/components/_donate-components.scss
Labels: role: front end, time sensitive, P-Feature: Join Page, Complexity: Small, size: 0.5pt

#4763 Add multiple labels on "Suggest new feature/content" template.
  .github/ISSUE_TEMPLATE/suggest-a-feature-or-new-content-for-hackforla-org.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Board/GitHub Maintenance, size: 0.5pt

#4751 Update website.md(Change alt text to enable proper screen reader pronunciation of "Hack for LA")
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, P-Feature: Projects page, size: 0.25pt

#4757 Added empty alt attribute to hero image within project layout header
  _layouts/project.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, P-Feature: Projects page, size: 0.25pt

#4773 Updated Labels project-profile-card-review-and-update-4489
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Labels: good first issue, role: front end, role: back end/devOps, Feature: Board/GitHub Maintenance, size: 0.5pt

#4767 Updated pre-work-template---design.md labels
  .github/ISSUE_TEMPLATE/pre-work-template---design.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Board/GitHub Maintenance, size: 0.5pt

#4759 Add bottom margin to arrow element to fix alignment of paragraph
  _sass/components/_events.scss
Labels: role: front end, Complexity: Medium, P-Feature: Events, size: 1pt

#4732 Update Img tag refactor: citizen engagement
  _includes/program-area-pages-cards.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, P-Feature: Citizen Engagement, size: 0.25pt

#4650 Create donation gif component 4439
  _includes/donate-card.html
  _includes/donation/donate-gif-text.html
  _sass/components/_donate-components.scss
  _sass/components/_donate.scss
Labels: role: front end, Complexity: Medium, time sensitive, Feature: Refactor CSS, P-Feature: Donate, Feature: Refactor HTML, size: 1pt

#4755 Update resource card 4659
  _includes/resource-card.html
Labels: role: back end/devOps, Complexity: Medium, P-Feature: Projects page, size: 1pt

#4772 Update img Tag in Getting-Started Page
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4789 added new team member to hfla site project profile
  _projects/website.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#4783 Design System Audit: Audit for hardcoded colors
  _sass/components/_donate-components.scss
  _sass/components/_home.scss
  _sass/components/_privacy-policy.scss
  _sass/components/_project-page.scss
  _sass/components/_projects-page.scss
  _sass/components/_projects.scss
Labels: role: front end, Feature: Refactor CSS, Complexity: Small, size: 1pt

#4796 Updated viewport widths
  _sass/variables/_layout.scss
Labels: role: front end, P-Feature: Navigation, Complexity: Small, size: 2pt

#4817 Changed Project Title in website.md
  _projects/website.md
Labels: good first issue, role: front end, Feature: Accessibility, size: 0.25pt

#4750 Edit System Audit Text
  .github/ISSUE_TEMPLATE/design-system-audit--text-elements.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Board/GitHub Maintenance, size: 0.5pt

#4833 Check dependabot version updates to pr-instructions.yml 4825
  .github/workflows/pr-instructions.yml
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 1 pt

#4843 Update Home Unite Us technology array - Amazon Cognito / OIDC / OAuth2 - 4782
  _projects/home-unite-us.md
Labels: role: front end, role: back end/devOps, Complexity: Small, P-Feature: Projects page, size: 0.5pt

#4844 Update labels: Issue Template: alt-text-audit--dev
  .github/ISSUE_TEMPLATE/alt-text-audit--dev.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Board/GitHub Maintenance, size: 0.5pt

#4838 Check dependabot version updates to lint-scss.yml 4823
  .github/workflows/lint-scss.yml
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 1 pt

#4847 Check dependabot version updates to wr-pr-instructions.yml 4830
  .github/workflows/wr-pr-instructions.yml
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 1 pt

#4845 Check dependabot version updates to set-pr-labels.yaml 4828
  .github/workflows/set-pr-labels.yaml
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 1 pt

#4764 Toolkit dropdown menu
  _includes/current-guides.html
  _includes/guide-card.html
  _sass/components/_toolkit.scss
  assets/js/toolkit.js
  pages/toolkit.html
Labels: role: front end, Complexity: Large, P-Feature: Toolkit, size: 3pt

#4881 Check dependabot version updates to schedule-daily-1100.yml 4826, rev
  .github/workflows/schedule-daily-1100.yml
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 1 pt

#4875 Fixed overflowing child component #4551
  _sass/components/_program-areas.scss
Labels: role: front end, Complexity: Medium, P-Feature: Program Area, size: 1pt

#4866 Js bug in project page that causes incorrect checkbox state 4787
  assets/js/current-projects.js
Labels: Bug, role: front end, role: back end/devOps, Complexity: Medium, P-Feature: Projects page, size: 1pt

#4842 Fix citizen engagement logo 4226
  _sass/components/_citizen_engagement.scss
  assets/images/partners/empower-la.png
Labels: role: front end, Complexity: Medium, P-Feature: Citizen Engagement, size: 1pt

#4882 Update Project Profile: Guides Team (remove inactive members from Project Team, change Bonnie's role)
  _projects/guides-team.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.5pt

#4878 Widen filter div --- edit
  _sass/elements/_dropdown_filters.scss
Labels: role: front end, role: back end/devOps, Complexity: Small, P-Feature: Projects page, size: 0.5pt

#4846 Check dependabot version update to vrms-data.yml 4829
  .github/workflows/vrms-data.yml
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 1 pt

#4832 Check dependabot version updates to move-closed-issue.yml 4824
  .github/workflows/move-closed-issues.yaml
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 1 pt

#4899 fix-bug-add-label-js-4898
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Labels: Bug, role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, size: 1pt

#4836 Check dependabot version updates to schedule-fri-0700.yml 4827
  .github/workflows/schedule-fri-0700.yml
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 1 pt
