Repository hackforla/website, pull requests merged in 2023-01, with the labels that each got.

#3795 Update scale file fields
  _data/internal/credits/scale.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3774 change media query to desktop-up
  _sass/components/_footer.scss
Labels: role: front end, Size: Medium, Status: Updated, Feature: Refactor CSS, size: 1pt

#3799 edited content field from yml credit files
  _data/internal/credits/team.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3800 Added program-area in _projects/light-the-way.md
  _projects/light-the-way.md
Labels: role: front end, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3798 Edit Content Field and Remove Type Field From yml Credit Files - #2863
  _data/internal/credits/star.yml
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, P-Feature: Credit, size: 0.5pt

#3806 Updated project profile in tdm-calculator.md
  _projects/tdm-calculator.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Size: Small, size: 0.5pt

#3807 Edit content field and remove type field from teamwork.yml credits file #2861
  _data/internal/credits/teamwork.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3808 Change alt text 3401
  _includes/about-page/about-card-sustainability.html
Labels: role: front end, role: back end/devOps, P-Feature: About Us, Size: Good second issue, Status: Updated, Feature: Accessibility, size: 0.5pt

#3809 Update blank issue form with dependency
  .github/ISSUE_TEMPLATE/blank-issue-form.yml
Labels: Feature: Administrative, role: front end, Size: Medium, Status: Updated, size: 0.25pt

#3816 Edited content field and removed type field from winner.yml file
  _data/internal/credits/winner.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3817 Change Alt Text for SDG Image
  _projects/311-data.md
Labels: role: front end, role: back end/devOps, Size: Good second issue, Feature: Accessibility, P-Feature: Citizen Engagement, size: 0.5pt

#3815 Updated technology.yml
  _data/internal/credits/technology.yml
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, P-Feature: Credit, size: 0.5pt

#3810 Updated Home Unit Us project leadership profiles
  _projects/home-unite-us.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Status: Updated, Size: Small, size: 0.5pt

#3833 Display VRMS data on Events and Project Meetings pages
  assets/js/utility/api-events.js
Labels: Bug, role: back end/devOps, Size: Large, time sensitive, P-Feature: Events

#3835 Add alt image tag
  _includes/about-page/about-card-accomplishments.html
Labels: role: front end, role: back end/devOps, P-Feature: About Us, Size: Good second issue, Feature: Accessibility, size: 0.5pt

#3834 Update Zero Hunger image alt text for About Us page
  _includes/about-page/about-card-sustainability.html
Labels: role: front end, role: back end/devOps, P-Feature: About Us, Size: Good second issue, Feature: Accessibility, size: 0.5pt

#3811 edit content-field from sustainability.yml credits
  _data/internal/credits/sustainability.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3838 added justice.yml and contents
  _data/internal/credits/justice.yml
Labels: role: front end, P-Feature: Credit, Size: Small, Feature: Feature Branch, size: 0.5pt

#3836 Changed alt text for wins card images
  _includes/about-page/about-card-accomplishments.html
Labels: role: front end, role: back end/devOps, P-Feature: About Us, Size: Good second issue, Feature: Accessibility, size: 0.5pt

#3814 Updated Criminal-Sentencing md file with Program Area #2276
  _projects/criminal-sentencing.md
Labels: role: front end, P-Feature: Project Info and Page, Size: Good second issue, size: 0.5pt

#3841 twofa.yml edited
  _data/internal/credits/twofa.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#3847 alt text for 17 partnerships updated
  _includes/about-page/about-card-sustainability.html
Labels: role: front end, role: back end/devOps, P-Feature: About Us, Size: Good second issue, Feature: Accessibility, size: 0.5pt

#3850 Update alt text sustainable img in about us page
  _includes/about-page/about-card-sustainability.html
Labels: role: front end, role: back end/devOps, P-Feature: About Us, Size: Good second issue, Feature: Accessibility, size: 0.5pt

#3649 Project Page Wiki & Overview should not have alt text "/" issue # 2626
  _includes/resource-card.html
Labels: role: front end, Size: Medium, P-Feature: Project Info and Page, Status: Updated, size: 1pt

#3864 Updated title-link for error in the credits pages
  _data/internal/credits/404.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 1pt

#3865 Add alt tag to infinity image
  _includes/home-page/home-technologies.html
Labels: role: front end, P-Feature: Home page, Size: Small, Feature: Feature Branch, size: 0.25pt

#3867 TESTING final changes for testing gha 2592
  .github/workflows/pull-request-trigger.yml
Labels: role: back end/devOps, Size: Medium, time sensitive, Status: Updated, Feature: Board/GitHub Maintenance, automation, size: 2pt

#3894 Update Demo Link for Write for All
  _projects/writeforall.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 1pt
