Repository hackforla/website, pull requests merged in 2023-05, with the labels that each got.

#4576 Img Tag Refactor #4398
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4584 Img tag refactor in Getting Started Page - #4417
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4573 Created Donation Circle Component and Integrated with Donate Page
  _includes/donation/donation-circles.html
  _sass/components/_donate-components.scss
  _sass/main.scss
  pages/donate.html
Labels: role: front end, Complexity: Medium, time sensitive, Feature: Refactor CSS, P-Feature: Donate, Feature: Refactor HTML, size: 1pt

#4586 leadership info change
  _projects/access-the-data.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.5pt

#4596 Update project profile 4513
  _projects/website.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#4550 Add GHA deleting closed and unmerged PRs from Project Board
  .github/workflows/pull-request-trigger.yml
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, automation, size: 2pt

#4602 correct path in add-label.js 4601
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Labels: Bug, role: back end/devOps, time sensitive, Feature: Board/GitHub Maintenance, Complexity: Small, size: 0.25pt

#4599 Gha update label 4590
  github-actions/trigger-schedule/add-update-label-weekly/update-instructions-template.md
Labels: role: back end/devOps, Feature: Board/GitHub Maintenance, Complexity: Small, size: 0.25pt, ready for product

#4640 Updated Project Profile with New Member
  _projects/website.md
Labels: good first issue, role: front end, P-Feature: Project Info and Page, time sensitive, size: 0.5pt

#4603 Fixed sdg image grid firefox
  _sass/components/_about.scss
Labels: Bug, role: front end, Complexity: Medium, P-Feature: About Us, time sensitive, size: 1pt

#4613 Refactor privacy policy page 4527
  _data/internal/privacy-policy.yml
  _sass/components/_privacy-policy.scss
  pages/privacy-policy.html
Labels: role: front end, Complexity: Large, time sensitive, P-Feature: Privacy Policy, size: 3pt

#4639 Update Project Profile: HackforLA.org Website - Chris Menke added
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#4608 Restore old dropdown scss to wins page
  _includes/wins-page/wins-filter-template.html
  _sass/components/_projects-page.scss
  _sass/components/_wins-page.scss
  _sass/elements/_old_dropdown_filters.scss
  _sass/main.scss
Labels: Bug, role: front end, Complexity: Medium, time sensitive, P-Feature: Wins Page, size: 1pt

#4644 Delete donate.yml file since not needed anymore
  _data/internal/credits/donate.yml
Labels: good first issue, role: front end, P-Feature: Credit, size: 0.5pt

#4657 Create component and refactor text on Donate page
  _includes/donate-card.html
  _includes/donation/in-kind.html
Labels: role: front end, time sensitive, Feature: Refactor CSS, P-Feature: Donate, Complexity: Small, Feature: Refactor HTML, size: 0.5pt

#4677 updated slack link #4642
  _projects/access-the-data.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.5pt

#4667 Remove Cathy Cai from leadership variable - Access The Data
  _projects/access-the-data.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.5pt

#4666 removed two profiles (Bitian Zhang and Arpita Pandya)
  _projects/website.md
Labels: good first issue, role: front end, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#4656 Update labels within pre-work-template---ex.md file
  .github/ISSUE_TEMPLATE/pre-work-template---ux.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Board/GitHub Maintenance, size: 0.5pt

#4665 Delete solidarity-pana.svg
  assets/images/donate/solidarity-pana.svg
Labels: good first issue, role: front end, P-Feature: Credit, size: 0.5pt

#4674 Updated Label in External Resource Markdown File
  .github/ISSUE_TEMPLATE/suggest-an-external-resource.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Board/GitHub Maintenance, size: 0.5pt

#4600 Create New Code of Conduct Page
  _layouts/default-markdown.html
  _sass/layouts/_main.scss
  pages/code-of-conduct.html
Labels: role: front end, Complexity: Large, size: 5pt, feature: code of conduct, Feature: API

#4668 Fix Languages /Technologies Filters for Projects 4587
  assets/js/current-projects.js
Labels: Bug, role: front end, role: back end/devOps, Complexity: Medium, P-Feature: Projects page, size: 1pt

#4686 Updated Labels From Missing Series in Feasibility Issue Template Page
  .github/ISSUE_TEMPLATE/feasibility-issue-template.yml
Labels: good first issue, role: front end, role: back end/devOps, Feature: Board/GitHub Maintenance, size: 0.5pt

#4691 Design Systems Project Status: On-Hold
  _projects/design-systems.md
Labels: role: front end, role: back end/devOps, time sensitive, Complexity: Small, P-Feature: Projects page

#4694 "Projects" and "Home Page" Edits | pins project filter to top of project list, un-sticky's the Filters on scroll, & centers components
  _includes/current-projects-check.html
  _includes/current-projects.html
  _sass/elements/_dropdown_filters.scss
  assets/js/current-projects.js
Labels: Bug, role: front end, Complexity: Large, time sensitive, P-Feature: Home page, P-Feature: Projects page, size: 1pt

#4689 Update missing labels for Complexity and size in Communities of Practice information updates
  .github/ISSUE_TEMPLATE/communities-of-practice-information-updates.yml
Labels: good first issue, role: front end, role: back end/devOps, Feature: Board/GitHub Maintenance, size: 0.5pt

#4697 Update labels in the Mobile_responsiveness.yml file
  .github/ISSUE_TEMPLATE/Mobile_responsiveness.yml
Labels: good first issue, role: front end, role: back end/devOps, Feature: Board/GitHub Maintenance, size: 0.5pt

#4698 Add SDG background color classes
  _sass/elements/_background-sdg-colors.scss
  _sass/main.scss
Labels: role: front end, time sensitive, Complexity: Small, size: 0.25pt, p-feature: SDGs

#4683 Updated getting-started.html
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4680 Refactor tag step img intro 4375
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4710 Fix dropdown list on the wins page
  _sass/elements/_old_dropdown_filters.scss
Labels: role: front end, P-Feature: Wins Page, Complexity: Small, size: 0.25pt

#4709 Updated project-meetings.html & _project-meetings.scss
  _sass/components/_project-meetings.scss
  pages/project-meetings.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor CSS, Feature: Refactor HTML, P-Feature: Project Meetings, ready for dev lead, size: 0.25pt

#4702 Update labels: blank-issue-template(role,size,feature,complexity as missing)
  .github/ISSUE_TEMPLATE/blank-issue-template.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Board/GitHub Maintenance, size: 0.5pt

#4688 Create dependabot.yml #3843
  .github/dependabot.yml
Labels: role: back end/devOps, Complexity: Small

#4733 dependabot configuration file
  .github/dependabot.yml
Labels: role: back end/devOps, Complexity: Small, Feature: Refactor GHA, size: 1pt

#4708 Update the GitHub resource name for the Access the data project
  _projects/access-the-data.md
Labels: Bug, good first issue, role: front end, role: back end/devOps, P-Feature: Projects page, size: 0.25pt

#4725 Changed Website Markdown File to Improve Accessibility
  _projects/website.md
Labels: good first issue, role: front end, Feature: Accessibility, size: 0.25pt

#4730 Updated emergent-request.md labels -- #4502
  .github/ISSUE_TEMPLATE/emergent-request.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Board/GitHub Maintenance, size: 0.5pt

#4747 Refactored HTML to remove space slash for shield.png img element alt
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4746 Updated Labels From Missing Series in Suggest a Guide Template Page
  .github/ISSUE_TEMPLATE/suggest-a-guide.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Board/GitHub Maintenance, size: 0.5pt

#4745 Added labels to blank issue form with dependency yml file
  .github/ISSUE_TEMPLATE/blank-issue-form-with-dependency.yml
Labels: good first issue, role: front end, role: back end/devOps, Feature: Board/GitHub Maintenance, size: 0.5pt

#4748 removed slash from <img../> --> <img..>
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4754 Expunge Assist: Update alt text for the Expunge Assist image to 'Expu…
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt
