Repository hackforla/website, pull requests merged in 2023-03, with the labels that each got.

#4038 Update alt text for Los Angeles Criminal Sentencing Project image
  _projects/criminal-sentencing.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4058 Update engineering leadership #4025
  _data/internal/communities/engineering.yml
Labels: role: front end, role: back end/devOps, time sensitive, Complexity: Small, P-Feature: Communities of Practice, size: 0.5pt

#4053 added "Altered by" field to be displayed for yml information files t…
  _data/internal/credits/civil-tech-infrastructure.yml
  _data/internal/credits/diversity-equity-inclusion.yml
  _data/internal/credits/social-safety-net.yml
  pages/credits.html
Labels: role: front end, Complexity: Medium, P-Feature: Credit, size: 1pt

#4091 Update Youth Justice Nav Profile Page - #3963
  _projects/youthjusticenav.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.5pt

#4092 Updated the alt text for the Public Tree Map image
  _projects/public-tree-map.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4096 Update alt text for Railstats LA image
  _projects/metro-ontime.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4093 Update alt text for VRMS image
  _projects/vrms.md
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, Feature: Accessibility, size: 1pt

#4078 GitHub Actions: 2 weeks inactive label bug
  github-actions/add-update-label-weekly/add-label.js
Labels: Bug, role: back end/devOps, Complexity: Large, time sensitive, Feature: Board/GitHub Maintenance, size: 3pt

#4076 Enhance wins alt text 3960
  assets/js/wins.js
Labels: role: back end/devOps, Complexity: Medium, P-Feature: Wins Page

#4056 Update Citizen engagement page to show missing message
  _includes/citizen-engagement-cards.html
  _sass/components/_citizen_engagement.scss
Labels: role: front end, Complexity: Medium, P-Feature: Citizen Engagement, size: 1pt

#4100 fixed alt text for image
  _projects/undebate.md
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, Feature: Accessibility, size: 1pt

#4094 Updated Criminal Sentencing Title
  _projects/criminal-sentencing.md
Labels: role: front end, role: back end/devOps, P-Feature: Program Area, Complexity: Good second issue, Ready for Milestone, size: 0.25pt

#4099 Update alt text for the Shared Housing Project image
  _projects/shared-housing-project.md
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, Feature: Accessibility, size: 1pt

#4114 Update alt text for Open Community Survey image
  _projects/open-community-survey.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4122 Update pre-work-template--dev.md
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Labels: role: dev leads

#4125 Update oasis alt text 3999
  _projects/food-oasis.md
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, Feature: Accessibility, size: 1pt

#4107 Update project profile for Guides Team
  _projects/guides-team.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.5pt

#4106 Changed alt value for HFLA website image
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4126 changed alt text for image on _project/not-today.md per instructions
  _projects/not-today.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4133 Changed Image Alt Value within _projects/new-schools-today.md
  _projects/new-schools-today.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4121 Update the value of title and description in not-today.md
  _projects/not-today.md
Labels: role: front end, role: back end/devOps, P-Feature: Program Area, Complexity: Good second issue, size: 0.25pt

#4140 Update alt text for Youth Justice Nav image
  _projects/youthjusticenav.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4123 Adjust mobile alignment 4084
  _sass/components/_getting-started-page.scss
Labels: role: front end, Complexity: Medium, P-Feature: Getting Started, p-Feature: Mobile, size: 1pt

#4119 Updated alt text for LA TDM calculator image to adhere to WCAG
  _projects/tdm-calculator.md
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, Feature: Accessibility, size: 1pt

#4147 Replaced HTML: Removed Slack self-invite link to redirect to Getting Started page - #4132
  pages/communities-of-practice.html
Labels: role: front end, time sensitive, Complexity: Good second issue, P-Feature: Communities of Practice, size: 0.25pt

#4143 Update Lucky Parking alt text
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4139 Changed Write For All image alt text in Projects page
  _projects/writeforall.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4144 updated-alt-text-two
  _projects/spare.md
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, Feature: Accessibility, size: 1pt

#4135 Update Org Images To Render Dynamically
  pages/citizen-engagement.html
Labels: role: front end, role: back end/devOps, Complexity: Medium, P-Feature: Program Area, Status: Updated, Feature: Refactor HTML, size: 1pt

#4017 Fix alignment and scaling of resource links
  _sass/components/_project-page.scss
Labels: role: front end, Status: Updated, Complexity: Small, P-Feature: Projects page, size: 1pt

#4157 Changed the wording for Write For All's Program Area
  _projects/writeforall.md
Labels: role: front end, Complexity: Good second issue, P-Feature: Projects page, size: 0.25pt

#4131 Renamed to blank-issue-form-with-dependency.yml
  .github/ISSUE_TEMPLATE/blank-issue-form-with-dependency.yml
Labels: role: back end/devOps, Status: Updated, Feature: Board/GitHub Maintenance, Complexity: Small, size: 0.25pt

#4150 changed link value
  _data/navigation/social.yml
Labels: role: back end/devOps, time sensitive, Complexity: Good second issue, Status: Updated, P-Feature: Footer, size: 0.25pt

#4156 Added new team member to UI/UX section in Communities of Practice page
  _data/internal/communities/ui-ux.yml
Labels: role: front end, role: back end/devOps, time sensitive, Complexity: Good second issue, P-Feature: Communities of Practice, size: 0.5pt

#4175 Update Img Alt Text
  _projects/light-the-way.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4179 Updated alt text for GreenEarthOS image
  _projects/green-earth-os.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4108 Fix position of first paragraph on Getting Started
  _sass/components/_getting-started-page.scss
Labels: role: front end, P-Feature: Getting Started, Complexity: Small, size: 1pt

#4148 Create and Swap Sass Color Variable in project.html - #4138
  _layouts/project.html
  _sass/variables/_colors.scss
Labels: role: front end, Feature: Refactor CSS, Feature: Design system, Complexity: Small, size: 0.5pt

#4176 Update Img Alt Text In Jobs-For-Hope.md
  _projects/jobs-for-hope.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4195 Update alt text for Curbmap image to adhere to WCAG
  _projects/curbmap.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4178 Feature homepage launch
  _data/internal/credits/coding.yml
Labels: role: front end, P-Feature: Credit, Complexity: Small, Feature: Feature Branch, size: 0.25pt

#4181 Update Alt Text for Work for LA Project Image
  _projects/work-for-la.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4110 Fix bug in add update label weekly gha 3341
  github-actions/add-update-label-weekly/add-label.js
Labels: role: back end/devOps, Complexity: Large, Feature: Board/GitHub Maintenance, automation, size: 2pt

#4184 Updated the Getting Started Page, removing the Self-invite to Hack For LA Slack step.
  pages/getting-started.html
Labels: role: front end, time sensitive, P-Feature: Getting Started, Complexity: Small, size: 0.5pt

#4194 Update alt text for the Civic Opportunity Project
  _projects/civic-opportunity-project.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4199 Update alt text ctjobsimage 3950
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4201 Update engage img alt text
  _projects/engage.md
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, Feature: Accessibility, size: 1pt

#4204 Update Ops CoP Leadership Information
  _data/internal/communities/ops.yml
Labels: time sensitive, Complexity: Good second issue, P-Feature: Communities of Practice

#4207 Changed img alt text - issue 3951
  _projects/civic-tech-structure.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4198 Update profile image alt text in wins page
  _includes/wins-page/wins-card-template.html
  _includes/wins-page/wins-overlay.html
  assets/js/wins.js
Labels: role: front end, Complexity: Medium, P-Feature: Wins Page, size: 1pt

#4191 Changed Alt Text for EMS Triage Tracker Logo
  _projects/ems-triage-tracker.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4203 changed alt image tag to simply 'Civic tech Index' found on the _projects page #3948
  _projects/civic-tech-index.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4205 Renamed citizen engagement file
  _includes/program-area-pages-cards.html
  pages/citizen-engagement.html
Labels: role: front end, Status: Updated, Complexity: Small, P-Feature: Citizen Engagement, size: 0.25pt

#4209 Update citizen engagement card data comment
  _projects/311-data.md
  _projects/access-the-data.md
  _projects/engage.md
  _projects/lucky-parking.md
  _projects/open-community-survey.md
Labels: role: front end, P-Feature: Project Info and Page, Complexity: Small, P-Feature: Citizen Engagement, size: 0.25pt

#4202 Update Slack link on join us page
  pages/join-us.html
Labels: role: front end, time sensitive, Complexity: Good second issue, P-Feature: Join Page, size: 0.25pt

#4210 Updated Alt for Donation Chart Image on Donation Card
  _includes/donate-card.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Join Page, Feature: Accessibility, size: 1pt

#4213 update alt text for .project-card-mini-image images
  pages/program-areas.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4105 DO NOT MERGE: Fix meeting name display on Events Page and Project Details Pages
  assets/js/project.js
  assets/js/utility/api-events.js
Labels: role: front end, Complexity: Medium, P-Feature: Project Info and Page, time sensitive, Status: Updated, size: 1pt

#4214 Update alt text
  _projects/brigade-organizers-playbook.md
Labels: good first issue, role: front end, role: back end/devOps, Status: Updated, Feature: Accessibility, size: 1pt

#4224 Hide projects that should not be visible in Program Areas page #4220
  pages/program-areas.html
Labels: role: front end, P-Feature: Program Area, Complexity: Small, size: 1pt

#4222 Update Program Areas "Join a Project" Section
  pages/program-areas.html
Labels: role: front end, P-Feature: Program Area, time sensitive, Complexity: Small, size: 0.25pt

#4215 Update alt text for BallotNav-3874
  _projects/ballot-nav.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4208 Program Areas: Update alt text for the join us footer desktop image
  pages/program-areas.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4265 update website project info: added Bitian to leadership
  _projects/website.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#4267 Removed team member Jieun Ryu from Food Oasis project page
  _projects/food-oasis.md
Labels: role: front end, time sensitive, Complexity: Good second issue, size: missing, P-Feature: Projects page

#4275 Add Christina Or to website.md leadership variable
  _projects/website.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#4223 update wins.js to add alt text for linkedIn icon
  _includes/wins-page/wins-card-template.html
  assets/js/wins.js
Labels: role: back end/devOps, Complexity: Medium, P-Feature: Wins Page, size: 1pt

#4259 GitHub Img Alt Text Changed 4088
  _includes/wins-page/wins-card-template.html
  _includes/wins-page/wins-overlay.html
  assets/js/wins.js
Labels: role: back end/devOps, Complexity: Medium, P-Feature: Wins Page, size: 1pt

#4270 Fix Program Area for Diversity/Equity/Inclusion
  _data/internal/program-areas/diversity-equity-inclusion-card.yml
  _projects/new-schools-today.md
  _projects/writeforall.md
  assets/js/current-projects.js
Labels: Bug, role: front end, Complexity: Medium, time sensitive, P-Feature: Projects page, size: 1pt

#4295 Make Program Area Consistent on About Us Page
  _includes/about-page/about-card-platform.html
Labels: role: front end, P-Feature: About Us, Complexity: Good second issue, size: 0.25pt

#4292 change program area text #4287
  pages/join-us.html
Labels: role: front end, Complexity: Good second issue, P-Feature: Join Page, size: 0.25pt

#4290 Update Project Profile Card Review & Update template
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Labels: role: front end, time sensitive, Complexity: Good second issue, P-Feature: Project Meetings, size: 0.5pt

#4260 changed image alt text to blank. - #3860
  pages/communities-of-practice.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, P-Feature: Communities of Practice, size: 1pt

#4278 added image-hero-credit field and create public-tree-map.yml file
  _data/internal/credits/public-tree-map.yml
  _projects/public-tree-map.md
Labels: role: back end/devOps, P-Feature: Project Info and Page, time sensitive, P-Feature: Credit, Complexity: Small, size: 1pt

#4304 Update alt text to adhere to WCAG - Issue 3869
  _projects/311-data.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4341 Added aria-label attribute and role attribute to divs that wrap inline svg elements
  _includes/resource-card.html
Labels: role: back end/devOps, Complexity: Medium, P-Feature: Projects page, size: 1pt

#4338 Move newly created prs 2395
  .github/workflows/pull-request-trigger.yml
Labels: role: back end/devOps, Complexity: Large, Feature: Board/GitHub Maintenance, automation, size: 3pt

#4308 Create new credits file for use of artists image
  _data/internal/credits/cwmoss.yml
Labels: role: front end, P-Feature: Credit, Complexity: Small, size: 0.5pt

#4347 Updated alt text for Access The Data image to adhere to WCAG
  _projects/access-the-data.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#4306 Replaced 'and' with '&' on line 2, 'name' field, to be consistent with that title. 'Diversity, Equity, and Inclusion' changed to 'Diversity, Equity, & Inclusion'
  _data/internal/program-areas/diversity-equity-inclusion-card.yml
Labels: role: front end, P-Feature: Program Area, Complexity: Good second issue, size: 0.25pt
