Repository hackforla/website, pull requests merged in 2023-07, with the labels that each got.

#4897 Refactored project page to fix formatting issues
  _layouts/project.html
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Feature: Refactor JS / Liquid, Complexity: Small, size: 0.5pt

#4890 Updated Project Profile in website.md (removed two team members)
  _projects/website.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#4911 Add Project to Website: Tech Work Experience
  _projects/tech-work-experience.md
  assets/images/projects/tech-work-experience-hero.png
  assets/images/projects/tech-work-experience.png
  assets/pdfs/Tech-Work-Experience-One-Sheet.pdf
Labels: role: front end, Complexity: Medium, P-Feature: Project Info and Page, time sensitive, size: 0.5pt

#4879 dev template label update
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Board/GitHub Maintenance, size: 0.5pt

#4905 Check dependabot suggested version updates to GHA issue-trigger.yml
  .github/workflows/issue-trigger.yml
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 1 pt

#4908 Fixed bug with GHA where Update labels do not get applied to Issues with Closed PRs 4839
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Labels: Bug, role: back end/devOps, Complexity: Large, Feature: Board/GitHub Maintenance, size: 2pt

#4896 Added labels to gha-issues-template
  .github/ISSUE_TEMPLATE/gha-issue-template.yml
Labels: role: front end, role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, size: 1pt

#4886 codeql-implementation
  .github/workflows/codeql.yml
Labels: role: back end/devOps, Complexity: Large, Feature: Board/GitHub Maintenance, size: 2pt

#4927 Update Instructions Posted when GitHub Actions applies update labels
  github-actions/trigger-schedule/add-update-label-weekly/update-instructions-template.md
Labels: role: back end/devOps, Complexity: Large, time sensitive, Feature: Board/GitHub Maintenance, size: 2pt

#4926 Integrate Donation GIF component into Join Us donation include
  _includes/join-donate-card.html
  _sass/components/_donate-components.scss
  _sass/components/_join-us.scss
Labels: role: front end, Complexity: Medium, time sensitive, Feature: Refactor CSS, P-Feature: Join Page, Feature: Refactor HTML, size: 1pt

#4947 Update sch fri 4946
  .github/workflows/schedule-fri-0700.yml
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 0.5pt

#4937 Updates wr pr instructions 4934
  .github/workflows/wr-pr-instructions.yml
  github-actions/pr-instructions/post-comment.js
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 0.5pt

#4925 update to pr-template example in 3.1b of CONTRIBUTING.md
  CONTRIBUTING.md
Labels: role: front end, Feature: Onboarding/Contributing.md, Complexity: Small, size: 0.5pt

#4701 Remove blank roles from Wins filter options
  assets/js/wins.js
Labels: Bug, role: back end/devOps, Complexity: Medium, P-Feature: Wins Page, size: 1pt

#4928 Update Labels: Issue Template: wiki--research-plan-review
  .github/ISSUE_TEMPLATE/wiki--research-plan-review----replace-with-name-of-page-.md
Labels: role: front end, role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, size: 1pt

#4731 Img tag refactor getting started page 4418
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4950 feat: automation for moving ice box items to new issue approval column
  .github/workflows/new-issue-from-ice-box.yml
Labels: role: back end/devOps, Complexity: Large, Feature: Board/GitHub Maintenance, automation, size: 3pt

#5034 refactor-current-projects-4860
  assets/js/current-projects.js
Labels: role: front end, time sensitive, Feature: Refactor JS / Liquid, Complexity: Small, P-Feature: Projects page, size: 0.5pt

#4945 Updated scss to only target h2 on privacy policy page
  _sass/components/_privacy-policy.scss
Labels: role: front end, Complexity: Medium, P-Feature: Project Info and Page, time sensitive, P-Feature: Join Page, P-Feature: Privacy Policy, size: 1pt

#5006 removed Brian Mui from Site Project Team
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.5pt

#5044 Update Project Profile: Add Ren Demeis-Ortiz to Website Team
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.5pt

#5052 Added Ronald Paek to Website Team
  _projects/website.md
Labels: good first issue, role: front end, P-Feature: Project Info and Page, size: 0.25pt

#5043 removed ending slash for IMG tag-issue #5027
  _includes/about-page/about-card-accomplishments.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#5054 Completed CoP info update: 4948.
  _data/internal/communities/engineering.yml
Labels: good first issue, role: front end, role: back end/devOps, time sensitive, P-Feature: Communities of Practice, size: 0.25pt

#5096 Refactor Tools data for open-community-survey.md
  _projects/open-community-survey.md
  assets/js/current-projects-check.js
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5049 Refactor img tag in Getting Started page
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#5056 Update project information for Access the Data
  _projects/access-the-data.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5061 Update Lucky Parking tools from string to list
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5063 Refactor `tools` data from string to list
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5093 refactored tools data for access-the-data.md
  _projects/access-the-data.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5097 Refactor Tools data for design-systems.md
  _projects/design-systems.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5058 Richard Kwang added to Website: Current Project Team
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5105 refactored img tag - removed slash from join us card/volunteer
  pages/join-us.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#5106 Add redirect for broken links on "Project Team Meetings" page
  assets/js/utility/api-events.js
Labels: role: front end, role: back end/devOps, time sensitive, P-Feature: Events, Complexity: Small, P-Feature: Project Meetings, size: 0.25pt

#5108 Updated tools data for Green Earth OS from string to list
  _projects/green-earth-os.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5111 Refactor Tools data for ems-triage-tracker.md
  _projects/ems-triage-tracker.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5109 Refactored the tools data from a string to a list - #4814
  _projects/youthjusticenav.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5095 Update added Johnny Wu to the website team #4917
  _projects/website.md
Labels: role: front end, role: back end/devOps, Complexity: Small, P-Feature: Projects page, size: 0.25pt

#5037 Pulls languages from multiple repos
  _layouts/project.html
  _projects/civic-tech-index.md
  assets/js/current-projects.js
  assets/js/project.js
Labels: role: back end/devOps, Complexity: Large, P-Feature: Project Info and Page, size: 2pt

#5117 Removed / in img tag
  pages/join-us.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt
