Repository hackforla/website, pull requests merged in 2023-11, with the labels that each got.

#5794 Re Issue 5753: Removed Jamie Siu from Expunge Assist project page leadership section
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5438 Please review but don't merge yet: Update PR Instruction GHA to add instruction for previewing CONTRIBUTING.md
  .github/workflows/wr-pr-instructions.yml
  github-actions/pr-instructions/create-instruction.js
  github-actions/pr-instructions/post-comment.js
  github-actions/pr-instructions/pr-instructions-contrib-template.md
Labels: role: back end/devOps, Complexity: Medium, time sensitive, Feature: Wiki, size: 2pt

#5828 Removes Pratibha Shivanand from the Lucky Parking project page.
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5837 Added to project profile for Lucky Parking
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5821 Added Anita Morales to Expunge Assist Project on the UI
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5853 Update Project Profile - Anjola Jaiyeola
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5822 Updated expunge assist project profile to include Justin Yeh
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5858 Update Project Profile: Lucky Parking (Update Technologies) #5790
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, P-Feature: Project Meetings, size: 0.25pt

#5834 Add GHA Job to Issue Trigger Workflow that Adds Newly Created Issues to Project Board
  .github/workflows/issue-trigger.yml
Labels: role: back end/devOps, Complexity: Large, Feature: Board/GitHub Maintenance, P-Feature: Projects page, size: 1pt

#5886 Removed James Shin from Expunge Assist Team on UI - #5755
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5890 updates profile page by removing aletia trepte, case 5806
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5835 Added Sydney Walcoff to the expunge-assist.md File
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5894 removed thomas demoner from _projects/epunge-assist
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5905 added instructions for installation and use of the cspell npm packag…
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Complexity: Medium, Feature: Onboarding/Contributing.md, size: 1pt, feature: spelling

#5902 removes sam sengupta from lucky parking profile
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5903 Update Communities of Practice: UI/UX (Add Peter Gwon) #5874
  _data/internal/communities/ui-ux.yml
Labels: good first issue, role: front end, role: back end/devOps, time sensitive, P-Feature: Communities of Practice, size: 0.25pt

#5911 Update Project Profile: 311 Data (Update Tools, Add Holly Worthen & Bethlehem Berhane) #5855 (complete)
  _projects/311-data.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, P-Feature: Projects page, size: 0.25pt

#5907 Found the superfluous empty class attribute in _guide-pages/2FA.html …
  _guide-pages/2FA.html
Labels: role: front end, Complexity: Small, Feature: Refactor HTML, size: 0.5pt

#5916 Update tools on the lucky parking project profile page
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, P-Feature: Projects page, size: 0.25pt

#5887 Removed Yua Guan from lucky parking page#5808
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5893 Removed David Lam from Lucky Parking project team
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5896 Refactor Slack image icon with svg icon in communities of practice page
  _sass/components/_communities-of-practice.scss
  pages/communities-of-practice.html
Labels: role: front end, role: back end/devOps, Complexity: Medium, P-Feature: Communities of Practice, Feature: Refactor HTML, size: 1pt

#5906 include meetingName on Project Meetings page
  assets/js/utility/api-events.js
Labels: role: front end, role: back end/devOps, Complexity: Medium, P-Feature: Project Meetings, size: 1pt

#5889 Update Project Profile: 311 Data (Update Technologies, Add Ahmed Awadalla & Edwin Jue to project team)
  _projects/311-data.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, P-Feature: Projects page, size: 0.25pt

#5910 Fixes #5882 Adds github-handle variable beneath Tony Delgado name variable in _projects/access-the-data.md
  _projects/access-the-data.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#5917 remove hkatz & added zaranylucas from engineering cop
  _data/internal/communities/engineering.yml
Labels: role: front end, role: back end/devOps, time sensitive, Complexity: Small, P-Feature: Communities of Practice, size: 0.25pt

#5908 Change Clickable Area from Arrow to Filter Section Heading
  assets/js/current-projects.js
  assets/js/toolkit.js
Labels: role: front end, Complexity: Medium, P-Feature: Toolkit, P-Feature: Home page, P-Feature: Projects page, size: 1pt

#5922 Update 311-data.md
  _projects/311-data.md
Labels: good first issue, role: front end, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5901 Removed Yujin Chang from Project Profile: Lucky Parking
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5912 Removed Michael and added Ryan & Anna to 311 data team on UI
  _projects/311-data.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#5927 Update Project Profile: Expunge Assist (Add Mireya V. Aviles)
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5925 Deleted Carlos Olivas from Lucky Parking
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5918 Edit and additions to Project Profile Card template
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Labels: role: back end/devOps, Feature: Board/GitHub Maintenance, Complexity: Small, size: 0.5pt

#5915 remove comment from contributing.md
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.5pt

#5928 Removed Jodie Chen from Lucky Parking project team list
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5933 Updates Project Profile: Lucky Parking (Removed Yuting Chu)
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5935 Refactored join-us with contents of join-donate-card
  _includes/join-donate-card.html
  pages/join-us.html
Labels: role: front end, Feature: Refactor CSS, P-Feature: Join Page, Complexity: Small, Feature: Refactor HTML, size: 0.5pt

#5891 Prevent Page Scrolling Behind Filter Overlay on Mobile View
  _sass/elements/_dropdown_filters.scss
  assets/js/current-projects.js
  assets/js/toolkit.js
Labels: role: front end, Complexity: Large, P-Feature: Home page, size: 2pt

#5914 updated lucky-parking.md
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5936 Update Section2.7.b - making sure devs checkout gh-pages first
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.5pt

#5931 removed 1Password from tools
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#5904 Update Project Profile: Lucky Parking (Remove Sijia Pitts)
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5923 Added Leader
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5943 Removed Leadership Profile (Arpita Pandya) in _projects/luckyparking.md
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5941 Updated Contributing.md
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.5pt

#5946 removes 1password from tech work experience
  _projects/tech-work-experience.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt
