Repository hackforla/website, pull requests merged in 2023-08, with the labels that each got.

#5104 Refactor Tools Data for hellogov.md
  _projects/hellogov.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5051 Integrate in kind component join us page #4565
  _includes/join-donate-card.html
  _sass/components/_join-us.scss
Labels: role: front end, Complexity: Medium, time sensitive, P-Feature: Join Page, ready for dev lead, size: 1pt

#5114 Refactor tools data for civic-tech-index.md
  _projects/civic-tech-index.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5119 update refactored tools data for public tree #4812
  _projects/public-tree-map.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5112 Updated meeting day on cop-engr #5003.
  _data/internal/communities/engineering.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Communities of Practice, size: 0.25pt

#5122 Refactor engage.md tools data from string to list
  _projects/engage.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5128 Refactor Tools data for tech-work-experience.md
  _projects/tech-work-experience.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5130 Updated inline svg with aria-label 4299
  _includes/footer.html
Labels: role: front end, role: back end/devOps, Feature: Accessibility, Complexity: Small, size: 0.5pt

#5133 Food oasis .md file refactored
  _projects/food-oasis.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5142 img Tag Refactor: Program Areas Page
  pages/program-areas.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#5145 Removed ending slash from one img Tag on Program Areas Page
  pages/program-areas.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#5144 Refactor home unite tools 4808
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5120 Update add adrian ang to the website team 5036
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5121 Update technologies and tools fields on the "Access the Data" program page
  _projects/access-the-data.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, ready for dev lead, size: 0.25pt

#5141 Refactor image tag (program-areas/volunteer icon/mobile)
  pages/program-areas.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#5157 Update donate-gif-text.html
  _includes/donation/donate-gif-text.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#5155 Updated project profile for website team to include Roslyn Wythe
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5161 Removed ending slash from header-hero img tag in Program Areas page
  pages/program-areas.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Program Area, Feature: Refactor HTML, size: 0.25pt

#5152 update Data Science CoP meeting time
  _data/internal/communities/data-science.yml
Labels: good first issue, role: front end, role: back end/devOps, time sensitive, P-Feature: Communities of Practice, size: 0.25pt

#5055 Integrate donation gif component 4504
  _includes/about-page/about-card-donations.html
  _sass/components/_donate-components.scss
Labels: role: front end, Complexity: Medium, P-Feature: About Us, time sensitive, Feature: Refactor CSS, Feature: Refactor HTML, size: 1pt

#5170 Update img tag in win-card-template. Issue#5041
  _includes/wins-page/wins-card-template.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#5183 Updated tools section of metro-ontime.md by removing Docker, and changed format from string to list.
  _projects/metro-ontime.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, 2 weeks inactive, size: 0.25pt, p-feature: Projects-check

#5124 4799 refactor tools list for brigade
  _projects/brigade-organizers-playbook.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#4904 Migration to GA4 - 3863
  _includes/head.html
  _layouts/redirect.html
Labels: Complexity: Large, Feature: Analytics, time sensitive, size: 3pt, role: dev leads

#5239 Refactor img tag for quotes in about-card-news
  _includes/about-page/about-card-news.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Ready for Prioritization, Feature: Refactor HTML, size: 0.25pt

#5203 Updated partner variable on project profile: Food Oasis
  _projects/food-oasis.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.5pt

#5135 img Tag Refactor
  _includes/about-page/about-card-accomplishments.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#5235 Delete slash on img tag - #5031
  pages/join-us.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#5240 Refactor img tag –– About Us Sponsors Card
  _includes/about-page/about-card-sponsors.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Ready for Prioritization, size: 0.25pt

#5241 Refactor img Tag in About Page
  _includes/about-page/about-card-partners.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Refactor HTML, size: 0.25pt

#5243 Refactored img tag on Join page
  pages/join-us.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Join Page, Feature: Refactor HTML, size: 0.25pt

#5249 Refactor img tag for sdg13 in about-card-sustainability
  _includes/about-page/about-card-sustainability.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Ready for Prioritization, Feature: Refactor HTML, size: 0.25pt

#4942 Add a search function to projects page- Draft
  _includes/current-projects.html
  _sass/elements/_search-bar.scss
  _sass/main.scss
  assets/js/current-projects.js
Labels: role: front end, Complexity: Large, P-Feature: Projects page, size: 2pt

#5257 Refactor IMG Tag in About Card Metrics
  _includes/about-page/about-card-metrics.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, size: missing, Feature: Refactor HTML

#5245 Refactored img tag events page right col #5186
  _includes/events-page/right-col-content.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Events, Feature: Refactor HTML, size: 0.25pt

#5275 refactored imgTag / Westside
  _includes/events-page/our-locations-content.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Events, Feature: Refactor HTML, size: 0.25pt

#5261 Changed the html img tag refactor in about-card-partners.html
  _includes/about-page/about-card-partners.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Refactor HTML, size: 0.25pt

#5259 img Tag Refactor: _layouts/project.html - page.sdg-image-src
  _layouts/project.html
Labels: good first issue, role: front end, P-Feature: Projects page, Feature: Refactor HTML, size: 0.25pt

#5263 img Tag Refactor - removed ending slash for meetup.svg - #5184
  _includes/events-page/left-col-content.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Events, Feature: Refactor HTML, size: 0.25pt

#5276 Update Image Tag in Events Page
  _includes/events-page/our-locations-content.html
Labels: good first issue, role: front end, P-Feature: Events, Feature: Refactor HTML, size: 0.25pt

#5283 Refactor Img Tag in About Page's News Card
  _includes/about-page/about-card-news.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Refactor HTML, size: 0.25pt

#5284 img tag refactor in project leadership card
  _layouts/project.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Projects page, Feature: Refactor HTML, size: 0.25pt

#5262 Img tag refactored
  _includes/events-page/left-col-content.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Events, Feature: Refactor HTML, size: 0.25pt

#5294 Delete slash on img tag
  _includes/about-page/about-card-sustainability.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Ready for Prioritization, Feature: Refactor HTML, size: 0.25pt

#5295 5140 img tag refactor
  pages/program-areas.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Program Area, Feature: Refactor HTML, size: 0.25pt

#5251 img tag refactor issue 5042, works
  _includes/wins-page/wins-card-template.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#5299 Img Tag Refactor - removed ending slash for sdg8.svg
  _includes/about-page/about-card-sustainability.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Ready for Prioritization, Feature: Refactor HTML, size: 0.25pt

#5327 Refactored HTML on the about page sponsors card
  _includes/about-page/about-card-sponsors.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, size: 0.25pt

#5335 Replaced single quotes with double quotes to avoid linter error
  _includes/about-page/about-card-accomplishments.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#5331 removed lines pertaining to Phillip in file:_projects/website.md
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5296 about card metric image tag removing /
  _includes/about-page/about-card-metrics.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Refactor HTML, size: 0.25pt

#5354 Update Project Profile - MJ Shelton
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5380 Fix bug with display of Tools data on Homepage and Projects page
  assets/js/current-projects.js
Labels: Bug, role: front end, role: back end/devOps, Complexity: Medium, time sensitive, P-Feature: Home page, P-Feature: Projects page, size: 0.5pt
