Repository hackforla/website, pull requests merged in 2023-10, with the labels that each got.

#5574 Update move-closed-issues.yaml
  .github/workflows/move-closed-issues.yaml
Labels: role: back end/devOps, Complexity: Medium, Feature: Refactor GHA, size: 1pt, Draft

#5417 5167: Updated Project Profile
  _projects/brigade-organizers-playbook.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.5pt

#5611 Update Image Tag in About Us - Sustainability
  _includes/about-page/about-card-sustainability.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Refactor HTML, size: 0.25pt

#5612 Inserted </span> at the end of the Inclusity roll
  _includes/about-page/about-card-platform.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, size: 0.25pt

#5616 Fix linting error on about page
  _includes/about-page/about-card-platform.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Refactor HTML, size: 0.25pt

#5636 updated img tag
  _includes/press.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Home page, Feature: Refactor HTML, size: 0.25pt

#5634 Adjust Labels in Pre-work Issue Template
  .github/ISSUE_TEMPLATE/pre-work-template---design.md
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, size: 1pt

#5645 Removed mention of CfA from the Join Us page
  _includes/donation/donate-gif-text.html
  _sass/components/_about.scss
  _sass/components/_donate-components.scss
  assets/images/about/donate-form.png
Labels: role: front end, role: back end/devOps, time sensitive, P-Feature: Join Page, P-Feature: Donate, Complexity: Small, ready for dev lead, size: 0.25pt

#5573 Update schedule-fri-0700.yml
  .github/workflows/schedule-fri-0700.yml
Labels: role: back end/devOps, Complexity: Medium, Feature: Refactor GHA, size: 1pt

#5643 Update image tag (About us - sustainability)
  _includes/about-page/about-card-sustainability.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Refactor HTML, size: 0.25pt

#5659 repleced one sentence line 28 to new sentence specified in the issue
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Labels: role: front end, role: back end/devOps, Complexity: Medium, Feature: Onboarding/Contributing.md, size: 1pt

#5663 Removed Google Drive access
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Labels: role: front end, role: back end/devOps, Complexity: Medium, time sensitive, Feature: Onboarding/Contributing.md, size: 1pt

#5664 Updated html to resolve linter erro
  _includes/about-page/about-card-news.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, size: 0.25pt

#5661 Remove good second issue from CONTRIBUTING section 2.2
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.5pt

#5665 Img tag refactor 5619
  CONTRIBUTING.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Wiki, size: 0.25pt

#5672 Add pm 5624
  _projects/guides-team.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5658 modified CONTRIBUTING.md
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.5pt

#5690 Fix cop redirection 5622
  redirections/cop.md
Labels: Bug, good first issue, role: front end, role: back end/devOps, P-Feature: Communities of Practice, size: 0.25pt

#5688 5633-update-prework-issue
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Labels: role: front end, role: back end/devOps, Complexity: Medium, Feature: Onboarding/Contributing.md, size: 1pt

#5683 changed complexity label missing to prework
  .github/ISSUE_TEMPLATE/pre-work-template---ux.md
Labels: role: back end/devOps, Complexity: Medium, time sensitive, Feature: Board/GitHub Maintenance, size: 1pt

#5682 Remove good second issue 5617
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.5pt

#5583 added github handle variable for olivia chiong
  _projects/100-automations.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#5704 Refactor img tag
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, Ready for Prioritization, size: 0.5pt

#5702 resolve linter error in about-card-platform.html
  _includes/about-page/about-card-platform.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, size: 0.25pt

#5699 Removed 'good second issue' from CONTRIBUTING.md Section 2.3.b
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.5pt

#5701 Changes to img tag
  CONTRIBUTING.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Wiki, size: 0.25pt

#5671 Blaycoder update guide teams 5584
  _projects/guides-team.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5637 Update vrms-data.yml
  .github/workflows/vrms-data.yml
Labels: role: back end/devOps, Complexity: Medium, Feature: Refactor GHA, size: 1pt

#5718 Updated "Project Profile Review and Update" template
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Labels: role: front end, role: back end/devOps, Complexity: Medium, P-Feature: Projects page, size: 0.5pt

#5668 Updated Pre-work Instructions for Google Calendar Invites
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Labels: role: front end, role: back end/devOps, Complexity: Medium, Feature: Onboarding/Contributing.md, size: 1pt

#5719 updated cspell.json file with false positive term 'Cleantech'
  cspell.json
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Infrastructure, size: 0.25pt, feature: spelling

#5641 Add check for actions triggered by cron
  .github/workflows/schedule-monthly-PREV.yml
Labels: Bug, role: back end/devOps, Complexity: Small, Feature: Refactor GHA, size: 0.25pt

#5513 Update schedule-daily-1100.yml
  .github/workflows/schedule-daily-1100.yml
Labels: role: back end/devOps, Complexity: Medium, Feature: Refactor GHA, size: 1pt

#5732 Add Missing Closing Tags in About Page
  _includes/about-page/about-card-platform.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Refactor HTML, size: 0.25pt

#5744 Updated cspell.json by adding "Westside" #5618
  cspell.json
Labels: good first issue, role: front end, role: back end/devOps, Feature: Infrastructure, size: 0.25pt, feature: spelling

#5740 Fix SDG background bug
  _layouts/project.html
  _projects/311-data.md
  _projects/access-the-data.md
  _projects/engage.md
  _projects/lucky-parking.md
  _projects/open-community-survey.md
  _sass/components/_project-page.scss
Labels: Bug, role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.5pt, p-feature: SDGs

#5765 updated img tag in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: good first issue, role: front end, role: back end/devOps, Feature: Wiki, size: 0.25pt

#5751 Add Code Spell Checker
  CONTRIBUTING.md
Labels: good first issue, role: back end/devOps, time sensitive, Feature: Onboarding/Contributing.md, size: 0.25pt, feature: spelling

#5731 resolve linter error in about-card-platform.html
  _includes/about-page/about-card-platform.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Refactor HTML, size: 0.25pt

#5768 added new variable `github-handle` to Eric Cho in 311-data.md
  _projects/311-data.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#5771 Add new entry to leadership variable
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5789 Added a new Project Profile to the Expunge Assist team
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5733 Added Rhoda Michael's profile to guides team
  _projects/guides-team.md
Labels: good first issue, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#5793 Removed Project Profile From Expunge Assist Team
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#5785 update project profile: expunge assist
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt
