Repository hackforla/website, pull requests merged in 2023-04, with the labels that each got.

#4361 Add update label #2220
  .github/workflows/schedule-fri-0700.yml
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
  github-actions/trigger-schedule/add-update-label-weekly/update-instructions-template.md
Labels: role: back end/devOps, Complexity: Medium, Feature: Refactor GHA, size: 1pt

#4346 Edit content field and remove type field from environmental-impact.yml
  _data/internal/credits/environmental-impact.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#4340 Update project information accessthedata 4211
  _projects/access-the-data.md
  assets/pdfs/Access-the-Data-OneSheet.pdf
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.5pt

#4353 Use image instead of card-image-src
  _includes/program-area-pages-cards.html
  _projects/311-data.md
  _projects/access-the-data.md
  _projects/engage.md
  _projects/lucky-parking.md
  _projects/open-community-survey.md
Labels: role: front end, Feature: Refactor JS / Liquid, Complexity: Small, P-Feature: Citizen Engagement, size: 0.25pt

#4274 moved SDG folder and refactored SDG paths in multiple files
  _includes/about-page/about-card-sustainability.html
  _projects/311-data.md
  _projects/access-the-data.md
  _projects/engage.md
  _projects/lucky-parking.md
  _projects/open-community-survey.md
  assets/images/sdg/climate-action.svg
  assets/images/sdg/decent-work.svg
  assets/images/sdg/gender-equality.svg
  assets/images/sdg/partnerships.svg
  assets/images/sdg/peace-justice.svg
  assets/images/sdg/sdg-la.svg
  assets/images/sdg/sustainable-cities.svg
  assets/images/sdg/zero-hunger.svg
Labels: role: front end, Complexity: Medium, P-Feature: Project Info and Page, P-Feature: About Us, time sensitive, Feature: Refactor JS / Liquid, P-Feature: Citizen Engagement, size: 1pt, p-feature: SDGs

#4374 img Tag Refactor: Toolkit page
  pages/toolkit.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Toolkit, Feature: Refactor HTML, size: 0.25pt

#4384 add aria-label to nav element
  _includes/footer.html
Labels: role: front end, role: back end/devOps, Complexity: Good second issue, Feature: Accessibility, size: 0.25pt

#4402 Img Tag Refactor in Getting Started Page
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4404 add sdg scss color vars and import to main
  _sass/main.scss
  _sass/variables/_colors-sdg.scss
Labels: role: front end, Complexity: Small, size: 0.25pt, p-feature: SDGs

#4365 Add Latest Google Apps Scripts to Version Control
  .gitignore
  google-apps-scripts/gh-requests/Code.js
  google-apps-scripts/gh-requests/appsscript.json
  google-apps-scripts/gh-requests/package-lock.json
  google-apps-scripts/gh-requests/package.json
  google-apps-scripts/wins-form-responses/Code.js
  google-apps-scripts/wins-form-responses/appsscript.json
  google-apps-scripts/wins-form-responses/package-lock.json
  google-apps-scripts/wins-form-responses/package.json
Labels: role: back end/devOps, Complexity: Medium, Feature: Infrastructure, size: 0.5pt

#4359 Enhance wins accessibility 4113
  _includes/wins-page/wins-card-template.html
  _includes/wins-page/wins-overlay.html
  assets/js/wins.js
Labels: role: front end, Complexity: Medium, P-Feature: Wins Page, size: 1pt

#4339 Issue 2600. Creates gradient image.
  _layouts/project.html
  _sass/components/_project-page.scss
  assets/images/projects/gradient-background.png
Labels: role: front end, Complexity: Medium, P-Feature: Projects page, size: 1pt

#4408 Created a sdg folder (\_data\internal\sdg), and a sdg11.yml file inside that folder (\_data\internal\sdg\sdg11.yml)
  _data/internal/sdg/sdg11.yml
Labels: role: front end, Complexity: Small, size: 0.25pt, p-feature: SDGs

#4386 Getting Started page - step-img-intro solidarity.png - #4376
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4421 Removed img Closing Tag in Getting Started Page
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4391 img syntax changed on join project #4379
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4273 edit content field and remove type field from group.yml credits file
  _data/internal/credits/group.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Credit, size: 0.5pt

#4412 Update Project Profile: Hackforla.org Website to correct leadership order
  _projects/website.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Good second issue, size: 0.25pt

#4424 Update section on how to add pull request to project board
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Complexity: Good second issue, Feature: Onboarding/Contributing.md, size: 0.5pt

#4425 Increase event columns width on Events page
  _sass/components/_events.scss
Labels: role: front end, Complexity: Medium, P-Feature: Events, size: 2pt

#4428 Remove duplicate alt field in youthjusticenav.md
  _projects/youthjusticenav.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Program Area, size: 0.5pt

#4430 Img Tag Refactor: Getting Started Page - #4395
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4433 Add aria label nav 4302
  _includes/main-nav.html
Labels: role: front end, Complexity: Good second issue, Feature: Accessibility, P-Feature: Navigation, size: 0.25pt

#4280 Projects filters 3744
  _includes/current-projects.html
  _sass/elements/_base.scss
  _sass/elements/_dropdown_filters.scss
  assets/js/current-projects.js
Labels: role: front end, Complexity: Large, P-Feature: Projects page, size: 3pt

#4406 Update project profile for civic tech jobs 4127
  _projects/civic-tech-jobs.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.5pt

#4444 Updated credit link to display only if direct link exist
  pages/credits.html
Labels: role: front end, Complexity: Medium, P-Feature: Credit, size: 1pt

#4309 update-engineering-information-4239
  _data/internal/communities/engineering.yml
Labels: role: front end, role: back end/devOps, time sensitive, Complexity: Good second issue, P-Feature: Communities of Practice, size: 0.25pt

#4464 Delete credits-file-template--edit-content-field-and-remove-type-field.md
  .github/ISSUE_TEMPLATE/credits-file-template--edit-content-field-and-remove-type-field.md
Labels: Feature: Board/GitHub Maintenance, role: dev leads

#4463 Delete alt-text-audit---design.md
  .github/ISSUE_TEMPLATE/alt-text-audit---design.md
Labels: Feature: Board/GitHub Maintenance, role: dev leads

#4467 SDG 17: Rename and Replace Partnerships for the Goals svg
  _includes/about-page/about-card-sustainability.html
  assets/images/sdg/partnerships.svg
  assets/images/sdg/sdg17.svg
Labels: role: front end, P-Feature: About Us, Complexity: Small, size: 0.25pt, p-feature: SDGs

#4435 Add new section on setting up SSH Keys in contributing.md
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Complexity: Medium, Feature: Onboarding/Contributing.md, size: 1pt

#4437 Sdg11 replace img 4225
  _includes/about-page/about-card-sustainability.html
  _projects/lucky-parking.md
  assets/images/sdg/sdg11.svg
  assets/images/sdg/sustainable-cities.svg
Labels: role: front end, Complexity: Medium, P-Feature: About Us, size: 0.25pt, p-feature: SDGs

#4461 Remove trailing slash from <img> tag in Citizen Engagement page
  pages/citizen-engagement.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, P-Feature: Citizen Engagement, size: 0.25pt

#4453 Img tag refactor citizen engagement 4446
  pages/citizen-engagement.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, P-Feature: Citizen Engagement, size: 0.25pt

#4472 sdg 5 - rename and replace image with correct color one
  _includes/about-page/about-card-sustainability.html
  assets/images/sdg/gender-equality.svg
  assets/images/sdg/sdg5.svg
Labels: role: front end, P-Feature: About Us, Complexity: Small, size: 0.25pt, p-feature: SDGs

#4462 Delete project-md-file--removing-unused--alt-hero--field.md
  .github/ISSUE_TEMPLATE/project-md-file--removing-unused--alt-hero--field.md
Labels: Feature: Board/GitHub Maintenance, role: dev leads

#4500 removed back slash from img tag 4393
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4516 SDG 13: Renamed and replaced image with correct color one
  _includes/about-page/about-card-sustainability.html
  assets/images/sdg/climate-action.svg
  assets/images/sdg/sdg13.svg
Labels: role: front end, P-Feature: About Us, Complexity: Small, size: 0.25pt, p-feature: SDGs

#4501 Added workflow_dispatch: (with colon) for a manual workflow trigger.
  .github/workflows/vrms-data.yml
Labels: role: back end/devOps, Complexity: Medium, automation, Feature: Refactor GHA, size: 1pt

#4520 Update img business.png #4380
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4519 Removed slash at ending tag for step-img-icon-board
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4528 Removed '/' from the step-img-icon img tag that wraps id.png
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4539 Add Section & Link to CONTRIBUTING.MD
  CONTRIBUTING.md
Labels: role: front end, Feature: Onboarding/Contributing.md, Complexity: Small, size: 0.5pt

#4511 Remove trailing slash from <img> tag in Getting Started page
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4497 Refactored img HTML tag in pages/events.html
  pages/events.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Events, Feature: Refactor HTML, size: 0.25pt

#4197 Implement redsigned donate page 3983
  _includes/donate-card.html
  _includes/join-donate-card.html
  _sass/components/_donate.scss
  assets/images/join-us/donation-graphic.svg
  pages/donate.html
  pages/join-us.html
Labels: role: front end, Complexity: Medium, P-Feature: Donate, ready for dev lead, p-Feature: Mobile, size: 1pt

#4549 Created YML file for SDG 3
  _data/internal/sdg/sdg3.yml
Labels: role: front end, Complexity: Small, size: 0.25pt, p-feature: SDGs

#4548 Created a yml file for SDG2
  _data/internal/sdg/sdg2.yml
Labels: role: front end, Complexity: Small, size: 0.25pt, p-feature: SDGs

#4554 SDG 8: Rename and replace image with correct color one
  _includes/about-page/about-card-sustainability.html
  assets/images/sdg/decent-work.svg
  assets/images/sdg/sdg8.svg
Labels: role: front end, P-Feature: About Us, Complexity: Small, size: 0.25pt, p-feature: SDGs

#4560 Remove the ending slash on the img tag
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4561 refactor-tag-img-find-4414
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4495 SDG 16: Rename and replace image with correct color one
  _includes/about-page/about-card-sustainability.html
  _projects/311-data.md
  _projects/access-the-data.md
  _projects/engage.md
  _projects/open-community-survey.md
  assets/images/sdg/peace-justice.svg
  assets/images/sdg/sdg16.svg
Labels: role: front end, Complexity: Medium, P-Feature: About Us, size: 0.25pt, p-feature: SDGs

#4570 Update Img Tag in Getting Started Page
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt

#4545 created a GHA to list inactive members of website-write team
  .github/workflows/schedule-monthly.yml
  github-actions/trigger-schedule/list-inactive-members/comment-issue.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/get-list.js
Labels: role: back end/devOps, Complexity: Large, time sensitive, Status: Updated, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 5pt

#4569 Img Tag Refactor #4401
  pages/getting-started.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Getting Started, Feature: Refactor HTML, size: 0.25pt
