Repository hackforla/website, pull requests merged in 2024-09, with the labels that each got.

#7325 Added info and link to VRMS guide for updating meeting details
  .github/ISSUE_TEMPLATE/communities-of-practice-information-updates.yml
Labels: role: back end/devOps, Complexity: Small, P-Feature: Communities of Practice, size: 0.25pt

#7376 Add github-handle to Zeynep Aslan in _projects/design-systems.md
  _projects/design-systems.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7371 Add Github Handle for Gala Stojnic in design-systems.md
  _projects/design-systems.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7370 Add github-handle for Erik Guntner in home-unite-us.md
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7375 Resolve codeql 123 -Log injection alert- 7015
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Labels: role: back end/devOps, Complexity: Medium, size: 1pt, Feature: Code Alerts

#7385 Fixed capitalization of slack to Slack
  .github/ISSUE_TEMPLATE/pre-work-template---design.md
Labels: role: back end/devOps, Complexity: Medium, Feature: Onboarding/Contributing.md, size: 1pt

#7368 Add Github Handle for Yingjie Ou #7241
  _projects/tech-work-experience.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, Status: Updated, size: 0.25pt

#7406 Added GitHub Handle for Liz Zheng in design-systems.md
  _projects/design-systems.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7408 7183: Add github-handle for Raji Pradheap in home-unite-us.md
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7367 Refactor "Schedule Friday" for modularity
  .github/workflows/schedule-fri-0700.yml
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
  github-actions/utils/hide-issue-comment.js
  github-actions/utils/mutate-issue-status.js
Labels: role: back end/devOps, Complexity: Large, Feature: Refactor GHA, size: 3pt

#7427 Add github-handle for Muyin Zheng in home-unite-us.md
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7315 Added Mira Kinebuchi's github handle variable in home-unite-us.md
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7369 added github handle for Priyanka Talwar - not Bryanna
  _projects/tech-work-experience.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7437 add github handle for Jed Stewart
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6442 Create JSON file and related functionality for replacing hard-coded labels
  .github/workflows/update-label-directory.yml
  github-actions/utils/_data/label-directory.json
  github-actions/utils/retrieve-label-directory.js
  github-actions/utils/update-label-directory.js
Labels: role: back end/devOps, Complexity: Large, time sensitive, Feature: Refactor GHA, size: 5pt, GHA New Project Board compatible

#7436 added github-handle to Kristelle Gumaru
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7445 Add GitHub Handle for Moji Jimoh
  _projects/youthjusticenav.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7446 Update Expunge Assist with new description, add tools, wiki and overview
  _projects/expunge-assist.md
  assets/pdfs/Expunge-Assist-One-Sheet.pdf
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.5pt

#6853 Check Developer's Complexity Allowance for Issue Assignments
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
  github-actions/trigger-issue/add-preliminary-comment/developer-complexity-reminder.md
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Labels: role: back end/devOps, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 5pt, Complexity: Extra Large, GHA New Project Board compatible

#7461 Fix email link for Right to be forgotten and rectification in privacy-policy.yml
  _data/internal/privacy-policy.yml
Labels: role: front end, Complexity: Small, P-Feature: Privacy Policy, size: 0.5pt

#7428 Add github-handle for Michael Morgan in design-systems.md #7291
  _projects/design-systems.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7463 Update link name from Github to GitHub in `_projects/ems-triage-tracker.md`
  _projects/ems-triage-tracker.md
Labels: role: front end, role: back end/devOps, Complexity: Medium, P-Feature: Project Info and Page, size: 1pt

#7462 Fix email link in privacy-policy.yml for Questions section
  _data/internal/privacy-policy.yml
Labels: role: front end, Complexity: Small, P-Feature: Privacy Policy, size: 0.5pt

#7447 Fix mail link for Children's privacy section in privacy-policy.yml
  _data/internal/privacy-policy.yml
Labels: role: front end, Complexity: Small, P-Feature: Privacy Policy, size: 0.5pt

#7466 Change the label that is added when dev attempts to open multiple issues
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Labels: role: back end/devOps, time sensitive, Feature: Board/GitHub Maintenance, Complexity: Small, size: 0.5pt

#7493 Post PBB Migration 7079 - Refactor GHA for Moving Closed Issues
  .github/workflows/move-closed-issues.yaml
  github-actions/move-closed-issues/move-closed-issues.js
  github-actions/move-closed-issues/sort-closed-issues.js
  github-actions/utils/mutate-issue-status.js
  github-actions/utils/query-issue-info.js
Labels: role: back end/devOps, Complexity: Large, time sensitive, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 3pt, Feature: API

#7373 Refactor "Issue Trigger" for modularity
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/utils/get-team-members.js
  github-actions/utils/query-issue-info.js
Labels: role: back end/devOps, Complexity: Large, Feature: Refactor GHA, size: 3pt

#7503 Address bug fix for `query-issue-info.js`
  github-actions/utils/query-issue-info.js
Labels: Bug, role: back end/devOps, Complexity: Small, Feature: Refactor GHA, size: 0.25pt

#7468 Update Github to GitHub in `_data/internal/communities/ops.yml`
  _data/internal/communities/ops.yml
Labels: role: front end, role: back end/devOps, Complexity: Medium, P-Feature: Communities of Practice, size: 1pt

#7504 Updated the leadership variable with the current team in communities/ops.yml
  _data/internal/communities/ops.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#6971 Verify that PR creator is a member of the website-write team
  .github/workflows/pr-verification.yml
  github-actions/trigger-pr-target/verify-pr.js
  github-actions/utils/check-team-membership.js
Labels: role: back end/devOps, Complexity: Large, Feature: Board/GitHub Maintenance, automation, size: 3pt, GHA New Project Board compatible

#7464 Removing instances of "test" as a substring in the events page - #6369
  assets/js/utility/vrms-events.js
Labels: role: back end/devOps, Complexity: Medium, time sensitive, P-Feature: Events, size: 0.5pt

#7496 Refactored image tag in section 1.3 in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, Feature: Refactor HTML, size: 0.5pt

#7511 Add Lola Sarumi to Home Unite Us leadership
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7467 Fix paragraphs alignment in the About Us and Join Us pages
  _sass/elements/_containers.scss
Labels: role: front end, Complexity: Medium, P-Feature: Join Page, size: 0.25pt

#7514 Fix capitalization of "Slack" in `pre-work-template---design.md` issue template
  .github/ISSUE_TEMPLATE/pre-work-template---design.md
Labels: role: back end/devOps, Complexity: Medium, Feature: Onboarding/Contributing.md, size: 1pt

#7529 Added GitHub-handle for Brett Beekley in hellogov.md
  _projects/hellogov.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7526 Updated Technologies list in Project Overview section in Civic Tech Jobs Project Page
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt
