Repository hackforla/website, pull requests merged in 2024-01, with the labels that each got.

#5978 Refactor HTML and JavaScript so Projects and Projects-Check page share same files
  _projects/tdm-calculator.md
  _projects/youthjusticenav.md
  assets/js/current-projects.js
  pages/projects-check.html
Labels: role: front end, Complexity: Large, Feature: Refactor JS / Liquid, Feature: Refactor HTML, size: 2pt, p-feature: Projects-check

#5942 Adjusting padding in drop down menu for filters
  _sass/elements/_dropdown_filters.scss
Labels: Status: Help Wanted, role: front end, Complexity: Medium, P-Feature: Toolkit, P-Feature: Home page, P-Feature: Projects page, size: 1pt

#6056 Remove mention of CFA
  pages/join-us.html
Labels: good first issue, role: front end, role: back end/devOps, time sensitive, P-Feature: Join Page, size: 0.25pt

#6070 Removed Code for America from About Us Intro
  pages/about.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, size: 0.25pt

#5944 Consolidate reusable functions in github-actions to utils folder
  github-actions/pr-instructions/post-comment.js
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
  github-actions/utils/format-comment.js
  github-actions/utils/get-timeline.js
  github-actions/utils/post-issue-comment.js
Labels: role: back end/devOps, Complexity: Large, time sensitive, Feature: Refactor GHA, size: 2pt

#6072 Edits to Tools data for green-earth-os.md-6020
  _projects/green-earth-os.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#6063 Updated redirect_to in codeforamerica.md
  redirections/codeforamerica.md
Labels: good first issue, role: front end, role: back end/devOps, time sensitive, P-Feature: Donate, size: 0.25pt

#6061 updated wiki link for bop - #5972
  _projects/brigade-organizers-playbook.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#6073 Removed reference to CFA in Privacy Policy Intro
  pages/privacy-policy.html
Labels: good first issue, role: front end, role: back end/devOps, time sensitive, P-Feature: Privacy Policy, size: 0.25pt

#6068 Updating Home Unite Us tools section
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt, p-feature: Projects-check

#6021 Fix bug GHA Issue Trigger 5164
  github-actions/trigger-issue/add-missing-labels-to-issues/add-labels-template.md
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 1pt

#5974 Update CONTRIBUTING.md Section 2.7.f ii SSH for Windows
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.25pt

#6025 Removed Code for America alt text on sponsor icon in the about page
  _includes/about-page/about-card-sponsors.html
Labels: role: front end, role: back end/devOps, P-Feature: About Us, Complexity: Small, size: 0.5pt

#6075 Replace Code for America link with Hack for LA link
  _config.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Donate, size: 0.25pt

#6076 Html refactor 2fa #5709
  _guide-pages/2FA.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#6077 Refactor HTML to resolve linter error
  _guide-pages/2FA.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#6098 Update Slack image with svg icon in "Getting Started" Page
  _sass/components/_getting-started-page.scss
  pages/getting-started.html
Labels: role: front end, Complexity: Medium, P-Feature: Getting Started, Feature: Refactor HTML, size: 1pt

#6100 Added code of conduct link to footer
  _includes/footer.html
  redirections/conduct.md
Labels: role: front end, role: back end/devOps, Complexity: Small, Feature: Infrastructure, size: 0.5pt, feature: code of conduct

#6099 Add github-handle variable
  _projects/100-automations.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6103 removed alejandro gomez info from engineering yml file
  _data/internal/communities/engineering.yml
Labels: good first issue, role: front end, role: back end/devOps, time sensitive, P-Feature: Communities of Practice, size: 0.25pt

#6132 Added github-handle variable to Tin Wei Chung
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6131 Added github-handle variable to Salima Yacoubi
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6085 Add size missing label gha 6022
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
Labels: role: back end/devOps, To Update !, Feature: Board/GitHub Maintenance, Complexity: Small, size: 1pt

#6130 Add github-handle for Nga Do in civic-tech-jobs.md
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6134 Update Project Profile: Expunge Assist (Reorder members)
  _projects/expunge-assist.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#6133 Updated project profile for Access the Data
  _projects/access-the-data.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, P-Feature: Projects page, size: 0.25pt

#6011 Consolidate functions in `schedule-monthly.yml` 5969
  .github/workflows/schedule-monthly.yml
  github-actions/trigger-schedule/github-data/contributors-data.js
  github-actions/trigger-schedule/list-inactive-members/comment-issue.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/inactive-members.md
  github-actions/utils/issue-template-parser.js
Labels: role: back end/devOps, Complexity: Large, Feature: Refactor JS / Liquid, Feature: Refactor GHA, size: 5pt

#6149 Removed Code for America logo and references in partners.yml and spon…
  _data/internal/partners.yml
  _data/internal/sponsors.yml
Labels: role: front end, role: back end/devOps, P-Feature: About Us, time sensitive, Complexity: Small, size: 0.5pt

#6164 Update project profile 5809
  _projects/lucky-parking.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#6147 Add J Pham to Website Team
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#6026 Update a credit file for composite images
  _data/internal/credits/diversity-equity-inclusion-composite.yml
  _data/internal/credits/diversity-equity-inclusion-main.yml
  _data/internal/credits/diversity-equity-inclusion-secondary.yml
  _data/internal/credits/diversity-equity-inclusion.yml
  assets/images/credits/ProgressSQsm.jpg
  assets/images/credits/team-hands-middle.jpg
  pages/credits.html
Labels: role: front end, role: back end/devOps, Complexity: Large, P-Feature: Credit, size: 2pt

#6186 Updating Ops CoP Leads Information
  _data/internal/communities/ops.yml
Labels: role: front end, time sensitive, Complexity: Small, P-Feature: Communities of Practice, size: 0.25pt

#6152 Implemented SRI check on the external babel links
  _layouts/default-markdown.html
  _layouts/default.html
Labels: role: front end, Complexity: Medium, size: 1pt, Feature: Code Alerts

#6151 Modified hamburger-nav.html, hamburger-nav.js
  _includes/hamburger-nav.html
  _includes/main-nav.html
  assets/js/hamburger-nav.js
Labels: role: front end, Complexity: Large, Feature: Accessibility, size: 2pt

#6194 updated the leadership variable in the _data/internal/communities/engineering.yml file
  _data/internal/communities/engineering.yml
Labels: role: front end, Complexity: Small, P-Feature: Communities of Practice, size: 0.25pt

#6148 added Leo Peng to file for issue#6104
  _data/internal/communities/ui-ux.yml
Labels: good first issue, role: front end, role: back end/devOps, time sensitive, P-Feature: Communities of Practice, size: 0.25pt

#6135 Removed Aparna et al from Access The Data Project Profile
  _projects/access-the-data.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt
