Repository hackforla/website, pull requests merged in 2024-02, with the labels that each got.

#6190 Resolved CodeQL alert 9 "Potentially unsafe external link"
  _layouts/project.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt, Feature: Code Alerts

#6158 Update code events page
  assets/js/utility/api-events.js
Labels: Bug, role: front end, Complexity: Medium, time sensitive, P-Feature: Events, size: 1pt

#6197 Add Heejung Hong to CoP Engineering on HfLA website
  _data/internal/communities/engineering.yml
Labels: good first issue, role: front end, role: back end/devOps, time sensitive, P-Feature: Communities of Practice, size: 0.25pt

#6198 Remove Josiah Odosu from project leadership section
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#6202 Update 2FA.html
  _guide-pages/2FA.html
Labels: good first issue, role: front end, role: back end/devOps, 2 weeks inactive, Feature: Refactor HTML, size: 0.25pt

#6201 Resolved CodeQL alert 10 for a potential security risk
  _layouts/project.html
Labels: good first issue, role: front end, P-Feature: Project Info and Page, size: 0.25pt, Feature: Code Alerts

#6206 Updated section 2.7a information
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.5pt

#6207 6046: Added noopener noreferrer to L155 to prevent phishing or other …
  _layouts/project.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt, Feature: Code Alerts

#6210 6047: Added noopener noreferrer attribute properties to L48 to improv…
  _layouts/project.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt, Feature: Code Alerts

#6216 Add ignoreWords array to cspell.jon
  cspell.json
Labels: role: front end, role: back end/devOps, Complexity: Small, Feature: Infrastructure, size: 0.5pt, feature: spelling

#6215 add github-handle to member Tan Zhou
  _projects/civic-opportunity-project.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6205 Updated wins app script to add spacing and line breaks to wins json feed
  google-apps-scripts/wins-form-responses/Code.js
Labels: role: back end/devOps, Complexity: Medium, time sensitive, P-Feature: Wins Page, size: 1pt

#6243 Remove unused scripts.
  assets/js/current-projects-check.js
Labels: role: front end, role: back end/devOps, Complexity: Small, size: 0.5pt, p-feature: Projects-check

#6141 Replace slack-self-invite.svg with icon-slack.svg on CoP page
  _sass/components/_communities-of-practice.scss
  pages/communities-of-practice.html
Labels: role: front end, Complexity: Medium, Feature: Refactor CSS, Feature: Refactor HTML, size: 1pt

#6260 Resolve CodeQL alert 16 "Potentially unsafe external link"
  pages/communities-of-practice.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Communities of Practice, size: 0.25pt, Feature: Code Alerts

#6241 fix misspelling from direclty to directly
  _guide-pages/survey-reporting-dashboard-guide.html
Labels: good first issue, role: front end, role: back end/devOps, size: 0.25pt, feature: spelling

#6262 updates co-lead Beck for Abundis
  _data/internal/communities/engineering.yml
Labels: role: front end, time sensitive, Complexity: Small, P-Feature: Communities of Practice, size: 0.25pt

#6263 Update SSH key setup instructions for Windows users. Addresses #6187
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Feature: Onboarding/Contributing.md, Complexity: Small, size: 0.5pt

#6270 Refactored the donate.html page and deleted donate-card.html page
  _includes/donate-card.html
  pages/donate.html
Labels: role: front end, P-Feature: Donate, Complexity: Small, Feature: Refactor HTML, size: 0.5pt

#6255 Update Language Merging to Support Projects with Multiple Additional Repositories
  _layouts/project.html
  _projects/civic-tech-index.md
  assets/js/current-projects.js
  assets/js/project.js
Labels: role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 3pt, Complexity: Extra Large

#6271 Changed "technologies" and "tools" chip labels to singular chip labels (technology and tool) - #4647
  assets/js/current-projects.js
Labels: role: front end, Complexity: Medium, P-Feature: Projects page, size: 2pt

#6279 Added _sass/ to cspell.json ignorePaths array
  cspell.json
Labels: good first issue, role: front end, role: back end/devOps, size: 0.25pt, feature: spelling

#6267 Resolve codeql 6051
  pages/communities-of-practice.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Communities of Practice, size: 0.25pt, Feature: Code Alerts

#6300 Replace {{ project.alt }} with single quotes
  assets/js/current-projects.js
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, P-Feature: Projects page, size: 1pt

#6275 Add new variable github-handle to member Karen Coronel in civic-tech
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6293 Img tag refactor
  _includes/about-page/about-card-sustainability.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Refactor HTML, size: 0.25pt

#6292 Added in Closing Span Tag on the About Us Page - Workforce Development Section
  _includes/about-page/about-card-platform.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#6307 Add rel="noopener noreferrer" to external links in communities-of-practice.html
  pages/communities-of-practice.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Communities of Practice, size: 0.25pt, Feature: Code Alerts

#6302 Img Tag Refactor: Join Us Page - advice-us-icon.svg
  pages/join-us.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Join Page, Feature: Refactor HTML, size: 0.25pt

#6305 Added github handle variable to markdown file
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6315 Added github-handle to civic-tech-jobs.md
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6308 Update project profile
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#6325 Update Project Profile: Food Oasis (Fix Hannah Zulueta's Slack link)
  _projects/food-oasis.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#6324 Resolved CodeQL Alerts 6 and 8
  _layouts/guides.html
Labels: role: front end, role: back end/devOps, Dependency, Complexity: Small, size: 0.5pt, Feature: Code Alerts

#6322 Update Website project profile
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#6351 Update Project Profile: Food Oasis (Remove Seiko Igi, Stacey Rebekah Scott, Erin Dean)
  _projects/food-oasis.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#6352 Add new variable "github-handle" to member Jenn Wu
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6358 added github-handle variable for Jon Lam
  _projects/ballot-nav.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6359 Add new variable 'github-handle' to member Lu Feng
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6328 changed chip label for programs and languages to be singular words
  assets/js/current-projects.js
Labels: role: front end, Complexity: Medium, P-Feature: Home page, P-Feature: Projects page, size: 2pt, p-feature: Projects-check

#6360 change single quotes to double quotes in order to resolve linter error
  _guide-pages/2FA.html
Labels: good first issue, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#6368 In re Issue 6310: Add Andy Arensman, Belen Garcia Martinez, & June Zhao to Food Oasis Project Leadership
  _projects/food-oasis.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#6366 Add _data/internal/credits/ to ignorePaths array in cspell.json
  cspell.json
Labels: good first issue, role: front end, role: back end/devOps, size: 0.25pt, feature: spelling

#6365 added github-handle variable for Matt Pereira
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6381 Add '_includes/design-system-page/examples/' to 'ignorePaths' in cspell.json #5839
  cspell.json
Labels: good first issue, role: front end, role: back end/devOps, size: 0.25pt, feature: spelling

#6363 update on issue 5878
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6387 update project profile food oasis reorder leadership member
  _projects/food-oasis.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#6390 Replaced progress pride flag
  _data/internal/credits/diversity-equity-inclusion-secondary.yml
  assets/images/credits/ProgressSQsm.jpg
  assets/images/credits/ProgressSQsm.png
Labels: role: front end, role: back end/devOps, P-Feature: Credit, Complexity: Small, Feature: Feature Branch, ready for dev lead, size: 0.5pt
