Repository hackforla/website, pull requests merged in 2024-08, with the labels that each got.

#7150 Replace GitHub with GitHub in ui-ux.yml
  _data/internal/communities/ui-ux.yml
Labels: role: front end, role: back end/devOps, Complexity: Medium, P-Feature: Communities of Practice, size: 1pt

#7199 Fixed typos and added a link up through section 1
  .github/ISSUE_TEMPLATE/skills-issue--developer.md
Labels: role: front end, role: back end/devOps, Complexity: Large, Feature: Onboarding/Contributing.md, size: 1pt, epic

#7238 Updated CONTRIBUTING Sec 2.3 to reflect new Project Board links
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.5pt

#7229 Updates image instructions for pull requests
  CONTRIBUTING.md
Labels: good first issue, role: back end/devOps, Feature: Onboarding/Contributing.md, size: 0.25pt

#7235 Added github handle for Bonnie Wolfe in tdm-calculator.md
  _projects/tdm-calculator.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7244 Edit note text in CONTRIBUTING.md at Sec 3.1.b.iv
  CONTRIBUTING.md
Labels: good first issue, role: back end/devOps, Feature: Onboarding/Contributing.md, size: 0.25pt

#7169 Update the meeting times on the CoP page
  _data/internal/communities/data-science.yml
  _data/internal/communities/engineering.yml
  _data/internal/communities/ops.yml
  _data/internal/communities/project-management.yml
  _data/internal/communities/ui-ux.yml
  assets/js/communities-of-practice.js
  pages/communities-of-practice.html
Labels: role: back end/devOps, Complexity: Large, P-Feature: Communities of Practice, size: 2pt

#7230 Replace Github with GitHub in pages/getting-started.html
  pages/getting-started.html
Labels: role: front end, Complexity: Medium, P-Feature: Communities of Practice, size: 1pt

#6747 Projects and homepages 4593
  _projects/food-oasis.md
  _sass/elements/_dropdown_filters.scss
  _sass/elements/_search-bar.scss
  _sass/layouts/_main.scss
Labels: role: front end, Complexity: Large, P-Feature: Home page, P-Feature: Projects page, size: 1pt

#7272 added github-handle for Minji Kim
  _projects/tech-work-experience.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt, role: QA

#7234 Add "github-handle" variable for Anousha Shadrach in tdm-calculator.md
  _projects/tdm-calculator.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7261 Added github-handle for Sanya Nijhawan in home-unite-us.md
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7257 Added github-handle variable for Stephen Barkley-Yeung
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7258 Added github-handle for Brian #7249
  _projects/tech-work-experience.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7263 Add github handle for bryce lednar in home-unite-us.md
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7269 Add GitHub handle #7186 for Eduardo De La Rosa in home-unite-us.md
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7271 PR Added github-handle for Rachel Bracker in home-unite-us file
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7285 add github handle #7254
  _projects/tech-work-experience.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7228 Add comment to PR if there's no linked issue
  .github/workflows/pull-request-trigger.yml
  github-actions/trigger-pr/check-linked-issue.js
Labels: role: back end/devOps, Complexity: Medium, Feature: Refactor GHA, size: 1pt

#7260 7078 post pbb migration refactor schedule friday workflow
  .github/workflows/schedule-fri-0700.yml
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Labels: role: back end/devOps, Complexity: Large, time sensitive, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 5pt, Feature: API

#7088 Update Team Meeting Data on Events Page to show Meeting Frequency
  _includes/events-page/right-col-content.html
  assets/js/right-col-content.js
Labels: role: front end, Complexity: Medium, P-Feature: Project Info and Page, P-Feature: Events, P-Feature: Project Meetings, size: 0.25pt

#7270 Added 'github-handle' key below name for Flora Osmond
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7280 Removed backlash / in img tag (<img.../>) in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, Feature: Refactor HTML, size: 0.5pt

#7299 Add github-handle variable to Jessie Liu
  _projects/tech-work-experience.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7276 Fix capitalization of slack in pre-work-template--dev.md
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Labels: role: back end/devOps, Complexity: Medium, Feature: Onboarding/Contributing.md, size: 1pt

#7262 Add automatic retries to "Schedule Daily" GHA
  github-actions/trigger-schedule/github-data/get-project-data.js
Labels: role: back end/devOps, Complexity: Large, Feature: Refactor GHA, size: 3pt

#7311 Capitalize Slack on line 36 of pre-work-template--dev.md
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Labels: role: back end/devOps, Complexity: Medium, Feature: Onboarding/Contributing.md, size: 1pt

#7308 Replace Github with GitHub in pages/communities-of-practice.html
  pages/communities-of-practice.html
Labels: role: front end, Complexity: Medium, P-Feature: Communities of Practice, size: 1pt

#7302 Add github handle for Angela Darosh on tech-work-experience.md
  _projects/tech-work-experience.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7293 Added github-handle property for Andrew Salvatore
  _projects/tech-work-experience.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7320 Added github-handle for Farah Khan in home-unite-us.md
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7312 Add github-handle for Sara Brady in tech-work-experience.md
  _projects/tech-work-experience.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7307 Add github-handle for Ebi Imafidon in tdm-calculator.md 7173
  _projects/tdm-calculator.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7306 Add Github Handle for Nino Dzotsenidze in tech-work-experience.md
  _projects/tech-work-experience.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7328 Update to Pull Request Template
  .github/pull_request_template.md
Labels: role: back end/devOps, Feature: Standards, Complexity: Small, size: 0.5pt

#7279 Edits in CONTRIBUTING.md Section 3.1.b #7134
  CONTRIBUTING.md
Labels: role: back end/devOps, Feature: Onboarding/Contributing.md, Complexity: Small, size: 1pt

#7347 Add github-handle for Jane He in tdm-calculator.md
  _projects/tdm-calculator.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7296 removed unused variable in getDayString
  assets/js/right-col-content.js
Labels: role: back end/devOps, P-Feature: Events, Complexity: Small, size: 0.5pt, Feature: Code Alerts

#7342 Add github-handle for Eli Marietta in design-systems.md
  _projects/design-systems.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7348 add github-handle for John Darragh
  _projects/tdm-calculator.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7340 Removed liquid statement for calendar.html in pages/index.html
  pages/index.html
Labels: role: front end, P-Feature: Home page, Complexity: Small, size: 0.5pt

#7343 Updated Project Profile for Will Gillis
  _projects/website.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, Complexity: Small, size: 0.5pt

#7346 Add tyler thome GitHub handle 7175
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, Status: Updated, size: 0.25pt

#7350 Add github handle for Joshua Fishman in tech-work-experience
  _projects/tech-work-experience.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7323 Fix bug in "Schedule Friday" workflow
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Labels: Bug, role: back end/devOps, time sensitive, Feature: Board/GitHub Maintenance, Complexity: Small, size: 1pt

#7361 Removed unused component `_includes/calendar.html`
  _includes/calendar.html
Labels: role: front end, P-Feature: Home page, Complexity: Small, size: 0.5pt

#7345 Add Samuel kowitch GitHub handle #7189
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7365 added github-handle property for Robert Schacht
  _projects/design-systems.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7364 add github handle, Hyun Joo Sandy Oh
  _projects/tech-work-experience.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7341 refactor the img tag
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, Feature: Refactor HTML, size: 0.5pt

#7360 Removed api-actionnetwork.js script in default template
  _layouts/default.html
Labels: role: front end, role: back end/devOps, Complexity: Small, Feature: Refactor HTML, size: 0.5pt
