Repository hackforla/website, pull requests merged in 2024-04, with the labels that each got.

#6542 Resolve CodeQL alert 44
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Labels: role: front end, role: back end/devOps, Complexity: Medium, size: 1pt, Feature: Code Alerts

#6517 fix: resolve CodeQL alert
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Labels: role: front end, role: back end/devOps, Complexity: Medium, size: 1pt, Feature: Code Alerts

#6553 Added new variable github-handle to member Andrew Steman in ballot-navmd
  _projects/ballot-nav.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6560 Correct misspelling in alt text in Communities of Practice page
  pages/communities-of-practice.html
Labels: good first issue, role: front end, role: back end/devOps, time sensitive, P-Feature: Communities of Practice, size: 0.25pt, feature: spelling

#6564 New variable GitHub handle stacey rebekah scott 6235
  _projects/ballot-nav.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6538 Include const declaration to resolve codeql missing variable
  github-actions/trigger-schedule/github-data/get-project-data.js
Labels: role: front end, role: back end/devOps, Complexity: Medium, size: 1pt, Feature: Code Alerts

#6540 Updated scope of variable 'project' line 95
  github-actions/trigger-schedule/github-data/get-project-data.js
Labels: role: front end, role: back end/devOps, Complexity: Medium, size: 1pt, Feature: Code Alerts

#6561 added github-actions/ to the ignorePaths array in cspell.json file
  cspell.json
Labels: good first issue, role: front end, role: back end/devOps, size: 0.25pt, feature: spelling

#6566 Resolved codeql alert 98
  pages/communities-of-practice.html
Labels: good first issue, role: back end/devOps, P-Feature: Communities of Practice, size: 0.25pt, Feature: Code Alerts

#6580 Fixes #6559: Update Project Profile: Add Gayle Martin to Merge Team
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#6613 Update Project Slack Links in Expunge Assist Page #6511
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt

#6620 Added github-handle for Emerson Castaneda in civic-tech-index.md
  _projects/civic-tech-index.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6616 Added GitHub handle for Chali Prasertsri
  _projects/civic-tech-index.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6618 Add github-handle for Farzana Prianka in civic-tech-index.md
  _projects/civic-tech-index.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6624 Changed Slack URL for Tech Work Experience project
  _projects/tech-work-experience.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt

#6506 added _includes/svg/ to ignorePaths array in cspell.json
  cspell.json
Labels: good first issue, role: front end, role: back end/devOps, size: 0.25pt, feature: spelling

#6549 updated project page filters to show tools
  assets/js/current-projects.js
Labels: role: front end, Complexity: Medium, P-Feature: Projects page, size: 1pt

#6629 Add GitHub-handle for Nandana Rao - #6174
  _projects/civic-tech-index.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6631 Added GitHub Handle for Bhaggyalakshmi Balasubramaniyan
  _projects/civic-tech-index.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6630 Added github-handle for Ron Fu in Civic Tech Index
  _projects/civic-tech-index.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6627 Add github-handle for Bruce Lai in civic-tech-index.md
  _projects/civic-tech-index.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6635 Added github handle for Evan Stalker in _projects brigade-organizers-playbook.md 6155
  _projects/brigade-organizers-playbook.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6647 Added github handle for Sean Sada
  _projects/civic-tech-index.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6626 Refactored code using the deprecated Window: Event Property
  assets/js/current-projects.js
Labels: role: front end, role: back end/devOps, Feature: Refactor JS / Liquid, Complexity: Small, P-Feature: Projects page, ready for dev lead, size: 0.5pt

#6617 Update Public Tree Map Slack Link #6514
  _projects/public-tree-map.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt

#6646 Make Slack links for Heart project consistent with other projects
  _projects/heart.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, P-Feature: Projects page, size: 0.25pt

#6652 Add GitHub handle in brigade-organizers-playbook.md
  _projects/brigade-organizers-playbook.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6657 Added github handle to Benny Van section
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6658 Delete unused Slack svg file
  _includes/svg/icon-slack-color.svg
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#6659 Update Project Meeting page text and Events page text
  _includes/events-page/right-col-content.html
  pages/project-meetings.html
Labels: role: front end, time sensitive, P-Feature: Events, Complexity: Small, P-Feature: Project Meetings, size: 0.25pt

#6651 Resolve codeql alert 51 6622
  assets/js/utility/api-events.js
Labels: role: front end, role: back end/devOps, Complexity: Medium, size: 1pt, Feature: Code Alerts

#6682 Added New Variable Github-Handle for Ray Fambro
  _projects/civic-opportunity-project.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6688 Update Project Profile #6636
  _projects/civic-tech-jobs.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#6694 Updated civic-tech-index.md with Iffath Sultana's github-handle.
  _projects/civic-tech-index.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6693 Added github handle to Karen Coronel
  _projects/ballot-nav.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6708 remove unused "timelineArray" variable
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Labels: role: back end/devOps, Complexity: Medium, size: 1pt, Feature: Code Alerts

#6707 Add github-handle variable for Yasaman Roostaeian in design-systems.md
  _projects/design-systems.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6660 Resolved CodeQL Alert 50 by removing unused variable.
  assets/js/api-actionnetwork.js
Labels: role: front end, role: back end/devOps, Complexity: Medium, size: 1pt, ready for product, Feature: Code Alerts

#6690 Fix broken image in `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.5pt

#6711 Updated profile section from Anjola Jaiyeola to Kelly Chuang
  _projects/website.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#6678 Add github-handle for Melinda Sukosd
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6520 Edit `contributors-data.js` and associated files 6193
  .github/workflows/schedule-monthly.yml
  github-actions/trigger-schedule/github-data/contributors-data.js
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/get-contributors-data.js
  github-actions/trigger-schedule/list-inactive-members/trim-inactive-members.js
  github-actions/utils/_data/inactive-members.json
  github-actions/utils/add-team-member.js
  github-actions/utils/get-team-members.js
Labels: role: back end/devOps, Feature: Refactor GHA, size: 8pt, Complexity: Extra Large

#6685 Customize PR instructions based on files modified
  .github/workflows/pr-instructions.yml
  github-actions/pr-instructions/create-instruction.js
  github-actions/pr-instructions/pr-instructions-contrib-template.md
  github-actions/pr-instructions/pr-instructions-header.md
  github-actions/pr-instructions/pr-instructions-template.md
Labels: role: back end/devOps, Complexity: Large, Feature: Board/GitHub Maintenance, size: 3pt

#6712 Updated description text alignment in sgd card
  _sass/components/_project-page.scss
Labels: role: front end, Complexity: Medium, P-Feature: Project Info and Page, size: 0.25pt

#6745 fix inconsistencies in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: good first issue, role: back end/devOps, Feature: Onboarding/Contributing.md, size: 0.25pt

#6744 Add github-handle variable to Zuri Smith #6238
  _projects/ballot-nav.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6772 Add surveys/ in cspell.json 5847
  cspell.json
Labels: good first issue, role: front end, role: back end/devOps, size: 0.25pt, feature: spelling

#6770 Updating github handle for Naomi Chao
  _projects/civic-tech-structure.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6746 Added Github-handle for Sandra Berjan in design-systems.md
  _projects/design-systems.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6767 Added redirections to ignorepath in cspell.json
  cspell.json
Labels: good first issue, role: front end, role: back end/devOps, size: 0.25pt, feature: spelling

#6776 Title Added Github-handle for Faezeh Faezipour
  _projects/design-systems.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6686 Remove unused "weekday" variable declaration from api-events.js
  assets/js/utility/api-events.js
Labels: role: front end, role: back end/devOps, Complexity: Medium, size: 1pt, Feature: Code Alerts

#6790 Customize PR instructions based on files modified
  .github/workflows/pr-instructions.yml
  github-actions/pr-instructions/create-instruction.js
  github-actions/pr-instructions/pr-instructions-contrib-template.md
  github-actions/pr-instructions/pr-instructions-header.md
  github-actions/pr-instructions/pr-instructions-template.md
Labels: role: back end/devOps, Complexity: Large, Feature: Board/GitHub Maintenance, size: 3pt
