Repository hackforla/website, pull requests merged in 2024-05, with the labels that each got.

#6768 Added GitHub handle option for Eva Kwock in design-systems.md
  _projects/design-systems.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6788 Ignore `google-apps-scripts/` in spell checker
  cspell.json
Labels: good first issue, role: front end, role: back end/devOps, size: 0.25pt, feature: spelling

#6774 Update project profile in `projects/civic-tech-jobs.md`
  _projects/civic-tech-jobs.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#6802 Update Project Profile: Civic Tech Jobs (Remove Matt Pereira & Sarah Sanger; Add Jimmy Juarez) #6641
  _projects/civic-tech-jobs.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#6781 Updating github handle for Dennis Chatkhan
  _projects/civic-tech-index.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6791 Added github-handle for Khanh Cao in design-systems.md
  _projects/design-systems.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6792 Added github-handle for D.Nyasetia
  _projects/design-systems.md
Labels: good first issue, role: back end/devOps

#6804 Bug fix 6803
  .github/workflows/schedule-monthly.yml
  .github/workflows/wr-schedule-monthly.yml
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/get-contributors-data.js
Labels: Bug, role: back end/devOps, Complexity: Medium, Feature: Refactor GHA, size: 1pt

#6811 Added logic to an Issue's preliminary comment with accompanying messages
  github-actions/trigger-issue/add-preliminary-comment/draft-label-reminder.md
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/trigger-issue/add-preliminary-comment/unassign-from-NIA.md
Labels: Bug, role: back end/devOps, time sensitive, Status: Updated, Feature: Board/GitHub Maintenance, Complexity: Small, size: 1pt

#6818 Updates the profiles in the civic tech jobs project page
  _projects/civic-tech-jobs.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#6692 Separate codql.yml and create new issues workflows
  .github/workflows/codeql-create-issues.yml
  .github/workflows/codeql-scan-job.yml
  .github/workflows/codeql.yml
  github-actions/trigger-issue/create-codeql-issues/issue-body.md
Labels: role: back end/devOps, Complexity: Large, time sensitive, size: 3pt, Feature: Code Alerts

#6822 Removed Unused Variable in check-labels Action
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
Labels: role: back end/devOps, Complexity: Medium, size: 1pt, Feature: Code Alerts

#6824 Remove unused import from post-comment.js
  github-actions/pr-instructions/post-comment.js
Labels: role: back end/devOps, Complexity: Medium, size: 1pt, Feature: Code Alerts

#6814 added gh handle for wataru inoue
  _projects/design-systems.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6810 Added github-handle for Thad Kerosky in civic-tech-structure.md
  _projects/civic-tech-structure.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6836 Adding `workflow_dispatch` to `schedule-daily-1100.yml` for a test
  .github/workflows/schedule-daily-1100.yml
Labels: role: back end/devOps, Complexity: Small, Feature: Refactor GHA, size: 0.25pt

#6815 Refactored JavaScript files so that Events page sources meeting data from vrms_data.json
  _includes/events-page/right-col-content-check.html
  assets/js/events-check.js
  assets/js/project.js
  assets/js/right-col-content-check.js
  assets/js/right-col-content.js
  assets/js/utility/api-events.js
  assets/js/utility/vrms-events.js
  pages/events-check.html
Labels: role: front end, Complexity: Large, P-Feature: Events, size: 2pt

#6773 Auto response to feature branch issues - #1940
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/feature-branch-comment/add-feature-branch-comment.js
  github-actions/trigger-issue/feature-branch-comment/feature-branch-comment.md
  github-actions/trigger-issue/feature-branch-comment/hide-feature-branch-comment.js
  github-actions/utils/hide-issue-comment.js
Labels: role: back end/devOps, Complexity: Large, Feature: Board/GitHub Maintenance, size: 2pt, Added to dev/pm agenda

#6839 Update CONTRIBUTING.md Section 2.7.f i SSH for Mac - creating folder
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Feature: Onboarding/Contributing.md, Complexity: Small, size: 0.5pt

#6821 Updating github handle for Bonnie W
  _projects/civic-tech-structure.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6841 Added Github-handle for Bonnie Wolfe
  _projects/ems-triage-tracker.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6851 added github handle for Sam H
  _projects/civic-tech-structure.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6852 Add GitHub handle Ryan Mayott
  _projects/engage.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6806 Fixing footer overlapping the content div #6637
  _sass/components/_footer.scss
  _sass/layouts/_main.scss
Labels: role: front end, Complexity: Small, Feature: Feature Branch, P-Feature: Footer, size: 0.25pt

#6886 Added git handle for Dr. Stephen M. Hubbard
  _projects/ems-triage-tracker.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6888 Update inactive members
  github-actions/utils/_data/inactive-members.json
Labels: role: back end/devOps, time sensitive, Complexity: Small, Feature: Refactor GHA, size: 0.5pt

#6883 Revert lint-scss.yml to github/super-linter@4.8.1
  .github/workflows/lint-scss.yml
Labels: role: back end/devOps, Complexity: Small, Feature: Refactor GHA, size: 0.25pt

#6893 Fixed slack capitalization
  _sass/components/_communities-of-practice.scss
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor CSS, size: 0.25pt

#6890 Changed reference to the admin Slack channel in the join us file
  pages/join-us.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Join Page, size: 0.25pt

#6874 Added Github-handle for Simone Wojtaszek
  _projects/ems-triage-tracker.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6894 updated mapsite alt text for lightbulb
  pages/sitemap.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#6899 Add github-handle for Gigi Patel to food-oasis.md
  _projects/food-oasis.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6896 added github handle for Nicole Doan
  _projects/ems-triage-tracker.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6550 Implemented hiding of outdated bot comments - #1976
  .github/workflows/schedule-fri-0700.yml
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Labels: role: back end/devOps, Complexity: Large, time sensitive, Feature: Board/GitHub Maintenance, automation, size: 2pt

#6870 Configure Dependabot to ignore patch updates
  .github/dependabot.yml
Labels: role: back end/devOps, Complexity: Medium, Feature: Refactor GHA, size: 1pt

#6887 Update Alt Text for Page Card Icon Image
  pages/sitemap.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Accessibility, size: 1pt

#6891 add github handle to name: Hannah Zulueta in projects file
  _projects/food-oasis.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6898 Add github-handle for Selena Jiang in ems-triage-tracker.md
  _projects/ems-triage-tracker.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6897 Added github-handle for Conor McKiernan
  _projects/ems-triage-tracker.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6906 Added github-handle for Olivia Chiong
  _projects/civic-tech-structure.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6912 Add github-handle for Bonnie Wolfe in engage.md
  _projects/engage.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6907 Add GH token / permissions to `stefanzweifel/git-auto-commit-action`, sch-monthly.yml
  .github/workflows/schedule-monthly.yml
Labels: Bug, role: back end/devOps, Complexity: Small, Feature: Refactor GHA, size: 0.5pt

#6913 Added GitHub handle for Bryan Wu
  _projects/food-oasis.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6900 Updating github handle for Eli Selkin in engage.md
  _projects/engage.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt
