Repository hackforla/website, pull requests merged in 2024-11, with the labels that each got.

#7683 Time sensitive edits to "Schedule Monthly"
  github-actions/trigger-schedule/list-inactive-members/get-contributors-data.js
Labels: role: back end/devOps, time sensitive, Complexity: Small, Feature: Refactor GHA, size: 0.5pt

#7638 Maintenance and adjustment to "Schedule Monthly" workflow
  github-actions/trigger-schedule/list-inactive-members/get-contributors-data.js
  github-actions/trigger-schedule/list-inactive-members/inactive-members.md
  github-actions/trigger-schedule/list-inactive-members/trim-inactive-members.js
Labels: role: back end/devOps, Complexity: Medium, Feature: Refactor GHA, size: 3pt

#7665 Update Project Profile: Guides Team Add Jesus Diaz
  _projects/guides-team.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7700 Update Project Profile: Hackforla.org Website Add Samhitha Kamma
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7685 Update Project Profile - Add Aditya Profile to guides-team.md
  _projects/guides-team.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7711 Added Heejung Hong to the LA TDM Calculator Leadership Page
  _projects/tdm-calculator.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7706 Update Project Profile: LA TDM Calculator Add Parisa Jannatifard #7643
  _projects/tdm-calculator.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7637 Update Project Profile: 311 Data Add Joy Truex
  _projects/311-data.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7631 Update Docker info in CONTRIBUTING.md Section 2.7.b
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Complexity: Medium, Feature: Wiki, size: 0.5pt

#7712 Correct misspelling in About page
  _includes/about-page/about-card-news.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, time sensitive, size: 0.25pt, feature: spelling

#7715 Replace 'Github' with 'GitHub' in data-science.yml
  _data/internal/communities/data-science.yml
Labels: role: front end, role: back end/devOps, Complexity: Medium, P-Feature: Communities of Practice, size: 1pt

#7716 Added Marlena Mellody Khim Sai to the LA TDM Calculator leadership page
  _projects/tdm-calculator.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7717 Removed Nayan Bhatt from HackforLA.org website
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7714 Update Project Profile Adding Nilakshi Sahai
  _projects/tdm-calculator.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7721 update project profile remove Kristelle
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7719 Removed api-actionnetwork Script from default-markdown.html and JS file from assets/js
  _layouts/default-markdown.html
  assets/js/api-actionnetwork.js
Labels: role: back end/devOps, Complexity: Small, Feature: Refactor HTML, size: 0.5pt

#7718 Update website.md, remove Mario Anonini, #7459
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7720 Update Project Profile: Remove Gayle Martin from HackforLA.org Website
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7723 added Melissa Perry to the Current Project Team section
  _projects/tdm-calculator.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7713 Update spell-check-audit.md label and issue template
  .github/ISSUE_TEMPLATE/spell-check-audit.md
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, size: 1pt

#7728 Update Project Profile: LA TDM Calculator Remove Ebi Imafidon
  _projects/tdm-calculator.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7733 remove Emma Thrash from Expunge Assist #7705
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7744 Updated Expunge Assist project team with Rick Peng
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7768 Remove Member Anousha Shadrach From LA TDM Calculator
  _projects/tdm-calculator.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7757 Update Project Profile: Add Srishti Gupta to Expunge Assist Page
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7747 Added Rachel Ichniowski Profile to Expunge Assist Leadership
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7748 Replace label in design system audit page
  .github/ISSUE_TEMPLATE/design-system-audit--text-elements.md
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, size: 1pt

#7773 Added Member Nooria Ali To Civic Tech Jobs
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7729 Refactor GHA 'sort-closed-issues.js'
  github-actions/move-closed-issues/sort-closed-issues.js
Labels: role: back end/devOps, Complexity: Large, Feature: Refactor GHA, size: 5pt
