Repository hackforla/website, pull requests merged in 2024-06, with the labels that each got.

#6923 Update schedule-monthly.yml
  .github/workflows/schedule-monthly.yml
Labels: Bug, role: back end/devOps, Complexity: Small, Feature: Refactor GHA, size: 0.5pt

#6917 Added Github-handle for Bryon Heart
  _projects/engage.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6901 Add github handle field
  _projects/food-oasis.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6925 add github handle for kevin nguyen
  _projects/ems-triage-tracker.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6924 Add Mario Antonini to Merge Team
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6963 Removed unused GitHub icon
  assets/images/technologies-icons/github-icon-1.svg
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#6961 Update Pre-Work Checklist (Dev) with Section 1.7
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Labels: role: front end, role: back end/devOps, time sensitive, Feature: Wiki, Complexity: Small, size: 0.5pt

#6965 Replace all instances of `Peer Led` to `Community Led` in .yml files
  _data/internal/communities/engineering.yml
  _data/internal/communities/ui-ux.yml
Labels: role: front end, Complexity: Small, P-Feature: Communities of Practice, size: 0.25pt

#6975 Update Prework Issue Instructions
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Labels: role: front end, role: back end/devOps, Complexity: Medium, time sensitive, Feature: Onboarding/Contributing.md, size: 1pt

#6983 Add github-handle for Lex Roman in heart.md
  _projects/heart.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6972 Improved Accessible Naming for Resource Icons in Project Pages
  _includes/resource-card.html
Labels: role: front end, Complexity: Medium, P-Feature: Project Info and Page, Feature: Accessibility, size: 1pt

#6974 Updated CONTRIBUTING.md 2.7.f
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Feature: Onboarding/Contributing.md, Complexity: Small, size: 0.5pt

#6985 updated svg refernce and styling + removed redundant svg
  _data/internal/toolkitresources.yml
  _includes/svg/icon-github-small.svg
  _sass/components/_toolkit.scss
Labels: role: front end, Complexity: Medium, P-Feature: Toolkit, Feature: Refactor HTML, size: 0.5pt

#6992 Standardize Slack channels using ID in CONTRIBUTING.md - 6858
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Onboarding/Contributing.md, Complexity: Small, size: 0.25pt

#6989 Standardize Slack channels using ID and archives: CONTRIBUTING.md Section 1.5
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Onboarding/Contributing.md, Complexity: Small, size: 0.25pt

#6980 Add GitHub handle for Charlotte Soestini
  _projects/heart.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6973 Update Project page's GitHub icon to icon-github.svg
  _includes/resource-card.html
  _includes/svg/icon-github-color.svg
  _sass/components/_project-page.scss
Labels: role: front end, Complexity: Medium, P-Feature: Project Info and Page, Feature: Refactor HTML, size: 1pt

#6999 Changed QA Validation URL in add-github-handle issue template
  .github/ISSUE_TEMPLATE/add-github-handle.md
Labels: Feature: Administrative, role: front end, role: back end/devOps, Complexity: Medium, size: 1pt

#6991 Updated Virginia Wu's section by adding "github-handle"
  _projects/food-oasis.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7012 Update project profile: expunge assist(remove Curtis add Maria)
  _projects/expunge-assist.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#6766 Update Media Query to Prevent Dropdown Wrapping in Wins Page
  _sass/elements/_old_dropdown_filters.scss
  _sass/variables/_layout.scss
Labels: role: front end, Complexity: Medium, P-Feature: Wins Page, size: 1pt

#6854 New dropdown menu top nav bar
  _data/navigation/main.yml
  _includes/home-page/home-program-areas.html
  _includes/main-nav.html
  _sass/components/_header-nav.scss
  assets/js/nav-accessibility.js
Labels: role: front end, Complexity: Large, Status: Updated, P-Feature: Navigation, Feature: Feature Branch, size: 3pt, ready for product

#6976 Added a meeting description to projects page
  assets/js/project.js
Labels: role: front end, Complexity: Medium, P-Feature: Project Info and Page, time sensitive, P-Feature: Events, P-Feature: Project Meetings, size: 0.25pt

#7016 Add github-handle for Bonnie Wolfe in heart.md
  _projects/heart.md
Labels: good first issue, role: front end, P-Feature: Project Info and Page, size: 0.25pt, role: back end

#7037 Capitalize 'slack' on line 347 in CONTRIBUTING.MD
  CONTRIBUTING.md
Labels: role: front end, Feature: Onboarding/Contributing.md, Complexity: Small, size: 0.5pt

#7038 Fix Capitalization of "Slack" in CONTRIBUTING.MD
  CONTRIBUTING.md
Labels: role: front end, Feature: Onboarding/Contributing.md, Complexity: Small, size: 0.5pt

#7036 Change label in spell check issue template
  .github/ISSUE_TEMPLATE/spell-check-audit.md
Labels: Feature: Administrative, role: front end, role: back end/devOps, Complexity: Medium, size: 1pt, feature: spelling, role: back end

#7053 PBB migration "Issue Trigger"
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Labels: role: back end/devOps, Complexity: Large, Dependency, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 5pt, Feature: API, role: back end

#7054 PBB migration "Pull Request Trigger"
  .github/workflows/pull-request-trigger.yml
Labels: role: back end/devOps, Complexity: Large, Dependency, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 8pt, role: back end

#7055 PBB migration "Schedule Friday"
  .github/workflows/schedule-fri-0700.yml
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
  github-actions/utils/find-linked-issue.js
Labels: role: back end/devOps, Complexity: Large, Dependency, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 8pt, Draft, role: back end

#7056 PBB migration "Move Closed Issues"
  .github/workflows/move-closed-issues.yaml
  github-actions/move-closed-issues/sort-closed-issues.js
Labels: role: back end/devOps, Complexity: Medium, Dependency, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 1pt, Draft, role: back end

#7009 Add GitHub handle roland 6940
  _projects/heart.md
Labels: good first issue, role: front end, P-Feature: Project Info and Page, size: 0.25pt, role: back end

#6984 add github-handle variable for Gian Reyes Dionisio
  _projects/heart.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt, role: back end

#7063 Updated Role for Will Gillis on Website Project Profile
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7059 Add Github-handle in heart.md
  _projects/heart.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7069 Added GitHub Handle Element for Tien Yuan in Heart Project
  _projects/heart.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt, role: back end

#7070 Update Roslyn's role in profile to Developer Co-Lead
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7068 img Tag Refactor in Contributing.md page
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.25pt

#7074 Updated Adrian Inchauste's section by adding "github-handle"
  _projects/heart.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7040 Update-project-profile-expunge-assist #6986
  _projects/expunge-assist.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#7043 Update Team Meeting Data on the Events page to Show Meeting Frequency
  _data/external/vrms_data.json
  _includes/events-page/right-col-content.html
  assets/js/right-col-content.js
Labels: role: front end, Complexity: Medium, P-Feature: Project Info and Page, P-Feature: Events, P-Feature: Project Meetings, size: 0.25pt
