Repository hackforla/website, pull requests merged in 2024-12, with the labels that each got.

#7776 Replaced Broken Terminal Command With Working Terminal Commands in the CONTRIBUTING.md file
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, time sensitive, Feature: Wiki, Complexity: Small, size: 0.25pt

#7791 Replaced label in img-tag-refactor-on-website.md
  .github/ISSUE_TEMPLATE/img-tag-refactor-on-website.md
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, size: 1pt

#7798 Update: Add Rishi Raghu to Civic Tech Jobs
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7793 Make "Learn more" link visible on Redesigned Homepage and link it to About Page
  _includes/home-page/hero.html
Labels: role: front end, P-Feature: About Us, P-Feature: Home page, Complexity: Small, size: 0.25pt

#7803 update pull_request_template with onboard notice
  .github/pull_request_template.md
Labels: role: front end, role: back end/devOps, Feature: Board/GitHub Maintenance, Complexity: Small, size: 0.5pt
