Repository hackforla/website, pull requests merged in 2024-07, with the labels that each got.

#7082 Update CONTRIBUTING.md Section 2.7.d with correct stream branch
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.5pt, role: back end

#7086 Revert "Update Team Meeting Data on the Events page to Show Meeting Frequency"
  _includes/events-page/right-col-content.html
  assets/js/right-col-content.js
Labels: role: front end, Complexity: Medium, P-Feature: Project Info and Page, P-Feature: Events, P-Feature: Project Meetings, size: 0.25pt

#7077 Add 'Leadership Option' to Issue Template for CoP Information Update
  .github/ISSUE_TEMPLATE/communities-of-practice-information-updates.yml
Labels: role: front end, Complexity: Medium, Feature: Board/GitHub Maintenance, size: 0.25pt

#7073 Updated spell checker to ignore member's names
  cspell.json
Labels: role: back end/devOps, Complexity: Medium, size: 1pt, feature: spelling, role: back end

#7106 Update "Schedule Friday" workflow to account for July, Dec. breaks
  .github/workflows/schedule-fri-0700.yml
Labels: role: back end/devOps, time sensitive, Complexity: Small, Feature: Refactor GHA, size: 0.25pt

#6969 Notify multiple issues 4505
  .github/workflows/issue-trigger.yml
  github-actions/trigger-issue/add-preliminary-comment/multiple-issue-reminder.md
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Labels: role: back end/devOps, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 8pt, Complexity: Extra Large

#7121 Updated "Schedule Monthly" to Account for July Break
  .github/workflows/schedule-monthly.yml
  github-actions/trigger-schedule/list-inactive-members/get-contributors-data.js
Labels: role: back end/devOps, time sensitive, Complexity: Small, Feature: Refactor GHA, size: 0.5pt

#7126 7085 review of bump octokit-rest from `20.1.1` to `21.0.0`
  github-actions/trigger-schedule/github-data/get-project-data.js
  github-actions/trigger-schedule/github-data/package-lock.json
  github-actions/trigger-schedule/github-data/package.json
Labels: role: back end/devOps, Complexity: Medium, time sensitive, Feature: Refactor GHA, size: 0.5pt

#7128 Updated CONTRIBUTING.md Section 2.7.d
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.5pt

#7104 Bug fix `find-linked-issue.js` for "Schedule Friday"
  github-actions/utils/find-linked-issue.js
Labels: Bug, role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 3pt

#7130 PR Added github-handle for Sarah Edwards in projects file
  _projects/guides-team.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7129 Refactor img Tag in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, Feature: Refactor HTML, size: 0.5pt

#7131 Replace 'Github' with 'GitHub' in engineering.yml
  _data/internal/communities/engineering.yml
Labels: role: front end, role: back end/devOps, Complexity: Medium, P-Feature: Communities of Practice, size: 1pt

#7136 Replace Github with GitHub in project-managment.yml
  _data/internal/communities/project-management.yml
Labels: role: front end, role: back end/devOps, Complexity: Medium, P-Feature: Communities of Practice, size: 1pt

#7141 Replace 'Github' to 'GitHub' in github.md
  redirections/github.md
Labels: role: front end, role: back end/devOps, Complexity: Medium, P-Feature: Navigation, size: 1pt

#7153 Remove Drake Nguyen from Website project
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt
