Repository hackforla/website, pull requests merged in 2024-03, with the labels that each got.

#6385 Update Project Profile: Remove Ronald Paek from HfLA Website #6257
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#6371 Resolve Code QL alert 19
  pages/communities-of-practice.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Communities of Practice, size: 0.25pt, Feature: Code Alerts

#6400 fix: resolve CodeQL alert
  pages/communities-of-practice.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Communities of Practice, ready for dev lead, size: 0.25pt, Feature: Code Alerts

#6401 added github handle variable for Bitian Zhang to civic-tech-jobs.md
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6362 resolve codeQL alert3 6044
  _includes/current-guides.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Toolkit, size: 0.25pt, Feature: Code Alerts

#6383 Update Communities of Practice: Ops (Add Nayan Bhatt, Zoey Zhang)
  _data/internal/communities/ops.yml
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#6374 create yml data file for former-sponsors-partners
  _data/internal/former-sponsors-partners.yml
Labels: Feature: Administrative, role: front end, role: back end/devOps, Complexity: Small, size: 0.5pt

#6384 Update Guides Team Page - #6373
  _projects/guides-team.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#6393 update-profile-oasis-6311
  _projects/food-oasis.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#6406 removed Adrian Ang from website project profile
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6388 Move program-areas directory and refactor program-areas.html
  _config.yml
  _program-areas/citizen-engagement-card.yml
  _program-areas/civic-tech-infrastructure-card.yml
  _program-areas/diversity-equity-inclusion-card.yml
  _program-areas/environment-card.yml
  _program-areas/justice-card.yml
  _program-areas/social-safety-net-card.yml
  _program-areas/vote-representation-card.yml
  _program-areas/workforce-development-card.yml
  pages/program-areas.html
Labels: role: front end, Complexity: Medium, P-Feature: Program Area, Feature: Refactor HTML, size: 1pt

#6386 updated CONTRIBUTING.md 2.1
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Onboarding/Contributing.md, Complexity: Small, size: 0.5pt

#6394 Remove Richard Kwang from HFLA website leadership
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#6407 moved code-for-america.svg to new folder
  assets/images/former-sponsors-partners/code-for-america.svg
Labels: Feature: Administrative, role: front end, role: back end/devOps, Complexity: Small, size: 0.5pt

#6414 Issue #6258: Remove Sarah Sanger from the page projects/website
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#6434 update Slack icon name in resource card
  _includes/resource-card.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#6431 Include github-handle variable for Sarah Sanger
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6417 added '_site/' to ignorePaths array
  cspell.json
Labels: good first issue, role: front end, role: back end/devOps, size: 0.25pt, feature: spelling

#6435 added github-handle to civic-tech-index
  _projects/civic-tech-index.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6436 ignore _config.yml in cspell config
  cspell.json
Labels: good first issue, Feature: Administrative, role: front end, role: back end/devOps, size: 0.25pt

#6432 added _config.docker.yml file to not be spellchecked by cspell
  cspell.json
Labels: good first issue, Feature: Administrative, role: front end, role: back end/devOps, size: 0.25pt, feature: spelling

#6439 Added github-handle for Bonnie Wolfe in brigade-organizers-playbook.md
  _projects/brigade-organizers-playbook.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6440 Refractor-HTML-2FA.html-line 45-#5710
  _guide-pages/2FA.html
Labels: good first issue, role: front end, role: back end/devOps, Feature: Refactor HTML, size: 0.25pt

#6410 removed Cristina Or from _projects/website.md
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6438 added github handle to Maxwell Countryman Skewes profile 6180
  _projects/civic-tech-index.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6441 img tag refactored in events-page/right-col-content.html
  _includes/events-page/right-col-content.html
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: About Us, Feature: Refactor HTML, size: 0.25pt

#6448 github-handle Bonnie - #6167
  _projects/civic-tech-index.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6461 Added git-handle-Briana Bennet #6171
  _projects/civic-tech-index.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6443 Added github-handle for Muhi-Dean Othman in 100-automations.md
  _projects/100-automations.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6457 add github-handle Aleiya Gafar in brigade-organizers-playbook.md issue -#6154
  _projects/brigade-organizers-playbook.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6462 Secured `wins.js` from XSS vulnerability by replacing `innerHTML`
  assets/js/wins.js
Labels: role: front end, Complexity: Medium, Status: Updated, Feature: Refactor JS / Liquid, size: 1pt

#6469 Create inactive-members json for GHA
  github-actions/utils/_data/inactive-members.json
Labels: role: back end/devOps, Complexity: Small, Feature: Refactor GHA, size: 0.25pt

#6470 bug fix minor edits get timeline js
  github-actions/utils/get-timeline.js
Labels: Bug, role: back end/devOps, Complexity: Small, Feature: Refactor GHA, size: 0.5pt

#6468 Edits to create-new-issue.js to allow for use of a temp file via fs.readFileSync
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
Labels: role: back end/devOps, Complexity: Medium, Feature: Refactor GHA, size: 3pt

#6465 added github-handle under Kevin Phan line27
  _projects/civic-tech-index.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6477 added github-handle for Katrina Bonoan
  _projects/brigade-organizers-playbook.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6486 updates to inactive members md file
  github-actions/trigger-schedule/list-inactive-members/inactive-members.md
Labels: role: back end/devOps, Feature: Board/GitHub Maintenance, Complexity: Small, size: 1pt

#6505 Add Atwater Logo to Citizen Engagement Page
  _data/internal/partners.yml
  assets/images/partners/atwater-village.png
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt, ST: adding assets, ST: branching, ST: YML file, Skill: added image to codebase, Skill: edit YML file

#6502 Github Action that handles self assigning an issue from `New Issue Approval` column
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/trigger-issue/add-preliminary-comment/unassign-from-NIA.md
Labels: role: back end/devOps, Complexity: Large, Feature: Board/GitHub Maintenance, size: 5pt

#6518 Update Project Profile: Guides Team (Add Mary Gabrielian)
  _projects/guides-team.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#6546 Issue #6236: Add github-handle to Layne Mostyn in ballot-nav
  _projects/ballot-nav.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6522 updated photo
  assets/images/credits/team-hands-middle.jpg
Labels: good first issue, role: back end/devOps, P-Feature: Credit, Feature: Feature Branch, size: 0.25pt

#6533 added github-handle to member Leah Ellis in civic-tech-jobs.md
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#6547 Updated CONTRIBUTING.md Section 1.7
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.5pt

#6411 Updated message when no results from filter selection - issue 6299
  assets/js/elements/noResultsMessageFilter.js
Labels: role: front end, Complexity: Large, P-Feature: Home page, P-Feature: Projects page, size: 3pt, p-feature: Projects-check

#6467 Separate Technologies chip into Technology and Language chips
  assets/js/current-projects.js
Labels: role: front end, Complexity: Large, P-Feature: Projects page, size: 2pt

#6508 Fixed a potentially dangerous link
  _includes/current-guides.html
Labels: good first issue, role: front end, role: back end/devOps, size: 0.25pt, Feature: Code Alerts

#6521 updated leadership variable in Project Profile: Expunge Assist
  _projects/expunge-assist.md
Labels: role: front end, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#6536 refactor: use anonymous function as event listener callback for listing meetings
  assets/js/right-col-content.js
Labels: role: front end, role: back end/devOps, Complexity: Medium, size: 1pt, Feature: Code Alerts

#6543 Refactoring to avoid race condition and resolve CodeQL returnless function alert 56
  assets/js/project-meetings.js
Labels: role: front end, role: back end/devOps, Complexity: Medium, size: 1pt, Feature: Code Alerts
