Repository hackforla/website, pull requests merged in 2024-10, with the labels that each got.

#7522 Refactor CONTRIBUTING.md: Removes slash at closure of Image Tag in Section 2.4
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, Feature: Refactor HTML, size: 0.5pt

#7557 Added github-handle for Natalie Aguilar in tech-work-experience
  _projects/tech-work-experience.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7554 Add Danielle Hanson Aras profile under website project
  _projects/website.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.5pt

#7501 Fixed the CSS of Eli Selkin card in Engage's Project page was: displayed nonuniformly
  _sass/components/_project-page.scss
Labels: role: front end, Complexity: Medium, P-Feature: Project Info and Page, size: 0.5pt

#7560 Added github-handle for Amanda Glover on VRMS Project Page
  _projects/vrms.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7559 Removed Ahmed Awadalla project profile from 311 Data
  _projects/311-data.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7568 Fix Slack links in CoP: Ops: leadership variables
  _data/internal/communities/ops.yml
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7558 Replace github with GitHub in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Onboarding/Contributing.md, Complexity: Small, size: 0.5pt

#7564 Added title to suggest-a-feature-or-new-content-for-hackforla-org.md issue template
  .github/ISSUE_TEMPLATE/suggest-a-feature-or-new-content-for-hackforla-org.md
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, size: 2pt

#7579 added Ida Valenzuela as leadership for Civic Tech Jobs
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7588 Removed Farah Khan from Home Unite Us Project
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7592 Update Project Profile: VRMS Add Jack Haeger
  _projects/vrms.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7409 Implemented check for changes in Wins-form (Responses) spreadsheet within Wins Data automation
  google-apps-scripts/gh-requests/Code.js
  google-apps-scripts/wins-form-responses/Code.js
Labels: role: back end/devOps, Complexity: Large, P-Feature: Wins Page, size: 2pt

#7589 Replaced 'Github' with 'GitHub' in tech-work-experience.md
  _projects/tech-work-experience.md
Labels: role: front end, role: back end/devOps, Complexity: Medium, P-Feature: Project Info and Page, Status: Updated, size: 1pt

#7598 Added Kevin Yu's profile to Civic Tech Job section of Projects Page
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, size: 0.25pt

#7538 Refactor `add-label.js` to use `label-directory.json`
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
  github-actions/utils/retrieve-label-directory.js
Labels: role: back end/devOps, Complexity: Large, Feature: Refactor GHA, size: 5pt

#7508 Add additional GitHub field and TWE to Project Profile Card Issue Template
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Labels: role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.5pt

#7599 Updated 'update-label-directory.yml' and 'update-label-directory.js'
  .github/workflows/update-label-directory.yml
  github-actions/utils/update-label-directory.js
Labels: role: back end/devOps, Complexity: Small, Feature: Refactor GHA, size: 3pt

#7628 Updated existing profile of Sanya Nijhawan in Home Unite Us Leadership Section
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7634 Added logic to check for the specified main HFLA website repository before commencing scheduling workflow.
  .github/workflows/schedule-fri-0700.yml
Labels: role: back end/devOps, Complexity: Small, Feature: Refactor GHA, size: 0.25pt

#7616 Update PR template with CodeQL instructions
  .github/pull_request_template.md
Labels: role: front end, role: back end/devOps, Complexity: Medium, size: 0.5pt, Feature: Code Alerts

#7639 Add Allison Profile to 311 Data Page
  _projects/311-data.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7615 Google Apps Script: Migrate Wins Data - Stop generation of AF file
  google-apps-scripts/wins-form-responses/Code.js
Labels: role: back end/devOps, P-Feature: Wins Page, Feature: Google Apps Scripts, size: 1pt, Draft, Complexity: Extra Large

#7656 Replaced ready for dev lead label with ready for merge team label in add-github-handle.md
  .github/ISSUE_TEMPLATE/add-github-handle.md
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, Ready for Prioritization, size: 1pt
