Repository hackforla/website, pull requests merged in 2025-04, with the labels that each got.

#8020 Removed Alex Lee from the VRMS markdown
  _projects/vrms.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8021 Removed Judy Lee's leadership variable
  _projects/vrms.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8022 Removed Stephen Barkely Yeung leadership variable
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8039 Update Project Profile: Expunge Assist Remove Analicia Mejia Mesinas
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8049 Restoring `2 weeks inactive` label after mistaken deletion
  github-actions/utils/_data/label-directory.json
Labels: Status: Urgent, role: back end/devOps, Feature: Board/GitHub Maintenance, Complexity: Small, size: 0.25pt

#7936 Removed Emily Eldar's leadership variable
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8053 Remove PS message in issue trigger
  github-actions/trigger-issue/add-preliminary-comment/developer-complexity-reminder.md
Labels: role: back end/devOps, time sensitive, Complexity: Small, size: 0.5pt, Lang: .md, feature: messaging

#8056 Update Project Profile: Home Unite Us Remove Samuel Kowitch
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8041 Update Project Profile: Home Unite Us Remove Jed Stewart
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8045 Enhance GHA 'post-labels-comment.js'
  github-actions/trigger-issue/add-missing-labels-to-issues/post-labels-comment.js
Labels: role: back end/devOps, Complexity: Large, size: 5pt, Lang: GHA, Skill: enhance

#8037 Enhance GHA `check-complexity-eligibility.js` to use `label-directory.json`
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
Labels: role: back end/devOps, Complexity: Large, size: 5pt, Lang: GHA, Skill: enhance

#8046 Update Project Profile: VRMS New GitHub handle and role of Trillium Smith
  _projects/vrms.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8062 Update Project Profile: Website- add Mugdh Chauhan to Merge Team #7939
  _projects/website.md
Labels: good first issue, role: front end, P-Feature: Project Info and Page, size: 0.25pt

#8061 Removed Amanda Glover from VRMS Project Profile
  _projects/vrms.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8060 Removed Rachel Bracker #7481
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8059 Removed Edwin Jue from 311 Data Project Profile
  _projects/311-data.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8058 Removed Sanju Verungopal from 311 Data
  _projects/311-data.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8077 Update Project Profile leader updates - Add and Remove issue templates
  .github/ISSUE_TEMPLATE/project-profile-leader-updates---add.md
  .github/ISSUE_TEMPLATE/project-profile-leader-updates---remove.md
Labels: Feature: Administrative, role: front end, role: back end/devOps, Complexity: Small, size: 0.25pt

#8082 Bump @octokit/request in /github-actions/trigger-schedule/github-data Security Alert 21
  github-actions/trigger-schedule/github-data/package-lock.json
Labels: role: back end/devOps, time sensitive, Feature: Board/GitHub Maintenance, Complexity: Small, size: 0.5pt

#8069 Removed Ayma Rahman from Guide Team Page
  _projects/guides-team.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8085 Fix bug in `check-complexity-eligiblity.js`
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
  github-actions/utils/query-issue-info.js
Labels: Bug, role: back end/devOps, Complexity: Medium, time sensitive, Feature: Refactor GHA, size: 1pt

#8089 Enhance GHA `preliminary-update-comment.js` to use `label-directory.json`
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Labels: role: back end/devOps, Complexity: Large, size: 5pt, Lang: GHA, Skill: enhance

#8072 Update Project Profile: Website Add Gilbert Quionnez #7755
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8088 Removed Armon Brown from Civic Tech Jobs's Project Team List
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8090 Replaced 'Github' with 'GitHub' in Seciton 4.2.b of CONTRIBUTING.md
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.25pt

#8091 Add Ariel Lasry to Home Unite Us project profile
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt
