Repository hackforla/website, pull requests merged in 2025-08, with the labels that each got.

#8263 Split user Member Activity History file to avoid rate limits
  github-actions/activity-trigger/first-post-to-skills-issue.js
  github-actions/activity-trigger/member_activity_history_bot_22.csv
  github-actions/activity-trigger/member_activity_history_bot_3.csv
  github-actions/activity-trigger/member_activity_history_bot_4.csv
  github-actions/activity-trigger/member_activity_history_bot_5.csv
  github-actions/activity-trigger/member_activity_history_bot_6.csv
  github-actions/activity-trigger/member_activity_history_bot_7.csv
  github-actions/activity-trigger/member_activity_history_bot_8.csv
  github-actions/activity-trigger/member_activity_history_bot_9.csv
Labels: role: back end/devOps, Feature: Onboarding/Contributing.md, Complexity: Small, size: 2pt

#8243 Add Audreen Fune to 311 Data Page
  _projects/311-data.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8276 refactor: add github-handle for Youth Justice Nav
  _projects/youthjusticenav.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#8173 Add github-handle for Emily F. in public-tree-map.md
  _projects/public-tree-map.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#8308 Update check-team-membership.js
  github-actions/utils/check-team-membership.js
Labels: Bug, role: back end/devOps, Feature: Board/GitHub Maintenance, Complexity: Small, size: 0.25pt

#8300 Updated Project Profile Civic-Tech: Removed Manju Chawla
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8310 Bug fix for "Member Activity Trigger" using `pull_request_target`
  .github/workflows/activity-trigger.yml
  github-actions/activity-trigger/post-to-skills-issue.js
Labels: Bug, role: back end/devOps, time sensitive, Feature: Onboarding/Contributing.md, Complexity: Small, size: 0.25pt
