Repository hackforla/website, pull requests merged in 2025-02, with the labels that each got.

#7817 Edit to "Issue Trigger" workflow to exclude closed issues from assignee checks
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
Labels: role: back end/devOps, Complexity: Large, Feature: Refactor GHA, size: 3pt

#7851 Added Abby Rivard to Project Profile: LA TDM Calculator
  _projects/tdm-calculator.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7852 Add github-handle for Josh Bubar in vrms.md
  _projects/vrms.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7861 Added Terence Lo to Civic Tech Jobs project profile
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Status: Updated, size: 0.25pt

#7845 Add Profile HFLA Website Essence Goff
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7777 Refactoring `check-labels.js` to use `label-directory.json`
  github-actions/trigger-issue/add-missing-labels-to-issues/check-labels.js
  github-actions/utils/_data/status-field-ids.js
  github-actions/utils/mutate-issue-status.js
Labels: role: back end/devOps, Complexity: Large, Feature: Refactor GHA, size: 5pt

#7874 Update Project Profile: Home Unite Us Remove Flora Osmond (#7480)
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7880 Update Project Profile removed Eduardo De La Rosa from leadership in Home Unite Us
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7898 Update TDM Calc project profile - remove Jane He
  _projects/tdm-calculator.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7902 Update Project Profile: VRMS Add Katiuska Alecea de Leon
  _projects/vrms.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7897 Update GitHub text in wins.js
  assets/js/wins.js
Labels: role: front end, role: back end/devOps, Complexity: Medium, P-Feature: Wins Page, size: 1pt

#7901 Added Nikhil to Leadership team in VRMs project
  _projects/vrms.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7862 Updated Project Profile: Website Add Sofiat Ajide
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7908 Update Project Profile: VRMS Add Evan Yang
  _projects/vrms.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7906 Add GitHub handle for Ethan Hopkins
  _projects/new-schools-today.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7928 Remove Bryce Lednar from Home Unite Us
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7910 replaces 2 instances of Github with GitHub on line 24
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.25pt

#7933 Change label to `Status: Unassigned by Bot` for previously prioritized issues
  github-actions/trigger-issue/add-preliminary-comment/check-complexity-eligibility.js
  github-actions/trigger-issue/add-preliminary-comment/preliminary-update-comment.js
  github-actions/utils/_data/label-directory.json
Labels: role: back end/devOps, time sensitive, Complexity: Small, Feature: Refactor GHA, size: 3pt

#7932 Update Project Profile: Website- remove Roslyn Wythe
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7931 Update Project Profile- Website: Remove Thinking-Panda
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7947 added Brad Morgan to leadership
  _projects/vrms.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7945 update skills issue template label
  .github/ISSUE_TEMPLATE/skills-issue--developer.md
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, size: 1pt
