Repository hackforla/website, pull requests merged in 2025-01, with the labels that each got.

#7818 Maintenance for `label-directory.json`
  github-actions/utils/_data/label-directory.json
Labels: role: back end/devOps, Complexity: Small, Feature: Refactor GHA, size: 0.5pt

#7821 Remove trailing comma in `label-directory.json`
  github-actions/utils/_data/label-directory.json
Labels: Bug, role: back end/devOps, Complexity: Small, size: 0.25pt, github_actions

#7816 updating contributing.md section 3.1.b.i issue#7641
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.5pt

#7832 Update Project Profile: Civic Tech Jobs Add Roja Pinnamraju
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7822 Added github-handle for Mary Kate Leibman in open-community-survey.md
  _projects/open-community-survey.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#7846 Added France Chan to guides team
  _projects/guides-team.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7840 Add Profile HFLA Website Eleftherios Christou
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7856 Update ui-ux CoP page: Remove Jennifer Nguyen
  _data/internal/communities/ui-ux.yml
Labels: good first issue, role: front end, P-Feature: Project Info and Page, time sensitive, size: 0.25pt
