Repository hackforla/website, pull requests merged in 2025-07, with the labels that each got.

#8240 Bug fix: "Schedule Monthly" workflow
  github-actions/trigger-schedule/list-inactive-members/trim-inactive-members.js
Labels: Bug, role: back end/devOps, Complexity: Small, Feature: Refactor GHA, size: 0.25pt

#8235 Add GitHub handle for Will Gillis
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#8195 Adding test instructions and links to CONTRIBUTING.md #7762
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Complexity: Large, Feature: Wiki, size: 1pt

#8231 Remove Holly Worthen from 311 leadership page
  _projects/311-data.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8241 Site - Remove Daniel Franco
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8236 Removed Allison Jeon in 311 data page
  _projects/311-data.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt
