Repository hackforla/website, pull requests merged in 2025-05, with the labels that each got.

#8107 Replace github with GitHub in CONTRIBUTING.md Section 2.7.f i
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.5pt

#8103 Fix Formatting and Add Log Comments to check-team-membership.js
  github-actions/utils/check-team-membership.js
Labels: role: front end, role: back end/devOps, Complexity: Medium, Feature: Refactor JS / Liquid, size: 5pt

#8115 Update Project Profile: Website- Add Santiago Vidal to Merge Team
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8099 Removed Mary Gabrielian from Guides team
  _projects/guides-team.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8104 Update Project Profile: Remove Kelly Chuang – #7750
  _projects/website.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8118 Added Jasmine Guraya under leadership
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8116 Added Nora Zajzon's info to VRMS page project team
  _projects/vrms.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8127 Removed Muyin Zheng from Home Unite Us page
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8141 Home Unite Us: Add John Wroge
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8142 Home Unite Us: Add Nicci Van
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8121 Google Apps Script - Add Unique IDs to Wins entries
  google-apps-scripts/wins-form-responses/Code.js
Labels: role: back end/devOps, Complexity: Medium, P-Feature: Wins Page, Feature: Google Apps Scripts, size: 2pt

#8143 Added Paul Espinosa Home Unite Us page project team
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8126 Added Jazmyne Newman to leadership
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8146 Update Project Profile: Civic Tech Jobs- Remove Carmen Mak
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8140 Updates not-today.md to add github-handle var for Jacquelin Coronilla
  _projects/not-today.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, size: 0.25pt

#8124 update home-unite-us add Gabriella Dominic
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8148 Add Amy Li profile to Home Unite Us page
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8150 [Home Unite Us] updated Tyler Thome's role
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8158 Labels maintenance: restore deleted `role missing` label
  github-actions/utils/_data/label-directory.json
Labels: role: back end/devOps, Feature: Board/GitHub Maintenance, Complexity: Small, size: 0.5pt

#8155 Refactor minimizeIssueComments() to Avoid Limit
  github-actions/trigger-schedule/add-update-label-weekly/add-label.js
Labels: role: back end/devOps, Complexity: Medium, Feature: Refactor GHA, size: 5pt, Lang: GHA

#8156 Add Giselle Dizon to Expunge Assist
  _projects/expunge-assist.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt
