Repository hackforla/website, pull requests merged in 2025-09, with the labels that each got.

#8312 TEST PULL REQUEST ONLY
  github-actions/activity-trigger/activity-trigger.js
Labels: Ignore: Test

#8304 Update Civic Tech Jobs project profile webpage
  _projects/civic-tech-jobs.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#8315 Update Project Profile Civic-Tech
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8306 Remove Extraneous `$` in wins.js
  assets/js/wins.js
Labels: role: front end, role: back end/devOps, Complexity: Medium, time sensitive, P-Feature: Wins Page, size: 0.5pt

#8302 Remove Sarah Edwards from Guides Team
  _projects/guides-team.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8232 Create New Wins Fields for Response and Review Sheet
  google-apps-scripts/wins-form-responses/Code.js
Labels: role: back end/devOps, Complexity: Large, P-Feature: Wins Page, size: 3pt

#8335 Updated Docker V1 Syntax
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Onboarding/Contributing.md, Complexity: Small, size: 0.5pt

#8345 Add Brittany Sims Profile to CoP Ops
  _data/internal/communities/ops.yml
Labels: good first issue, role: front end, role: back end/devOps, time sensitive, P-Feature: Communities of Practice, size: 0.25pt

#8343 Update Project Profile - Added Brandon Hu
  _projects/civic-tech-jobs.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8321 Creates GHA workflow to notify on deletion of in-use issue labels
  .github/workflows/flag-issues-unlabeled-after-deletion.yml
  .github/workflows/update-label-directory.yml
  github-actions/flag-issues-unlabeled-after-deletion/create-notification-issue.js
  github-actions/flag-issues-unlabeled-after-deletion/format-issue-list.js
  github-actions/flag-issues-unlabeled-after-deletion/get-unlabeled-issues.js
  github-actions/flag-issues-unlabeled-after-deletion/post-to-agenda.js
  github-actions/flag-issues-unlabeled-after-deletion/templates/agenda-error-issue-body.md
  github-actions/flag-issues-unlabeled-after-deletion/templates/agenda-issue-comment.md
  github-actions/flag-issues-unlabeled-after-deletion/templates/notification-issue-body.md
  github-actions/flag-issues-unlabeled-after-deletion/templates/notification-issue-comment.md
  github-actions/utils/_data/static-issue-nums.json
  github-actions/utils/create-templated-issue.js
  github-actions/utils/get-la-timestamp.js
  github-actions/utils/populate-template.js
  github-actions/utils/post-templated-comment.js
Labels: role: back end/devOps, Complexity: Large, Feature: Board/GitHub Maintenance, Feature: Refactor GHA, size: 5pt, Lang: GHA
