Repository hackforla/website, pull requests merged in 2025-06, with the labels that each got.

#8149 Add Nihan Durmaz to Home Unite Us page
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#8171 changed _program-areas files type from '-card.yml' to '.md'
  _program-areas/citizen-engagement.md
  _program-areas/civic-tech-infrastructure.md
  _program-areas/diversity-equity-inclusion.md
  _program-areas/environment.md
  _program-areas/justice.md
  _program-areas/social-safety-net.md
  _program-areas/vote-representation.md
  _program-areas/workforce-development.md
Labels: role: front end, role: back end/devOps, P-Feature: Program Area, Complexity: Small, size: 0.25pt

#8172 Updates CONTRIBUTING.md Docker WSL troubleshooting.
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.5pt

#8177 Restore `2 weeks inactive` label
  github-actions/utils/_data/label-directory.json
Labels: role: back end/devOps, Feature: Board/GitHub Maintenance, Complexity: Small, size: 0.25pt

#8181 Refactored GHA Code for `issue-trigger.yml`
  .github/workflows/issue-trigger.yml
Labels: role: back end/devOps, Complexity: Medium, Feature: Refactor GHA, size: 3pt, Lang: GHA

#8180 fix(toolkit): prevent "?" from being appended to URL when no filters are active
  assets/js/toolkit.js
Labels: role: front end, Complexity: Medium, P-Feature: Toolkit, size: 0.5pt

#8175 Augment "Schedule Monthly" open issues assigned to non-team members
  github-actions/trigger-schedule/list-inactive-members/create-new-issue.js
  github-actions/trigger-schedule/list-inactive-members/get-contributors-data.js
  github-actions/trigger-schedule/list-inactive-members/trim-inactive-members.js
  github-actions/utils/get-open-assigned-issues.js
Labels: role: back end/devOps, Complexity: Large, Feature: Refactor GHA, size: 3pt
