Repository hackforla/website, pull requests merged in 2025-10, with the labels that each got.

#8324 Bug fixes for "Member Activity Trigger", address edge cases
  .github/workflows/activity-trigger.yml
  github-actions/activity-trigger/activity-trigger.js
  github-actions/activity-trigger/post-to-skills-issue.js
  github-actions/utils/mutate-issue-status.js
  github-actions/utils/post-issue-comment.js
  github-actions/utils/query-skills-issue.js
Labels: Bug, role: back end/devOps, Complexity: Large, time sensitive, Feature: Onboarding/Contributing.md, size: 3pt

#8355 Add Citizen Engagement Example Page
  _includes/program-area-pages-cards-example.html
  pages/citizen-engagement-example.html
Labels: role: front end, role: back end/devOps, P-Feature: Program Area, Complexity: Small, P-Feature: Citizen Engagement, size: 0.25pt

#8356 Update expunge-assist.md with two UX Research Co-leads
  _projects/expunge-assist.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#8363 Adding Instructions to Update Project Profile Issue Template
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Labels: Feature: Administrative, role: front end, role: back end/devOps, Complexity: Small, size: 0.25pt
