Repository hackforla/website, pull requests merged in 2025-03, with the labels that each got.

#7951 Replace github with GitHub in CONTRIBUTING.md Section 2.7.e
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.5pt

#7965 Hotfix: Delete Pre-work Template - Developers
  .github/ISSUE_TEMPLATE/pre-work-template--dev.md
Labels: role: back end/devOps, Complexity: Small, size: 0.25pt, feature: skills / productivity ladder dashboard

#7873 Refactor JavaScript so that Project Meetings page sources meeting data from vrms_data.json
  assets/js/project-meetings-check.js
  assets/js/project-meetings.js
Labels: role: front end, Complexity: Medium, P-Feature: Project Meetings, size: 1pt

#7948 Replaced prompt for adding `ready for dev lead` label with prompt for adding `ready for merge team` label
  .github/ISSUE_TEMPLATE/project-profile-card-review-and-update.yml
Labels: role: back end/devOps, Complexity: Medium, Feature: Board/GitHub Maintenance, size: 1pt

#7980 corrected misspellings for envirONment card
  _program-areas/environment-card.yml
  assets/images/program-areas/environment.png
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Program Area, time sensitive, size: 0.25pt, feature: spelling

#7950 Update Project Profile: Website Add Daniel & Kristen & Move Amen, Samhitha, & Priyanka up
  _projects/website.md
Labels: role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, Complexity: Small, size: 0.25pt

#7989 Update Project Profile: Home Unite Us Remove Raji Pradheap
  _projects/home-unite-us.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt

#7992 Replace `Github` with `GitHub` in CONTRIBUTING.md Section 1.4
  CONTRIBUTING.md
Labels: role: front end, role: back end/devOps, Feature: Wiki, Complexity: Small, size: 0.5pt

#7987 Enhanced code to reference the mentioned labels by a general ID
  github-actions/trigger-issue/add-preliminary-comment/check-label-preliminary-update.js
Labels: role: back end/devOps, Complexity: Large, size: 5pt, Lang: GHA, Skill: enhance

#8019 Maintenance on `label_directory.json`
  github-actions/utils/_data/label-directory.json
Labels: role: back end/devOps, Complexity: Small, Feature: Refactor GHA, size: 0.5pt, Lang: GHA

#7985 Inserted Search Tip Modal Into the Project Page Below the Filter Dropdown
  _includes/current-projects.html
  _includes/search-tip-modal.html
  _sass/components/_projects-page.scss
  assets/js/current-projects.js
Labels: role: front end, Complexity: Medium, P-Feature: Projects page, size: 0.25pt

#7981 Added Angela Lee to VRMS leadership, with corrected links
  _projects/vrms.md
Labels: good first issue, role: front end, role: back end/devOps, P-Feature: Project Info and Page, time sensitive, size: 0.25pt
